Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update version.txt
  nats-server/version.txt
Due: nats-server

Update Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Update Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

Update Dockerfile
  vector/Dockerfile
Due: vector

Update version.txt
  vector/version.txt
Due: vector

add new metrics to statsd for metrics export (#812)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

Update trivyignore
  nats-streaming/trivyignore
Due: nats-streaming

Update trivyignore
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

Update trivyignore
  postgres-exporter/trivyignore
Due: postgres-exporter

Update trivyignore
  awsesproxy/trivyignore
Due: awsesproxy

Update trivyignore
  nats-exporter/trivyignore
Due: nats-exporter

Update twistcliignore
  alertmanager/twistcliignore
Due: alertmanager

Update twistcliignore
  postgres-exporter/twistcliignore
Due: postgres-exporter

Update twistcliignore
  registry/twistcliignore
Due: registry

Update trivyignore
  registry/trivyignore
Due: registry

Update trivyignore
  node-exporter/trivyignore
Due: node-exporter

Create twistcliignore
  node-exporter/twistcliignore
Due: node-exporter

Update version.txt
  node-exporter/version.txt
Due: node-exporter

updating new cves
  awsesproxy/trivyignore
  nats-streaming/trivyignore
  postgres-exporter/trivyignore
  postgres-exporter/twistcliignore
  registry/trivyignore
  registry/twistcliignore
Due: awsesproxy, nats-streaming, postgres-exporter, registry

update node-exporter version in Dockerfile
  node-exporter/Dockerfile
Due: node-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
