Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

update statsd-exporter version in Dockerfile
  statsd-exporter/Dockerfile
Due: statsd-exporter

update statsd-exporter version in version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

[Software Bot]update elasticsearch service with version 8.14.3 (#854)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.14.3 (#855)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

[Software Bot]update statsd-exporter service with version 0.27.1 (#856)
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update elasticsearch service with version 8.15.0 (#857)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

remove resolved CVE
  kibana/twistcliignore
Due: kibana

[Software Bot]update kibana service with version 8.15.0 (#858)
  kibana/Dockerfile
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 15.8.0 (#860)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

[Software Bot]update vector service with version 0.40.1 (#859)
  vector/Dockerfile
  vector/version.txt
Due: vector

change ingress-nginx to not need to run with any capabilities
  nginx/Dockerfile
Due: nginx

version bump for ingress-nginx
  nginx/version.txt
Due: nginx

Update Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

Update version.txt
  alertmanager/version.txt
Due: alertmanager

Update Dockerfile with ap-base 3.18.9
  awsesproxy/Dockerfile
Due: awsesproxy

Update version.txt
  awsesproxy/version.txt
Due: awsesproxy

Update Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile with ap-base 3.18.9
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile
  git-sync-relay/Dockerfile
Due: git-sync-relay

Update version.txt
  git-sync-relay/version.txt
Due: git-sync-relay

Update Dockerfile
  init/Dockerfile
Due: init

Update version.txt
  init/version.txt
Due: init

Update Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server
