Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Remove straggling requirements bits
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  Makefile
Due: none

Fix cimg/base
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

APC-1154 - Ap-base update (#1147)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/trivyignore
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/trivyignore
  registry/version.txt
  requirements/requirements.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

Install uv in more places. Check for uv before installing.
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/generate_circleci_config.py
Due: none

Remove unneeded 'uv run'
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Fix another default
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Revert test build change
  redis/version.txt
Due: redis

Migrate to uv (#1150)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .gitignore
  .pre-commit-config.yaml
  Makefile
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  pyproject.toml
  requirements/requirements.in
  requirements/requirements.txt
  uv.lock
Due: none

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update alertmanager version in version.txt
  alertmanager/version.txt
Due: alertmanager

update configmap-reloader version in Dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

update configmap-reloader version in version.txt
  configmap-reloader/version.txt
Due: configmap-reloader

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update openresty version in Dockerfile
  openresty/Dockerfile
Due: openresty

update openresty version in version.txt
  openresty/version.txt
Due: openresty

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update redis version in Dockerfile
  redis/Dockerfile
Due: redis

update redis version in version.txt
  redis/version.txt
Due: redis

update statsd-exporter version in Dockerfile
  statsd-exporter/Dockerfile
Due: statsd-exporter

update statsd-exporter version in version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

⬆️ [APC Bot] Update statsd-exporter to v0.29.0 (#1164)
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

⬆️ [APC Bot] Update prometheus to v3.10.0 (#1162)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus
