Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Fix build error
  nginx/Dockerfile
Due: nginx

Update endorignore
  nginx/endorignore
Due: nginx

Update endorignore
  pgbouncer-exporter/endorignore
Due: pgbouncer-exporter

Updated endorignore
  postgres-exporter/endorignore
Due: postgres-exporter

Update endorignore
  registry/endorignore
Due: registry

Rebuild vector
  vector/endorignore
  vector/version.txt
Due: vector

CVE fix
  kube-state/endorignore
  kube-state/version.txt
  nats-exporter/Dockerfile
  nats-exporter/endorignore
  nats-exporter/version.txt
  openresty/version.txt
  postgresql/version.txt
  statsd-exporter/endorignore
  statsd-exporter/version.txt
  vector/endorignore
  vector/version.txt
Due: kube-state, nats-exporter, openresty, postgresql, statsd-exporter, vector

Update endorignore
  kube-state/endorignore
  nats-exporter/endorignore
  statsd-exporter/endorignore
  vector/endorignore
Due: kube-state, nats-exporter, statsd-exporter, vector

CVE fix 2026-08-04 (#1472)
  kube-state/endorignore
  kube-state/version.txt
  nats-exporter/Dockerfile
  nats-exporter/endorignore
  nats-exporter/version.txt
  openresty/version.txt
  postgresql/version.txt
  statsd-exporter/endorignore
  statsd-exporter/version.txt
  vector/endorignore
  vector/version.txt
Due: kube-state, nats-exporter, openresty, postgresql, statsd-exporter, vector

Bump ap redis version
  redis/version.txt
Due: redis

Bump ap redis version (#1473)
  redis/version.txt
Due: redis

Bump base
  external-secrets/Dockerfile
  external-secrets/endorignore
  external-secrets/version.txt
Due: none

Update endorignore
  external-secrets/endorignore
Due: none

Bump-ap-base-in-eso-image (#1474)
  external-secrets/Dockerfile
  external-secrets/endorignore
  external-secrets/version.txt
Due: none

Improve devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

First pass on forgejo
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  forgejo/Dockerfile
  forgejo/endorignore
  forgejo/metadata.yaml
  forgejo/test.yaml
  forgejo/version.txt
Due: none

Switch to prek
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
Due: none

py 3.12. Add uv targets. update uv lockfile.
  Makefile
  pyproject.toml
  uv.lock
Due: none

s/pre_commit/prek/
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Add tests
  forgejo/test.yaml
Due: none

Allow root user because it is needed for tests.
  forgejo/Dockerfile
  forgejo/test.yaml
Due: none

Disable tests because there is no python in the target
  forgejo/test.yaml
Due: none

Zero out forgejo/endorignore
  forgejo/endorignore
Due: none

PINF-1109 forgejo (#1475)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  Makefile
  docker-compose.yaml
  forgejo/Dockerfile
  forgejo/endorignore
  forgejo/metadata.yaml
  forgejo/test.yaml
  forgejo/version.txt
  pyproject.toml
  uv.lock
Due: none

Update endorignore
  alertmanager/endorignore
Due: alertmanager

new version
  postgresql/version.txt
Due: postgresql

dockerfile change
  postgresql/Dockerfile
Due: postgresql

endpoint script
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

conf files
  postgresql/pg_hba.conf
  postgresql/postgresql.conf
Due: postgresql

Update version
  configmap-reloader/version.txt
Due: configmap-reloader

Bump version ap-vendor
  elasticsearch-exporter/version.txt
  grafana/version.txt
  kube-state/version.txt
  node-exporter/version.txt
  prometheus/version.txt
Due: elasticsearch-exporter, grafana, kube-state, node-exporter, prometheus

Fix node exporter
  node-exporter/endorignore
Due: node-exporter

Fix CVE 2026 08 18 (#1512)
  configmap-reloader/version.txt
  elasticsearch-exporter/version.txt
  grafana/version.txt
  kube-state/version.txt
  node-exporter/endorignore
  node-exporter/version.txt
  prometheus/version.txt
Due: configmap-reloader, elasticsearch-exporter, grafana, kube-state, node-exporter, prometheus

Bump node exporter version
  node-exporter/Dockerfile
  node-exporter/endorignore
  node-exporter/version.txt
Due: node-exporter

Bump node exporter version 1.12.1 (#1513)
  node-exporter/Dockerfile
  node-exporter/endorignore
  node-exporter/version.txt
Due: node-exporter

Potential fix for pull request finding
  postgresql/postgresql.conf
Due: postgresql

Potential fix for pull request finding
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

endor ignore
  postgresql/endorignore
Due: postgresql

remove astrocr from vendor mirror list (#1353)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
