Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update conf
  postgresql/pg_hba.conf
Due: postgresql

endig
  postgresql/endorignore
Due: postgresql

Apply suggestion from @sudarshanrampuria
  postgresql/version.txt
Due: postgresql

Bump all versions
  elasticsearch/version.txt
  external-secrets/Dockerfile
  external-secrets/version.txt
  nginx/version.txt
  openresty/version.txt
  prometheus/version.txt
  redis/version.txt
  statsd-exporter/version.txt
Due: elasticsearch, nginx, openresty, prometheus, redis, statsd-exporter

Fix CVE 2026-08-24 (#1536)
  elasticsearch/version.txt
  external-secrets/Dockerfile
  external-secrets/version.txt
  nginx/version.txt
  openresty/version.txt
  prometheus/version.txt
  redis/version.txt
  statsd-exporter/version.txt
Due: elasticsearch, nginx, openresty, prometheus, redis, statsd-exporter

use sed
  postgresql/Dockerfile
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

new
  postgresql/version.txt
Due: postgresql

correc entrypoint
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

entrypoint update
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

remove cves
  postgresql/endorignore
Due: postgresql

remove conf
  postgresql/pg_hba.conf
  postgresql/postgresql.conf
Due: postgresql

reduce comm
  postgresql/Dockerfile
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

red com
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

Update postgresql/docker-entrypoint-wrapper.sh
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

add trust
  postgresql/docker-entrypoint-wrapper.sh
Due: postgresql

PINF-347: Regenerate postgresql.conf/pg_hba.conf via initdb on upgrade, instead of failing to start (#1511)
  postgresql/Dockerfile
  postgresql/docker-entrypoint-wrapper.sh
  postgresql/version.txt
Due: postgresql

Update ednorignore
  .circleci/config.yml
  alertmanager/endorignore
Due: alertmanager

Update endorignore
  blackbox-exporter/endorignore
Due: blackbox-exporter

Update endorignore
  nats-exporter/endorignore
Due: nats-exporter

Update ednorignore
  nats-exporter/endorignore
  nats-server/endorignore
Due: nats-exporter, nats-server

Update endorignore
  pgbouncer-exporter/endorignore
Due: pgbouncer-exporter

Update endorignore
  postgres-exporter/endorignore
Due: postgres-exporter

Update endorignore
  registry/endorignore
Due: registry

Update endorignore
  grafana/endorignore
Due: grafana

Update external-secrets version to 2.10.0
  external-secrets/Dockerfile
  external-secrets/endorignore
  external-secrets/version.txt
Due: none

Fix CVE
  kube-state/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  prometheus/version.txt
  statsd-exporter/version.txt
Due: kube-state, pgbouncer-krb, prometheus, statsd-exporter

Upgrade go version
  external-secrets/Dockerfile
  kube-state/endorignore
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  prometheus/endorignore
  statsd-exporter/endorignore
Due: kube-state, pgbouncer-krb, prometheus, statsd-exporter

Rollback pgbouncer-krb
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Bump go version
  external-secrets/Dockerfile
Due: none

Update endorignore
  external-secrets/endorignore
Due: none

Fix CVE 2026 09 10 (#1562)
  external-secrets/Dockerfile
  external-secrets/endorignore
  external-secrets/version.txt
  kube-state/endorignore
  kube-state/version.txt
  prometheus/endorignore
  prometheus/version.txt
  statsd-exporter/endorignore
  statsd-exporter/version.txt
Due: kube-state, prometheus, statsd-exporter

Update endorignore
  elasticsearch/endorignore
Due: elasticsearch

Fix elastic search CVE
  elasticsearch/endorignore
  elasticsearch/version.txt
Due: elasticsearch

Update base version
  external-secrets/Dockerfile
Due: none

Update endorignore
  external-secrets/endorignore
  grafana/version.txt
Due: grafana

Update version
  configmap-reloader/version.txt
  kube-state/version.txt
  nginx/version.txt
  openresty/version.txt
  postgresql/version.txt
  prometheus/version.txt
Due: configmap-reloader, kube-state, nginx, openresty, postgresql, prometheus

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
