Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

ap-init curl (#591)
  init/Dockerfile
  init/version.txt
Due: init

update docker dind version 20.10.24
  dind-golang/Dockerfile
  dind-golang/version.txt
Due: dind-golang

update postgresql version 15.4.0
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update dockerfile
  postgresql/Dockerfile
Due: postgresql

update trivyignore
  postgresql/trivyignore
Due: postgresql

update postgresql version 15.4.0 (#592)
  postgresql/Dockerfile
  postgresql/trivyignore
  postgresql/version.txt
Due: postgresql

update dind docker version 24.0.6
  dind-golang/Dockerfile
  dind-golang/trivyignore
  dind-golang/version.txt
Due: dind-golang

update docker dind version 20.10.24 (#593)
  dind-golang/Dockerfile
  dind-golang/trivyignore
  dind-golang/version.txt
Due: dind-golang

update certifi package version to 2023.7.22
  curator/version.txt
Due: curator

update configmap reload to 0.11.1
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

update postgres exporter version 0.14.0
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

update elasticsearch exporter 1.6.0
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

elasticsearch-exporter 1.6.0 (#597)
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

postgres-exporter 0.14.0 (#596)
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

configmap-reloader 0.11.1 (#595)
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

certifi 2023.7.22 and other package updates (#594)
  curator/version.txt
Due: curator

update vector version 0.32.2
  vector/Dockerfile
  vector/trivyignore
  vector/version.txt
Due: vector

vector 0.32.2 (#598)
  vector/Dockerfile
  vector/trivyignore
  vector/version.txt
Due: vector

update statsd exporter 0.23.3
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

update trivyignore
  statsd-exporter/trivyignore
Due: statsd-exporter

update statsd exporter 0.23.3 (#600)
  statsd-exporter/Dockerfile
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

update statsd exporter 0.24.0
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

update statsd exporter 0.24.0 (#601)
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

update redis 6.2.13
  redis/Dockerfile
  redis/version.txt
Due: redis

update trivy ignore
  redis/trivyignore
Due: redis

update redis 6.2.13 (#602)
  redis/Dockerfile
  redis/trivyignore
  redis/version.txt
Due: redis

update openresty
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

openresty 1.21.4-10 (#603)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update nginx packages to 1.25.2
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

nginx 1.25.2 (#604)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

add prisma scan
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update pgbouncer exporter base image
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update twistlick scan
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update context
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update packages
  .circleci/continue-config.yml.j2
Due: none

update circleci config
  .circleci/continue-config.yml
Due: none

Update .circleci/continue-config.yml.j2
  .circleci/continue-config.yml.j2
Due: none

fix pre-commit
  .circleci/continue-config.yml
Due: none

apply suggestions
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none
