Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fluentd 1.16.5 on ubuntu 24.04 (#768)
  fluentd/Dockerfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

Fix invalid match syntax
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

pre-commit run --all-files
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Fix invalid syntax in statsd-exporter configuration (#770)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

Update versions. Remove deprecated setup_remote_docker.version
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  requirements/requirements.txt
Due: none

add mapping for astronomer-providers-logging logs write failures
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

update package manager
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

fix trivy path
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update trivy ignore
  statsd-exporter/trivyignore
Due: statsd-exporter

add mapping for astronomer-providers-logging logs write failures
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Add mapping for astronomer-providers-logging logs write failures (#772)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update node-exporter version in Dockerfile
  node-exporter/Dockerfile
Due: node-exporter

update node-exporter version in version.txt
  node-exporter/version.txt
Due: node-exporter

update twistcli ignore
  vector/twistcliignore
Due: vector

[Software Bot]update vector service with version 0.38.0 (#774)
  vector/Dockerfile
  vector/twistcliignore
  vector/version.txt
Due: vector

update twistcli ignore list
  curator/twistcliignore
Due: curator

[Software Bot]update curator service with version 8.0.14 (#775)
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
Due: curator

update prometheus twistcli ignore
  prometheus/twistcliignore
Due: prometheus

update trivyignore for node exporter
  node-exporter/trivyignore
Due: node-exporter

update nats-streaming version in Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

update nats-streaming version in version.txt
  nats-streaming/version.txt
Due: nats-streaming

[Software Bot]update prometheus service with version 2.45.5 (#777)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

[Software Bot]update node-exporter service with version 1.8.0 (#778)
  node-exporter/Dockerfile
  node-exporter/trivyignore
  node-exporter/version.txt
Due: node-exporter

update nats streaming trivy ignore
  nats-streaming/trivyignore
Due: nats-streaming

update nats-exporter version in Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

update nats-exporter version in version.txt
  nats-exporter/version.txt
Due: nats-exporter

[Software Bot]update nats-streaming service with version 0.25.6 (#779)
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/version.txt
Due: nats-streaming

update twistcli ignore
  nats-exporter/twistcliignore
Due: nats-exporter

update nats exporter twistcli ignore
  nats-exporter/twistcliignore
Due: nats-exporter

[Software Bot]update nats-exporter service with version 0.15.0 (#780)
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
  nats-exporter/version.txt
Due: nats-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
