Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update version
  statsd-exporter/version.txt
Due: statsd-exporter

Remove statsd-exporter
  statsd-exporter/version.txt
Due: statsd-exporter

Update endorignore
  statsd-exporter/endorignore
Due: statsd-exporter

Fix CVE 2026-09-15 (#1580)
  configmap-reloader/version.txt
  elasticsearch/endorignore
  elasticsearch/version.txt
  kube-state/version.txt
  nginx/version.txt
  openresty/version.txt
  postgresql/version.txt
  prometheus/version.txt
Due: configmap-reloader, elasticsearch, kube-state, nginx, openresty, postgresql, prometheus

Updated config
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

statsd-exporter: fix astro_event_scheduler SLA histogram units
  bin/test.py
  docker-compose.yaml
  docker-compose.yaml.j2
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/test.yaml
  statsd-exporter/test/docker-compose-gen2.yaml
  statsd-exporter/test/docker-compose.yaml
  statsd-exporter/test/test.py
  statsd-exporter/version.txt
Due: statsd-exporter

ENV VECTOR_DANGEROUSLY_ALLOW_ENV_VAR_INTERPOLATION=true
  vector/Dockerfile
Due: vector

Fix prek config
  .pre-commit-config.yaml
Due: none

0.58.0-1
  vector/version.txt
Due: vector

Pinf 1268 vector env vars (#1631)
  .pre-commit-config.yaml
  vector/Dockerfile
  vector/version.txt
Due: vector

nats-exporter 0.20.2
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

prek run --all-files
  .circleci/config.yml
Due: none

APC-1951: pin c-ares to 1.34.6 and openssl-dev to 3.6 in pgbouncer
  pgbouncer/Dockerfile
Due: pgbouncer

APC-1951: bump pgbouncer version.txt to 1.24.1-30
  pgbouncer/version.txt
Due: pgbouncer

Ignore one more upstream CVE
  postgres-exporter/endorignore
Due: postgres-exporter

Ignore one more upstream CVE
  pgbouncer-exporter/endorignore
Due: pgbouncer-exporter

Fix URL
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Note that the openssl-dev 3.x pin is temporary
  pgbouncer/Dockerfile
Due: pgbouncer

PINF-1286: build nats-exporter from Chainguard's prebuilt image
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

Support git worktrees
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
Due: none

Zero out endorignore
  nats-exporter/endorignore
Due: nats-exporter

PINF-1286: build nats-exporter from Chainguard's prebuilt image (#1649)
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  nats-exporter/Dockerfile
  nats-exporter/endorignore
  nats-exporter/version.txt
Due: nats-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
