Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update auth-sidecar/Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar/version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update awsesproxy/Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

update awsesproxy/version.txt
  awsesproxy/version.txt
Due: awsesproxy

update blackbox-exporter/Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

update blackbox-exporter/version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

update git-daemon/Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

update git-daemon/version.txt
  git-daemon/version.txt
Due: git-daemon

update grafana/Dockerfile
  grafana/Dockerfile
Due: grafana

update init/Dockerfile
  init/Dockerfile
Due: init

update init/version.txt
  init/version.txt
Due: init

⬆️ [APC Bot] Update auth-sidecar to v1.29.7 (#1195)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

⬆️ [APC Bot] Update redis to v8.6.2 (#1192)
  redis/Dockerfile
  redis/version.txt
Due: redis

⬆️ [APC Bot] Update nginx-es to v1.29.7 (#1190)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

⬆️ [APC Bot] Update vector to v0.54.0 (#1179)
  vector/Dockerfile
  vector/version.txt
Due: vector

⬆️ [APC Bot] Update postgres-exporter to v0.19.1 (#1191)
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

⬆️ [APC Bot] Update alertmanager to v0.31.1 (#1187)
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

⬆️ [APC Bot] Update grafana to v12.4.2 (#1188)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

⬆️ [APC Bot] Update nats-server to v2.12.6 (#1189)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

update elasticsearch/Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch/version.txt
  elasticsearch/version.txt
Due: elasticsearch
