Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

[Software Bot]update kibana service with version 8.12.2 (#715)
  kibana/Dockerfile
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

update acr image push fix
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

[Software Bot]update nginx service with version 1.10.0 (#713)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.33.1 (#728)
  vector/Dockerfile
  vector/version.txt
Due: vector

update postgres-operator version in Dockerfile
  postgres-operator/Dockerfile
Due: postgres-operator

update postgres-operator version in version.txt
  postgres-operator/version.txt
Due: postgres-operator

update uid for init image
  init/Dockerfile
  init/version.txt
Due: init

fix test case
  init/test.yaml
Due: init

fix test
  init/test.yaml
Due: init

update dockerfile
  init/Dockerfile
  init/test.yaml
Due: init

fix tests
  init/test.yaml
Due: init

update twistcli cve ignore
  init/twistcliignore
Due: init

update base tag
  init/Dockerfile
Due: init

update twistcliignore
  postgres-operator/twistcliignore
Due: postgres-operator

update uid for init image to run natively on openshift (#731)
  init/Dockerfile
  init/test.yaml
  init/twistcliignore
  init/version.txt
Due: init

[Software Bot]update postgres-operator service with version 1.11.0 (#730)
  postgres-operator/Dockerfile
  postgres-operator/twistcliignore
  postgres-operator/version.txt
Due: postgres-operator

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

[Software Bot]update curator service with version 8.0.13 (#732)
  curator/Dockerfile
  curator/version.txt
Due: curator

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

Update Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

Update version.txt
  awsesproxy/version.txt
Due: awsesproxy

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  git-sync-relay/Dockerfile
Due: none

Update version.txt
  git-sync-relay/version.txt
Due: none

Update Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter
