Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update nginx/Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx/version.txt
  nginx/version.txt
Due: nginx

update nginx-es/Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es/version.txt
  nginx-es/version.txt
Due: nginx-es

⬆️ [APC Bot] Update auth-sidecar to v1.29.8 (#1203)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

⬆️ [APC Bot] Update init to v2026.03.24 (#1202)
  init/Dockerfile
  init/version.txt
Due: init

⬆️ [APC Bot] Update nginx-es to v1.29.8 (#1210)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

⬆️ [APC Bot] Update git-daemon to v2026.03.24 (#1207)
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

update elasticsearch/Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch/version.txt
  elasticsearch/version.txt
Due: elasticsearch

update git-sync/Dockerfile
  git-sync/Dockerfile
Due: git-sync

update git-sync/version.txt
  git-sync/version.txt
Due: git-sync

add docker file
  node-exporter/Dockerfile
Due: node-exporter

version
  node-exporter/version.txt
Due: node-exporter

remove tests
  node-exporter/test.yaml
Due: node-exporter

⬆️ [APC Bot] Update elasticsearch to v8.19.14 (#1211)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

PINF-407: Migrate Node exporter to chainguard image (#1214)
  node-exporter/Dockerfile
  node-exporter/test.yaml
  node-exporter/version.txt
Due: node-exporter

alertmanager
  alertmanager/Dockerfile
Due: alertmanager

awsesproxy
  awsesproxy/Dockerfile
Due: awsesproxy

registry, postgres-exporter, postgres-exporter
  pgbouncer-exporter/Dockerfile
  postgres-exporter/Dockerfile
  registry/Dockerfile
Due: pgbouncer-exporter, postgres-exporter, registry

all updates
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  git-daemon/Dockerfile
  git-sync/Dockerfile
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  pgbouncer/Dockerfile
Due: blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer

remove extra space
  alertmanager/Dockerfile
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  git-daemon/Dockerfile
  git-sync/Dockerfile
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer/Dockerfile
  postgres-exporter/Dockerfile
  registry/Dockerfile
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

version updates
  alertmanager/version.txt
  awsesproxy/version.txt
  blackbox-exporter/version.txt
  curator/version.txt
  git-daemon/version.txt
  git-sync/version.txt
  init/version.txt
  nats-exporter/version.txt
  nats-server/version.txt
  pgbouncer-exporter/version.txt
  pgbouncer/version.txt
  postgres-exporter/version.txt
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

APC-1246: Update base images for all packages (#1215)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

⬆️ [APC Bot] Update nginx to v1.14.5-dev (#1213)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update nats-server/Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server/version.txt
  nats-server/version.txt
Due: nats-server

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
