Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Update Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Update Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

Update Dockerfile
  vector/Dockerfile
Due: vector

Update version.txt
  vector/version.txt
Due: vector

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

[Software Bot] vector 0.40.2 (#862)
  vector/Dockerfile
  vector/version.txt
Due: vector

Update trivyignore
  alertmanager/trivyignore
Due: alertmanager

resolving commit changes
  alertmanager/trivyignore
  awsesproxy/trivyignore
  blackbox-exporter/trivyignore
  curator/twistcliignore
  nats-exporter/trivyignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  pgbouncer-exporter/trivyignore
  postgres-exporter/trivyignore
  registry/trivyignore
Due: alertmanager, awsesproxy, blackbox-exporter, curator, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, postgres-exporter, registry

resolving commit changes
  alertmanager/trivyignore
Due: alertmanager

use ap-base 3.18.9 (#863)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

Delete alertmanager/Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

Delete alertmanager/version.txt
  alertmanager/version.txt
Due: alertmanager

Delete awsesproxy/Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

Delete awsesproxy/version.txt
  awsesproxy/version.txt
Due: awsesproxy

Delete blackbox-exporter/Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Delete blackbox-exporter/version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Delete curator/Dockerfile
  curator/Dockerfile
Due: curator

Delete curator/version.txt
  curator/version.txt
Due: curator

Delete git-daemon/Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Delete vector/version.txt
  vector/version.txt
Due: vector

Delete git-daemon/version.txt
  git-daemon/version.txt
Due: git-daemon

Delete git-sync-relay/Dockerfile
  git-sync-relay/Dockerfile
Due: git-sync-relay

Delete pgbouncer-krb/version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Delete postgres-exporter/Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Delete git-sync-relay/version.txt
  git-sync-relay/version.txt
Due: git-sync-relay

Delete init/Dockerfile
  init/Dockerfile
Due: init

Delete init/version.txt
  init/version.txt
Due: init
