Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

add dev tag
  auth-sidecar/Dockerfile
Due: auth-sidecar

comment test for now
  auth-sidecar/Dockerfile
  auth-sidecar/test.yaml
Due: auth-sidecar

add 2 back
  auth-sidecar/Dockerfile
Due: auth-sidecar

update tag
  auth-sidecar/version.txt
Due: auth-sidecar

replace chainguard
  configmap-reloader/Dockerfile
Due: configmap-reloader

generating an image for claude-code
  .circleci/config.yml
  .circleci/continue-config.yml
  bin/docker-operations.py
  claude-code/Dockerfile
  claude-code/metadata.yaml
  claude-code/test.yaml
  claude-code/version.txt
Due: none

resolving issues
  bin/docker-operations.py
  docker-compose.yaml
Due: none

resolving ruff error
  bin/docker-operations.py
Due: none

resolving trivyignore
  claude-code/trivyignore
Due: none

removing docker.io. only quay needed
  .circleci/continue-config.yml
Due: none

remove docker.io 2
  .circleci/continue-config.yml
Due: none

revert the changes
  .circleci/continue-config.yml
Due: none

Add ap-claude-code service image (#1099)
  .circleci/config.yml
  .circleci/continue-config.yml
  bin/docker-operations.py
  claude-code/Dockerfile
  claude-code/metadata.yaml
  claude-code/test.yaml
  claude-code/trivyignore
  claude-code/version.txt
  docker-compose.yaml
Due: none

added comments & only focusing on the amd64 arch
  claude-code/Dockerfile
Due: none

udpating the display version for this pr
  claude-code/Dockerfile
  claude-code/version.txt
Due: none

new line added
  claude-code/version.txt
Due: none

udpating the license link to point to github
  claude-code/metadata.yaml
Due: none

add dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

fix dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

update version
  configmap-reloader/version.txt
Due: configmap-reloader

Update pgbouncer dockerfile
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

Remove dockerize
  pgbouncer/Dockerfile
Due: pgbouncer

Whitelist branch
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update grafana version
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

use sed
  grafana/Dockerfile
Due: grafana

remove busybox
  configmap-reloader/Dockerfile
Due: configmap-reloader

Add statsd metrics collection for Astronomer Cosmos
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

update test
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

remove trivyignore
  configmap-reloader/trivyignore
Due: configmap-reloader

add sleep
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

Update version.txt to check if CI is happier
  statsd-exporter/version.txt
Due: statsd-exporter

update netrypoint
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

remove docker endpoint
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

add entrypoiny
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

remove the test
  configmap-reloader/test.yaml
Due: configmap-reloader

recover test
  configmap-reloader/test.yaml
Due: configmap-reloader

add some entrypoint
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

add /var/run/config
  configmap-reloader/Dockerfile
Due: configmap-reloader

remove test
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

correct dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
