Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Revert debug stuff
  grafana/include/platform-overview.json
Due: grafana

Update requirements used in tests
  requirements/requirements.txt
Due: none

fix grafana platform disk (#546)
  grafana/Dockerfile
  grafana/include/platform-overview.json
  grafana/version.txt
Due: grafana

cleanup if GITROOT already exists
  git-sync-relay/gitsync.sh
  git-sync-relay/version.txt
Due: none

code refactor
  git-sync-relay/gitsync.sh
Due: none

update clone logic
  git-sync-relay/gitsync.sh
Due: none

cleanup if GITROOT already exists (#548)
  git-sync-relay/gitsync.sh
  git-sync-relay/version.txt
Due: none

resolve CVE-2023-2650 in nginx packages
  auth-sidecar/version.txt
  nginx-es/version.txt
  nginx/version.txt
Due: auth-sidecar, nginx, nginx-es

resolve CVE-2023-2650 in nginx packages (#549)
  auth-sidecar/version.txt
  nginx-es/version.txt
  nginx/version.txt
Due: auth-sidecar, nginx, nginx-es

update vendor packages to resolve CVE
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  openresty/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, openresty, postgres-exporter, registry

update vendor packages to resolve CVE (#550)
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  openresty/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, openresty, postgres-exporter, registry

update ap-base in pgbouncer-krb
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

update ap-base in pgbouncer-krb (#551)
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

update ap-base in vector
  vector/Dockerfile
  vector/version.txt
Due: vector

update ap-base in vector (#552)
  vector/Dockerfile
  vector/version.txt
Due: vector

Replace docker-compose with `docker compose` (#544)
  .pre-commit-config.yaml
  requirements/requirements.in
  requirements/requirements.txt
  statsd-exporter/test/README.md
  statsd-exporter/test/test.py
Due: statsd-exporter

Push new images for keda version 2.9.3
  keda-metrics-apiserver/Dockerfile
  keda-metrics-apiserver/version.txt
  keda/Dockerfile
  keda/version.txt
Due: keda, keda-metrics-apiserver

add trivyignore files
  keda-metrics-apiserver/trivyignore
  keda/trivyignore
Due: keda, keda-metrics-apiserver

New images for keda version 2.9.3 (#553)
  keda-metrics-apiserver/Dockerfile
  keda-metrics-apiserver/trivyignore
  keda-metrics-apiserver/version.txt
  keda/Dockerfile
  keda/trivyignore
  keda/version.txt
Due: keda, keda-metrics-apiserver

update fluentd to 1.16.1
  fluentd/Dockerfile
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
Due: fluentd

update version
  fluentd/version.txt
Due: fluentd

revert back ubuntu image to 22.04
  fluentd/Dockerfile
Due: fluentd

fluentd 1.16.1 (#554)
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update ubuntu image fluentd service
  fluentd/Dockerfile
  fluentd/version.txt
Due: fluentd

fluentd: ruby 3.1 via ubuntu 23.04 (#555)
  fluentd/Dockerfile
  fluentd/version.txt
Due: fluentd

curator 8.0.4
  curator/Dockerfile
  curator/version.txt
Due: curator

Curator 8.0.4 (#556)
  curator/Dockerfile
  curator/version.txt
Due: curator

Add test for 'pgbouncer_exporter --help'
  pgbouncer-exporter/test.yaml
Due: pgbouncer-exporter

pgbouncer_exporter 0.14.0, ap-base 3.18.0
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

version 0.14.0
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

git-sync 3.6.8
  git-sync/Dockerfile
  git-sync/trivyignore
  git-sync/version.txt
Due: git-sync

Use new registry location
  git-sync/Dockerfile
Due: git-sync

Correct test schema
  pgbouncer-exporter/test.yaml
Due: pgbouncer-exporter

update elastic and kibana version
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/version.txt
Due: elasticsearch, kibana

update elastic and kibana version (#559)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/version.txt
Due: elasticsearch, kibana

Fix version
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

git-sync 3.6.8 (#558)
  git-sync/Dockerfile
  git-sync/trivyignore
  git-sync/version.txt
Due: git-sync

grafana 8.5.27
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

grafana 9.5.5
  grafana/Dockerfile
  grafana/version.txt
Due: grafana
