Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

try new image
  openresty/Dockerfile
Due: openresty

use vanilla build
  openresty/Dockerfile
Due: openresty

precreate FS
  openresty/Dockerfile
Due: openresty

add dockerfile simple
  openresty/Dockerfile
Due: openresty

add expose 8084
  openresty/Dockerfile
Due: openresty

KTLO version bumps
  .circleci/config.yml
  .circleci/config.yml.j2
  .gitignore
  .pre-commit-config.yaml
  requirements/requirements.txt
Due: none

version update
  git-sync/version.txt
Due: git-sync

updatebase
  git-sync/Dockerfile
Due: git-sync

check gitsync
  git-sync/Dockerfile
Due: git-sync

Build git-sync from source
  git-sync/Dockerfile
Due: git-sync

remove CVE-2025-22874
  git-sync/trivyignore
Due: git-sync

use pre built go
  git-sync/Dockerfile
Due: git-sync

Fix CVE-2025-47907 in git-sync binary (#1066)
  git-sync/Dockerfile
  git-sync/trivyignore
  git-sync/version.txt
Due: git-sync

symlink /usr/local/openresty -> /tmp/openresty
  openresty/Dockerfile
Due: openresty

update redis
  redis/version.txt
Due: redis

add tag for redis
  redis/Dockerfile
Due: redis

update upstream file
  redis/Dockerfile
Due: redis

update base
  curator/Dockerfile
Due: curator

revert
  curator/Dockerfile
Due: curator

add dockerfile
  curator/Dockerfile
Due: curator

update version
  curator/version.txt
Due: curator

commenting tests for now
  curator/test.yaml
Due: curator

update test
  curator/test.yaml
Due: curator

python symlink
  curator/Dockerfile
Due: curator

update tests
  curator/Dockerfile
  curator/test.yaml
Due: curator

add curatorfix
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

add packages to docker
  curator/Dockerfile
Due: curator

update
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  curator/version.txt
Due: curator

chcek if test work
  curator/test.yaml
Due: curator

revert tests
  curator/test.yaml
Due: curator

Add actual tag for redis (#1067)
  redis/Dockerfile
  redis/version.txt
Due: redis

Use Chainguard
  postgresql/Dockerfile
Due: postgresql

version update
  postgresql/version.txt
Due: postgresql

update test and docker
  postgresql/Dockerfile
  postgresql/test.yaml
Due: postgresql

Update postgresql image to address fixed CVEs
  postgresql/Dockerfile
Due: postgresql

Add version.txt
  postgresql/version.txt
Due: postgresql

Update postgresql image to address fixed HIGH and CRITICAL CVEs (#1070)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update nginx
  nginx/Dockerfile
Due: nginx

version update
  nginx/version.txt
Due: nginx
