Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Pin awsesproxy to go 1.23
  awsesproxy/Dockerfile
Due: awsesproxy

Fix CVEs (#1074)
  .pre-commit-config.yaml
  Makefile
  alertmanager/Dockerfile
  alertmanager/trivyignore
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  bin/test.py
  git-daemon/Dockerfile
  git-daemon/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  openresty/version.txt
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: alertmanager, awsesproxy, git-daemon, nats-server, openresty, statsd-exporter

grafana
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

remove cves
  grafana/trivyignore
Due: grafana

Update Grafana to use 12.2.0 (#1075)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/version.txt
Due: grafana

add user 1000
  elasticsearch/Dockerfile
Due: elasticsearch

update version
  elasticsearch/version.txt
Due: elasticsearch

Add USER 1000 (#1076)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

⬆️ [Software Bot] Update nginx-es to v1.29.2 (#1077)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

⬆️ [Software Bot] Update auth-sidecar to v1.29.2 (#1078)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

update alpine version in Dockerfile
  alpine/Dockerfile
Due: none

update alpine version in version.txt
  alpine/version.txt
Due: none

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

⬆️ [Software Bot] Update alpine to v3.22.2 (#1079)
  alpine/Dockerfile
  alpine/version.txt
Due: none

⬆️ [Software Bot] Update dogstatsd to v7.69.4 (#1080)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

⬆️ [Software Bot] Update dogstatsd to v7.70.2 (#1081)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

⬆️ [Software Bot] Update dogstatsd to v7.71.2 (#1082)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

redis new tag
  redis/version.txt
Due: redis

remove CVEs
  redis/trivyignore
Due: redis

Update Redis (#1083)
  redis/trivyignore
  redis/version.txt
Due: redis

remove python package
  vector/Dockerfile
Due: vector

update vector
  vector/Dockerfile
  vector/version.txt
Due: vector

remove USER username from dockerfile
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

fix prom entrypoint
  prometheus/entrypoint.sh
  prometheus/version.txt
Due: prometheus

fix pre-commit
  elasticsearch/Dockerfile
Due: elasticsearch

fix elasticsearch UID and prom script fixes (#1085)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
  prometheus/entrypoint.sh
  prometheus/version.txt
Due: elasticsearch, prometheus

uese-chainguard
  elasticsearch-exporter/Dockerfile
Due: elasticsearch-exporter

add official python binaries
  vector/Dockerfile
Due: vector

add python
  vector/Dockerfile
Due: vector

use 0.51.0
  vector/Dockerfile
Due: vector

add symlink
  vector/Dockerfile
Due: vector
