Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Remove urllib workaround
  curator/Dockerfile
Due: curator

curator 7.0.0 (#484)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  curator/Dockerfile
  curator/version.txt
Due: curator

Updating USER name->UID
  alertmanager/Dockerfile
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  elasticsearch-exporter/Dockerfile
  git-daemon/Dockerfile
  git-sync/Dockerfile
  grafana/Dockerfile
  kibana/Dockerfile
  kube-state/Dockerfile
  kube-state/test.yaml
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  nginx/Dockerfile
  postgres-exporter/Dockerfile
  postgres-operator/Dockerfile
  prometheus/Dockerfile
  registry/Dockerfile
  statsd-exporter/Dockerfile
  vector/Dockerfile
Due: alertmanager, blackbox-exporter, curator, elasticsearch-exporter, git-daemon, git-sync, grafana, kibana, kube-state, nats-server, nats-streaming, nginx, postgres-exporter, postgres-operator, prometheus, registry, statsd-exporter, vector

Updating version.txt
  alertmanager/version.txt
  blackbox-exporter/version.txt
  curator/version.txt
  elasticsearch-exporter/version.txt
  git-daemon/version.txt
  git-sync/version.txt
  grafana/version.txt
  kibana/version.txt
  kube-state/version.txt
  nats-server/version.txt
  nginx/version.txt
  pgbouncer-exporter/version.txt
  postgres-operator/version.txt
  prometheus/version.txt
  registry/version.txt
  statsd-exporter/version.txt
  vector/version.txt
Due: alertmanager, blackbox-exporter, curator, elasticsearch-exporter, git-daemon, git-sync, grafana, kibana, kube-state, nats-server, nginx, pgbouncer-exporter, postgres-operator, prometheus, registry, statsd-exporter, vector

fix
  kube-state/test.yaml
Due: kube-state

fix
  kube-state/test.yaml
  nats-streaming/version.txt
  pgbouncer-exporter/version.txt
Due: kube-state, nats-streaming, pgbouncer-exporter

fix
  postgres-exporter/version.txt
Due: postgres-exporter

image scan exception
  git-sync/trivyignore
  kibana/Dockerfile
  kibana/trivyignore
  kibana/version.txt
  kube-state/trivyignore
  nginx/trivyignore
  postgres-operator/Dockerfile
  postgres-operator/trivyignore
  postgres-operator/version.txt
Due: git-sync, kibana, kube-state, nginx, postgres-operator

fix
  postgres-operator/version.txt
Due: postgres-operator

fix
  git-sync/Dockerfile
  git-sync/trivyignore
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: git-sync, nginx

fix
  prometheus/Dockerfile
Due: prometheus

git-sync 3.6.4 https://github.com/kubernetes/git-sync/releases/tag/v3.6.4
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

add bash package to git-sync
  git-sync/Dockerfile
Due: git-sync

git-sync 3.6.4 (#486)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

increment gitsync version
  git-sync/version.txt
Due: git-sync

update gitsync version 3.6.4 -> 3.6.4-1
  git-sync/version.txt
Due: git-sync

fix command
  git-sync/Dockerfile
Due: git-sync

add bash package to git-sync (#487)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

Add git config --global --add safe.directory /git
  git-sync/Dockerfile
Due: git-sync

Bump version.txt
  git-sync/version.txt
Due: git-sync

Add git config --global --add safe.directory /git (#488)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

update ap-base image to resolve CVE-2023-0286
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  git-daemon/Dockerfile
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer-krb/Dockerfile
  pgbouncer/Dockerfile
  registry/Dockerfile
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, registry

update versions
  awsesproxy/version.txt
  blackbox-exporter/version.txt
  curator/version.txt
  git-daemon/version.txt
  init/version.txt
  nats-exporter/version.txt
  nats-server/version.txt
  nats-streaming/version.txt
  pgbouncer-exporter/version.txt
  pgbouncer-krb/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, pgbouncer-krb

update registry version
  registry/version.txt
Due: registry

update pgbouncer version
  awsesproxy/trivyignore
  pgbouncer/version.txt
Due: awsesproxy, pgbouncer

update nginx packages
  auth-sidecar/version.txt
  nginx-es/version.txt
  openresty/Dockerfile
  openresty/version.txt
Due: auth-sidecar, nginx-es, openresty

update ap-base image to resolve CVE-2023-0286 (#489)
  auth-sidecar/version.txt
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  nginx-es/version.txt
  openresty/Dockerfile
  openresty/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  registry/Dockerfile
  registry/version.txt
Due: auth-sidecar, awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, nginx-es, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, registry

fix CVE-2023-0286 in elastic packages
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

add CVE ignores and revert docformatter version to 1.5.1
  .pre-commit-config.yaml
  elasticsearch/trivyignore
Due: elasticsearch

update ssl module
  fluentd/Dockerfile
  fluentd/version.txt
Due: fluentd

update kibana patch
  kibana/version.txt
Due: kibana

update fluentd and kibana patch version
  fluentd/Dockerfile
  fluentd/version.txt
  kibana/version.txt
Due: fluentd, kibana

fix CVE-2023-0286 in elastic packages (#490)
  .pre-commit-config.yaml
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/version.txt
Due: elasticsearch

update debain version in postgresql
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update fluentd and kibana patch version (#492)
  fluentd/Dockerfile
  fluentd/version.txt
  kibana/version.txt
  postgresql/Dockerfile
  postgresql/version.txt
Due: fluentd, kibana, postgresql

update python image and resolve openssl cve
  vector/Dockerfile
  vector/version.txt
Due: vector

update python image and resolve openssl cve (#493)
  vector/Dockerfile
  vector/version.txt
Due: vector

resolve base image CVE in nginx ingress service
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update trivyignore list for nginx
  nginx/trivyignore
Due: nginx
