Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update git sync version 4.2.3-1
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

[Software Bot]update kube-state service with version 2.15.0 (#933)
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update grafana service with version 10.4.15 (#934)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update init version in version.txt
  init/version.txt
Due: init

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update openresty version in Dockerfile
  openresty/Dockerfile
Due: openresty

update openresty version in version.txt
  openresty/version.txt
Due: openresty

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

[Software Bot]update auth-sidecar service with version 1.27.3 (#935)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update nginx-es service with version 1.27.3 (#937)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

update version
  openresty/version.txt
Due: openresty

[Software Bot]update postgresql service with version 15.10.0 (#939)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update twistcliignore
  kibana/twistcliignore
Due: kibana

[Software Bot]update openresty service with version 1.27.1.1 (#938)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

fix cve
  kibana/twistcliignore
Due: kibana

update twistcliignore
  elasticsearch/twistcliignore
Due: elasticsearch

[Software Bot]update elasticsearch service with version 8.15.5 (#926)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.15.5 (#927)
  kibana/Dockerfile
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

Use ap-base 3.20.5
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

Use openssl package since libssl1.1 is deprecated.
  curator/Dockerfile
Due: curator

rm -fv /usr/lib/python3.*/EXTERNALLY-MANAGED
  curator/Dockerfile
Due: curator

Remove solved CVEs
  curator/twistcliignore
Due: curator

Use ap-base 3.20.5 (#940)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

Reformat existing content
  git-sync-relay/Dockerfile
Due: git-sync-relay

nit: use json syntax for entrypoint
  git-sync-relay/Dockerfile
Due: git-sync-relay

Move git-sync-relay build to github.com/astronomer/git-sync-relay (private repo)
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
  git-sync-relay/test.yaml
  git-sync-relay/twistcliignore
  git-sync-relay/version.txt
Due: git-sync-relay

add kube-rbac-proxy dockerfile
  kube-rbac-proxy/Dockerfile
  kube-rbac-proxy/version.txt
Due: none

add tests and trivy changes
  kube-rbac-proxy/test.yaml
  kube-rbac-proxy/trivyignore
  kube-rbac-proxy/twistcliignore
Due: none

pre-commit fixes
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  kube-rbac-proxy/test.yaml
Due: none

dockerfile fix
  kube-rbac-proxy/Dockerfile
Due: none

removing tests for now
  kube-rbac-proxy/test.yaml
Due: none
