Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fix twistcli cve ignore
  elasticsearch/twistcliignore
Due: elasticsearch

⬆️ [Software Bot] Update elasticsearch to v8.18.1 (#1032)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

⬆️ [Software Bot] Update elasticsearch to v8.18.2 (#1034)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

⬆️ [Software Bot] Update kibana to v8.18.2 (#1035)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

add trivyignore
  auth-sidecar/trivyignore
Due: auth-sidecar

add trivyignore to authsidecar (#1036)
  auth-sidecar/trivyignore
Due: auth-sidecar

update pgbouncer to use robs kerberized pgbouncer repo
  pgbouncer/Dockerfile
Due: pgbouncer

nast streaming
  nats-streaming/Dockerfile
  nats-streaming/version.txt
Due: nats-streaming

update checksum
  nats-streaming/Dockerfile
Due: nats-streaming

trivy ignore
  nats-streaming/trivyignore
Due: nats-streaming

ap-base update
  alertmanager/Dockerfile
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  git-daemon/Dockerfile
  git-sync-relay/Dockerfile
  git-sync/Dockerfile
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer-krb/Dockerfile
  pgbouncer/Dockerfile
  postgres-exporter/Dockerfile
  registry/Dockerfile
  vector/Dockerfile
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

pre-commit
  nats-streaming/trivyignore
Due: nats-streaming

fix nats streaming
  nats-streaming/Dockerfile
Due: nats-streaming

version fixes
  awsesproxy/version.txt
  curator/twistcliignore
  git-sync/trivyignore
  nats-streaming/trivyignore
  postgres-exporter/version.txt
  registry/version.txt
  vector/version.txt
Due: awsesproxy, curator, git-sync, nats-streaming, postgres-exporter, registry, vector

checksum
  nats-streaming/Dockerfile
Due: nats-streaming

checksum update
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
Due: nats-streaming

update trivy
  nats-streaming/trivyignore
Due: nats-streaming

version updates
  alertmanager/version.txt
  curator/twistcliignore
  curator/version.txt
  git-daemon/version.txt
  git-sync-relay/version.txt
  git-sync/version.txt
  init/version.txt
  pgbouncer-exporter/version.txt
  pgbouncer/version.txt
Due: alertmanager, curator, git-daemon, git-sync, git-sync-relay, init, pgbouncer, pgbouncer-exporter

pre-commit
  curator/twistcliignore
Due: curator

version updates
  blackbox-exporter/version.txt
  nats-exporter/version.txt
  nats-server/version.txt
  pgbouncer-krb/version.txt
Due: blackbox-exporter, nats-exporter, nats-server, pgbouncer-krb

nats stream
  nats-streaming/Dockerfile
Due: nats-streaming

remove cve
  nats-streaming/twistcliignore
Due: nats-streaming

remove cve
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-server/twistcliignore
  nats-streaming/twistcliignore
Due: nats-exporter, nats-server, nats-streaming

update NATS_EXPORTER_VERSION
  nats-exporter/Dockerfile
Due: nats-exporter

fix nats
  nats-exporter/Dockerfile
Due: nats-exporter

6786 Move git-sync-relay build to github.com/astronomer/git-sync-relay (private repo) (#941)
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
  git-sync-relay/test.yaml
  git-sync-relay/twistcliignore
  git-sync-relay/version.txt
Due: git-sync-relay

update to add queued duration
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

update trivy and version
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

upgrade prometheus to 3.4.2
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

twistignore
  prometheus/twistcliignore
Due: prometheus

Upgrade Prometheus from 2.53.4 to 3.4.2 (#1041)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

Use chainguard redis image with our customizations
  redis/Dockerfile
  redis/build-redis.sh
  redis/docker-entrypoint.sh
  redis/install_packages
  redis/version.txt
Due: redis

Switch to root before installing and configuring stuff
  redis/Dockerfile
Due: redis

Switch to uv pip compile
  Makefile
Due: none

Fix all version.txt end of files
  alpine/version.txt
  auth-sidecar/version.txt
  configmap-reloader/version.txt
  curator/version.txt
  dogstatsd/version.txt
  elasticsearch-exporter/version.txt
  elasticsearch/version.txt
  git-sync/version.txt
  grafana/version.txt
  kibana/version.txt
  nginx-es/version.txt
  nginx/version.txt
  node-exporter/version.txt
  openresty/version.txt
  pgbouncer-exporter/version.txt
  pgbouncer/version.txt
  postgres-exporter/version.txt
  postgres-operator/version.txt
  postgresql/version.txt
  prometheus/version.txt
  python/version.txt
  vector/version.txt
Due: auth-sidecar, configmap-reloader, curator, dogstatsd, elasticsearch, elasticsearch-exporter, git-sync, grafana, kibana, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, postgres-exporter, postgres-operator, postgresql, prometheus, vector

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
