Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Update versions in vendor packages (#1219)
  configmap-reloader/version.txt
  elasticsearch-exporter/version.txt
  external-secrets/version.txt
  grafana/version.txt
  kube-state/version.txt
  nginx/version.txt
  node-exporter/Dockerfile
  node-exporter/version.txt
  openresty/version.txt
  postgresql/version.txt
  prometheus/version.txt
Due: configmap-reloader, elasticsearch-exporter, grafana, kube-state, nginx, node-exporter, openresty, postgresql, prometheus

vector
  .circleci/config.yml
  vector/Dockerfile
  vector/version.txt
Due: vector

statsd
  statsd-exporter/version.txt
Due: statsd-exporter

es-exporter
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

alertmanager
  alertmanager/version.txt
Due: alertmanager

curator
  curator/version.txt
Due: curator

es
  elasticsearch/version.txt
Due: elasticsearch

APC-1298: Update Version of the ap-vendor images. (#1222)
  .circleci/config.yml
  alertmanager/version.txt
  curator/version.txt
  elasticsearch-exporter/version.txt
  elasticsearch/version.txt
  statsd-exporter/version.txt
  vector/Dockerfile
  vector/version.txt
Due: alertmanager, curator, elasticsearch, elasticsearch-exporter, statsd-exporter, vector

Add statsd mapping for astro_event_scheduler metrics
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Bump statsd-exporter version to 0.29.0-3
  statsd-exporter/version.txt
Due: statsd-exporter

Add statsd mapping for astro_event_scheduler metrics (#1223)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

add 2026.4.22-1 for git-sync
  git-sync/version.txt
Due: git-sync

rebuild 0.54 vector
  vector/Dockerfile
Due: vector

updaet 0.54.0-1 version
  vector/version.txt
Due: vector

Rebuild 0.54 to get latest CVE fixes (#1226)
  vector/Dockerfile
  vector/version.txt
Due: vector

nats-exporter
  nats-exporter/version.txt
Due: nats-exporter

add upgrade
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

1.25.0-3
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

use 1.25.0-4
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

re-use 17.9
  postgresql/Dockerfile
Due: postgresql

use 17.9-3
  postgresql/version.txt
Due: postgresql

APC-1298: Remediate CVEs in ap-pgbouncer-krb via apk upgrade (#1227)
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

alertmanager
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

awsesproxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

blackbox
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

curator
  curator/Dockerfile
  curator/version.txt
Due: curator

gits
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-daemon, git-sync

init
  init/Dockerfile
  init/version.txt
Due: init

nats
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-exporter, nats-server

pgb
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

pgb-exp
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

pst-exp
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

registry
  registry/Dockerfile
  registry/version.txt
Due: registry

APC-1298: Update base image and go versions (#1228)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry
