Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: image=alertmanager, image=auth-sidecar, image=awsesproxy, image=blackbox-exporter, image=configmap-reloader, image=curator, image=dind-golang, image=dogstatsd, image=elasticsearch, image=elasticsearch-exporter, image=fluentd, image=git-daemon, image=git-sync, image=grafana, image=init, image=keda, image=keda-metrics-apiserver, image=kibana, image=kube-state, image=kubed, image=nats-exporter, image=nats-server, image=nats-streaming, image=nginx, image=nginx-es, image=node-exporter, image=openresty, image=pgbouncer, image=pgbouncer-exporter, image=pgbouncer-krb, image=po-logical-backup, image=po-pgbouncer, image=po-spilo, image=postgres-exporter, image=postgres-operator, image=postgresql, image=prometheus, image=redis, image=registry, image=statsd-exporter, image=vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py
---
version: 2.1

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* image alertmanager
            auth-sidecar/.* image auth-sidecar
            awsesproxy/.* image awsesproxy
            blackbox-exporter/.* image blackbox-exporter
            configmap-reloader/.* image configmap-reloader
            curator/.* image curator
            dind-golang/.* image dind-golang
            dogstatsd/.* image dogstatsd
            elasticsearch/.* image elasticsearch
            elasticsearch-exporter/.* image elasticsearch-exporter
            fluentd/.* image fluentd
            git-daemon/.* image git-daemon
            git-sync/.* image git-sync
            grafana/.* image grafana
            init/.* image init
            keda/.* image keda
            keda-metrics-apiserver/.* image keda-metrics-apiserver
            kibana/.* image kibana
            kube-state/.* image kube-state
            kubed/.* image kubed
            nats-exporter/.* image nats-exporter
            nats-server/.* image nats-server
            nats-streaming/.* image nats-streaming
            nginx/.* image nginx
            nginx-es/.* image nginx-es
            node-exporter/.* image node-exporter
            openresty/.* image openresty
            pgbouncer/.* image pgbouncer
            pgbouncer-exporter/.* image pgbouncer-exporter
            pgbouncer-krb/.* image pgbouncer-krb
            po-logical-backup/.* image po-logical-backup
            po-pgbouncer/.* image po-pgbouncer
            po-spilo/.* image po-spilo
            postgres-exporter/.* image postgres-exporter
            postgres-operator/.* image postgres-operator
            postgresql/.* image postgresql
            prometheus/.* image prometheus
            redis/.* image redis
            registry/.* image registry
            statsd-exporter/.* image statsd-exporter
            vector/.* image vector

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Enabling setup workflows.
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Improving build.
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml.j2
  bin/generate_circleci_config.py
Due: none

Adding continue-config.yml
  .circleci/continue-config.yml
Due: none

Use looser versions so we inherit security fixes
  vector/Dockerfile
Due: image=vector

vector 0.27.0
  vector/Dockerfile
  vector/version.txt
Due: image=vector

git-sync 3.6.3
  git-sync/Dockerfile
  git-sync/version.txt
Due: image=git-sync

git-sync 3.6.3 (#476)
  git-sync/Dockerfile
  git-sync/version.txt
Due: image=git-sync

Updating CircleCI config.
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/generate_circleci_config.py
Due: none

Adding support for overwrite tags.
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Adding run_pre_commit as dependency.
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Testing the build.
  blackbox-exporter/Dockerfile
Due: image=blackbox-exporter

Fixing pre-commit dependency for overwrite pipeline.
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Adding overwrite_tags var
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Trying direct param.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Simplifying pipeline.
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/generate_circleci_config.py
Due: none

Adding pre-commit to generate-config.
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Fixing workflow condition.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Typo fix
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Separating pre-commit workflow.
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Reverting separation of pre-commit workflow.
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Removing extra job.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Reverting test changes.
  blackbox-exporter/Dockerfile
Due: image=blackbox-exporter

Adding backup CI files.
  .circleci/config.yml.j2.bak
  bin/generate_circleci_config.py.bak
Due: none

rebuild fluentd requirements (bump activesupport as a replacement for dependabot #477)
  fluentd/include/Gemfile.lock
Due: image=fluentd

Fix version.txt
  fluentd/version.txt
Due: image=fluentd

Updating docker-build version.
  .circleci/config.yml.j2.bak
  .circleci/continue-config.yml
  bin/generate_circleci_config.py
  bin/generate_circleci_config.py.bak
Due: none

Removing extra config.
  bin/generate_circleci_config.py
Due: none

Using PathFilter to build only changed docker Image (#478)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/generate_circleci_config.py
Due: none

Use looser versions so we inherit security fixes (#475)
  vector/Dockerfile
Due: image=vector

update grafana to 8.5.16 * resolves multiple golanc CVE * updates golang version
  grafana/Dockerfile
  grafana/trivyignore
  grafana/version.txt
Due: image=grafana

update grafana to 8.5.16 (#481)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/version.txt
Due: image=grafana

fluentd 1.15.3 (#479)
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: image=fluentd

add kafka plugin support to fluentd
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: image=fluentd

update pgbouncer 1.18.0
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: image=pgbouncer

update checksum file
  pgbouncer/Dockerfile
Due: image=pgbouncer

fluentd: add kafka plugin (#482)
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: image=fluentd

pgbouncer 1.18.0 (#483)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: image=pgbouncer

curator 7.0.0
  curator/Dockerfile
  curator/version.txt
Due: image=curator

Use newer pre-commit image
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none
