Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

PINF-614, PINF-685: Migrate jbub/pgbouncer_Exporter image to use chainguard based pgbouncer_Exporter. (#1230)
  docker-compose.yaml
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/entrypoint.sh
  pgbouncer-exporter/test.yaml
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

curator
  curator/Dockerfile
  curator/version.txt
Due: curator

pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

registry
  registry/Dockerfile
  registry/version.txt
Due: registry

Ap base update 2025.5.22 (#1252)
  curator/Dockerfile
  curator/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  registry/Dockerfile
  registry/version.txt
Due: curator, pgbouncer, registry

trigger
  alertmanager/Dockerfile
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
Due: alertmanager, awsesproxy, blackbox-exporter

Reruns alertmanager, awsesproxy, blackbox (#1253)
  alertmanager/Dockerfile
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
Due: alertmanager, awsesproxy, blackbox-exporter

prometheus
  prometheus/version.txt
Due: prometheus

PINF-663: Update Proemtheus version (#1254)
  prometheus/version.txt
Due: prometheus

FIx pre-commit
  .circleci/config.yml
Due: none

skip-cve-for-which-fix-version-is-not-present (#1248)
  alertmanager/version.txt
  bin/scan-endorctl.py
Due: alertmanager

Enable endor scans
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Fix pre commit
  .circleci/config.yml
  bin/generate_circleci_config.py
Due: none

Improve endor scans
  bin/scan-endorctl.py
Due: none

Add endorignore
  alertmanager/endorignore
Due: alertmanager

Add endorignore
  blackbox-exporter/Dockerfile
  blackbox-exporter/endorignore
Due: blackbox-exporter

Fix version
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Upgrade crypto to v0.52.0
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

add endorignore
  statsd-exporter/endorignore
Due: statsd-exporter

registry endorignore
  registry/endorignore
Due: registry

Temp to test scan script
  bin/scan-endorctl.py
Due: none

endorignore
  prometheus/endorignore
Due: prometheus

Fix endor scan
  bin/scan-endorctl.py
Due: none

semver and endorignore
  postgresql/endorignore
  postgresql/version.txt
Due: postgresql

nedign
  postgresql/endorignore
Due: postgresql

postgres-exp
  postgres-exporter/endorignore
Due: postgres-exporter

endorignore
  pgbouncer-exporter/endorignore
Due: pgbouncer-exporter

nginx-es
  nginx-es/endorignore
Due: nginx-es

endorignore
  nginx/endorignore
Due: nginx

endorignore
  nats-exporter/endorignore
Due: nats-exporter

nats-server
  nats-server/endorignore
Due: nats-server

endoreignore
  kube-state/endorignore
Due: kube-state

endorignore
  grafana/endorignore
Due: grafana

endorignore
  awsesproxy/endorignore
Due: awsesproxy

Add SLA safety-net mapping and clarify catch-all behavior
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Add histogram timer mapping for astro_event_scheduler SLA metrics
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Bump statsd-exporter version to 0.30.0-1
  statsd-exporter/version.txt
Due: statsd-exporter

pre-commit
  .circleci/config.yml
Due: none

add endorignore
  elasticsearch/endorignore
Due: elasticsearch

Add endor ignore file (#1279)
  .circleci/config.yml
  elasticsearch/endorignore
Due: elasticsearch
