Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

Update Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Update Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

Update Dockerfile
  vector/Dockerfile
Due: vector

Update version.txt
  vector/version.txt
Due: vector

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

update trivy ignore
  nats-server/twistcliignore
Due: nats-server

update trivy ignore
  nats-server/Dockerfile
Due: nats-server

Update twistcliignore
  awsesproxy/twistcliignore
Due: awsesproxy

Update twistcliignore
  pgbouncer-exporter/twistcliignore
Due: pgbouncer-exporter

Update twistcliignore
  postgres-exporter/twistcliignore
Due: postgres-exporter

Update twistcliignore
  registry/twistcliignore
Due: registry

Update twistcliignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

Update twistcliignore
  nats-exporter/twistcliignore
Due: nats-exporter

Update twistcliignore
  nats-server/twistcliignore
Due: nats-server

Update twistcliignore
  nats-streaming/twistcliignore
Due: nats-streaming

adding pre-commit changes
  nats-streaming/twistcliignore
  registry/twistcliignore
Due: nats-streaming, registry

ap-base 3.18.8
  awsesproxy/Dockerfile
  awsesproxy/twistcliignore
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/twistcliignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/twistcliignore
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/twistcliignore
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/twistcliignore
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

Unpin all modules in Gemfile and rebuild Gemfile.lock
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
Due: fluentd

fluentd 1.17.0-1
  fluentd/version.txt
Due: fluentd

exclude cve in postgresql scanning
  postgresql/trivyignore
Due: postgresql

exclude cve in postgresql scanning (#840)
  postgresql/trivyignore
Due: postgresql

[Software Bot]update nats-server service with version 2.10.16 (#837)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
