Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update NATS_STREAMING_SHA256_CHECKSUM
  nats-streaming/Dockerfile
Due: nats-streaming

update registry sha
  registry/Dockerfile
  registry/trivyignore
Due: registry

alertmanager
  alertmanager/trivyignore
Due: alertmanager

remove nats
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/version.txt
Due: nats-streaming

update pgbouncer-exporter trivyignore
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

add google.golang.org/grpc@v1.79.3
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

registry trivyignore
  registry/trivyignore
Due: registry

update golang.org/x/oauth2@v0.34.0
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

update golang.org/x/crypto@v0.45.0 to blackbox
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

pgbouncer trivy
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

update alertmanager version in Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager version in version.txt
  alertmanager/version.txt
Due: alertmanager

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update awsesproxy version in Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

update awsesproxy version in version.txt
  awsesproxy/version.txt
Due: awsesproxy

update blackbox-exporter version in Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

update blackbox-exporter version in version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update git-daemon version in Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

update git-daemon version in version.txt
  git-daemon/version.txt
Due: git-daemon

update git-sync version in Dockerfile
  git-sync/Dockerfile
Due: git-sync

update git-sync version in version.txt
  git-sync/version.txt
Due: git-sync

update init version in Dockerfile
  init/Dockerfile
Due: init

update init version in version.txt
  init/version.txt
Due: init

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

Update base (#1166)
  alertmanager/Dockerfile
  alertmanager/trivyignore
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/trivyignore
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/trivyignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/trivyignore
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

remove trivy
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .gitignore
  README.md
  bin/generate_circleci_config.py
  bin/trivy-scan.sh
  bin/trivy_validator.py
  grafana/trivy.yaml
  grafana/trivyignore
Due: grafana

remvoe all trivyignore files
  alertmanager/trivyignore
  alpine/trivyignore
  auth-sidecar/trivyignore
  awsesproxy/trivyignore
  blackbox-exporter/trivyignore
  configmap-reloader/trivyignore
  curator/trivyignore
  dind-golang/trivyignore
  dogstatsd/trivyignore
  elasticsearch/trivyignore
  git-sync/trivyignore
  keda-metrics-apiserver/trivyignore
  keda/trivyignore
  kibana/trivyignore
  kube-state/trivyignore
  nats-exporter/trivyignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  nginx/trivyignore
  node-exporter/trivyignore
  pgbouncer-exporter/trivyignore
  pgbouncer-krb/trivyignore
  pgbouncer/trivyignore
  postgres-exporter/trivyignore
  postgres-operator/trivyignore
  postgresql/trivyignore
  prometheus/trivyignore
  python/trivyignore
  redis/trivyignore
  registry/trivyignore
  statsd-exporter/trivyignore
  vector/trivyignore
Due: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, git-sync, keda, keda-metrics-apiserver, kibana, kube-state, nats-exporter, nats-server, nats-streaming, nginx, node-exporter, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector
