Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile with ap-base 3.18.6 -> 3.18.6-1
  vector/Dockerfile
Due: vector

Update version.txt
  vector/version.txt
Due: vector

Update twistcliignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

resolving pre commit issues
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

Update nats-server and ap-base versions (#734)
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

[Software Bot]update nats-server service with version 2.10.10 (#736)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

dockerfile enhancements
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer/Dockerfile
Due: nats-exporter, nats-server, nats-streaming, pgbouncer

fix build failures
  nats-exporter/Dockerfile
Due: nats-exporter

env vars update
  pgbouncer/Dockerfile
Due: pgbouncer

update naming for nats
  nats-server/Dockerfile
Due: nats-server

dockerfile enhancements (#737)
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer/Dockerfile
Due: nats-exporter, nats-server, nats-streaming, pgbouncer

update pgbouncer version in Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

[Software Bot]update pgbouncer service with version 1.21.0 (#738)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

[Software Bot]update pgbouncer service with version 1.22.1 (#739)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

[Software Bot]update vector service with version 0.34.0 (#733)
  vector/Dockerfile
  vector/version.txt
Due: vector

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector
