Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Use python 3.11, ci-pre-commit:2023-12
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Bump version so we can test a pipeline.
  awsesproxy/version.txt
Due: awsesproxy

Remove solved CVEs
  awsesproxy/twistcliignore
Due: awsesproxy

Update requirements
  requirements/requirements.txt
Due: none

add conditional config for update ca-certificates
  registry/Dockerfile
  registry/docker-entrypoint.sh
Due: registry

update version
  registry/docker-entrypoint.sh
  registry/version.txt
Due: registry

update cve list
  registry/twistcliignore
Due: registry

Use set() to dedupe the cve list (#662)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .pre-commit-config.yaml
  awsesproxy/twistcliignore
  awsesproxy/version.txt
  bin/twistcli_validator.py
  requirements/requirements.txt
Due: awsesproxy

add conditional config for update ca-certificates (#663)
  registry/Dockerfile
  registry/docker-entrypoint.sh
  registry/twistcliignore
  registry/version.txt
Due: registry

Added old config back
  statsd-exporter/include/mappings-high-cardinality.yml
Due: statsd-exporter

Add config to img
  statsd-exporter/Dockerfile
Due: statsd-exporter

spelling
  statsd-exporter/include/mappings-high-cardinality.yml
Due: statsd-exporter

pre-commit run --all-files
  statsd-exporter/include/mappings-high-cardinality.yml
Due: statsd-exporter

Update twistcli vulns
  statsd-exporter/twistcliignore
Due: statsd-exporter

0.25.0-1
  statsd-exporter/version.txt
Due: statsd-exporter

Update twistcli ignores again... ?
  statsd-exporter/twistcliignore
Due: statsd-exporter

Update Dockerfile with grafana version 10.2.3
  grafana/Dockerfile
Due: grafana

Update version.txt with grafana version 10.2.3
  grafana/version.txt
Due: grafana

Update twistcliignore
  grafana/twistcliignore
Due: grafana

Update Dockerfile with prometheus version 2.48.0
  prometheus/Dockerfile
Due: prometheus

Update version.txt with prometheus version 2.48.0
  prometheus/version.txt
Due: prometheus

Update trivyignore
  grafana/trivyignore
Due: grafana

Update twistcliignore with 2.48.0
  prometheus/twistcliignore
Due: prometheus

Update Dockerfile with kibana 8.11.4
  kibana/Dockerfile
Due: kibana

Update version.txt with kibana version 8.11.4
  kibana/version.txt
Due: kibana

Update Dockerfile with elasticsearch version 8.11.4
  elasticsearch/Dockerfile
Due: elasticsearch

Update version.txt with elasticsearch version 8.11.4
  elasticsearch/version.txt
Due: elasticsearch

update twistcli ignore for elastic packages
  elasticsearch/twistcliignore
  kibana/twistcliignore
Due: elasticsearch, kibana

Update twistcliignore
  kibana/twistcliignore
Due: kibana

Update trivyignore with elastic packages 8.11.4
  kibana/trivyignore
Due: kibana

update statsd exporter 0.25.0 -> 0.26.0
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

Update Dockerfile
  elasticsearch-exporter/Dockerfile
Due: elasticsearch-exporter

elasticsearch-exporter 1.7.0
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

update elastic packages with 8.11.4
  kibana/twistcliignore
Due: kibana

update ap-base 3.18.4 -> 3.18.5
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  init/Dockerfile
  init/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, pgbouncer-exporter, postgres-exporter, registry

update twistcli ignore CVE
  statsd-exporter/twistcliignore
Due: statsd-exporter

update CVE in twistcliignore
  blackbox-exporter/Dockerfile
  blackbox-exporter/twistcliignore
  curator/twistcliignore
  git-daemon/twistcliignore
Due: blackbox-exporter, curator, git-daemon

update nginx version with 1.9.5
  nginx/Dockerfile
Due: nginx

Update version.txt
  nginx/version.txt
Due: nginx
