Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update kube-state-metrics version 2.9.2
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

update upstrem registry for kube state metrics
  kube-state/Dockerfile
Due: kube-state

add cve to ignore list
  kube-state/twistcliignore
Due: kube-state

Fix script condition mistake
  bin/twistcli_validator.py
Due: none

kube-state-metrics 2.9.2 (#613)
  bin/twistcli_validator.py
  kube-state/Dockerfile
  kube-state/twistcliignore
  kube-state/version.txt
Due: kube-state

update kube state metrics to 2.10.0
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

Simplify the new_cves printing
  bin/twistcli_validator.py
Due: none

update twistcliignore
  kube-state/twistcliignore
Due: kube-state

update gitdaemon base 3.18.3
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

kube-state-metrics 2.10.0 (#614)
  kube-state/Dockerfile
  kube-state/twistcliignore
  kube-state/version.txt
Due: kube-state

update twistcliignore ignore
  git-daemon/twistcliignore
Due: git-daemon

git-daemon 3.18.3 (#615)
  git-daemon/Dockerfile
  git-daemon/twistcliignore
  git-daemon/version.txt
Due: git-daemon

update base alpine image to latest
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

update twistcliignore
  git-daemon/twistcliignore
Due: git-daemon

update postgres-exporter base
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

update twistcliignore ignore
  pgbouncer-exporter/twistcliignore
  postgres-exporter/trivyignore
Due: pgbouncer-exporter, postgres-exporter

update base images in vendor packages
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  init/Dockerfile
  init/version.txt
Due: blackbox-exporter, curator, init

update golang version in bb exporter
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

update pgbouncer service base packages
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer, pgbouncer-exporter

update ap-git-daemon service (#616)
  git-daemon/Dockerfile
  git-daemon/twistcliignore
  git-daemon/version.txt
Due: git-daemon

update nginx service 1.9.0
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

nginx 1.9.0 (#620)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update prometheus 2.45.1
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update CVE list
  prometheus/twistcliignore
Due: prometheus

update prometheus 2.45.1 (#622)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

update configmap reloader to 0.12.0
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

update configmap reloader to 0.12.0 (#623)
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

update fluentd modules and fix CVE-2023-4911
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update ubuntu base image
  fluentd/Dockerfile
Due: fluentd

add twistcliignore
  fluentd/twistcliignore
Due: fluentd

update ap-init with base 3.18.4
  init/Dockerfile
  init/version.txt
Due: init

update fluentd modules and fix CVE-2023-4911 (#624)
  fluentd/Dockerfile
  fluentd/include/Gemfile.lock
  fluentd/twistcliignore
  fluentd/version.txt
Due: fluentd

update twistcliignore in init service
  init/twistcliignore
Due: init

update ap-init with alpine 3.18.4 (#625)
  init/Dockerfile
  init/twistcliignore
  init/version.txt
Due: init

update postgresql 15.4.0 to r50 base image
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

upgrade grafana version 10.0.8
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update twistcliignore config
  grafana/twistcliignore
Due: grafana

grafana 10.0.8 (#627)
  grafana/Dockerfile
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update postgresql 15.4.0 to r50 base image (#626)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update nats streaming service 0.25.5
  nats-streaming/Dockerfile
  nats-streaming/version.txt
Due: nats-streaming
