Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

blackbox: update crypto and oauth
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

add debug
  nginx/Dockerfile
Due: nginx

revert aws proxy
  awsesproxy/Dockerfile
Due: awsesproxy

add zlib static
  nginx/Dockerfile
Due: nginx

precommit
  nginx/Dockerfile
Due: nginx

remove debug line
  nginx/Dockerfile
Due: nginx

clear trivyignore
  nginx/trivyignore
Due: nginx

1.14.3
  nginx/Dockerfile
Due: nginx

auth-sidecar
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

configmap reloader
  configmap-reloader/version.txt
Due: configmap-reloader

elasticsearch
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

elasticsearch-exporter
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

grafana
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

vector
  vector/Dockerfile
  vector/version.txt
Due: vector

kube-state
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

nginx-es
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

openresty
  openresty/version.txt
Due: openresty

postgresql
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

prometheus
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

stasd-exporter
  statsd-exporter/version.txt
Due: statsd-exporter

grafana 12.2.6
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

Update minor versions of packages to remove CVEs (#1148)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  configmap-reloader/version.txt
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
  elasticsearch/Dockerfile
  elasticsearch/version.txt
  grafana/Dockerfile
  grafana/version.txt
  kube-state/Dockerfile
  kube-state/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
  openresty/version.txt
  postgresql/Dockerfile
  postgresql/version.txt
  prometheus/Dockerfile
  prometheus/version.txt
  statsd-exporter/version.txt
  vector/Dockerfile
  vector/version.txt
Due: auth-sidecar, configmap-reloader, elasticsearch, elasticsearch-exporter, grafana, kube-state, nginx-es, openresty, postgresql, prometheus, statsd-exporter, vector

update version to 1.14.3
  nginx/version.txt
Due: nginx

update alertmanager version in Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager version in version.txt
  alertmanager/version.txt
Due: alertmanager

update registry
  registry/Dockerfile
Due: registry

add script to get NGINX_VERSION
  nginx/Dockerfile
Due: nginx

update nginx
  nginx/Dockerfile
Due: nginx

add trivy
  registry/trivyignore
Due: registry

Update nginx Version (#1145)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: nginx

Update blackbox-exporter/Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

update python and python orb
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update requirements
  requirements/requirements.txt
Due: none

Switch to uv
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .gitignore
  .pre-commit-config.yaml
  Makefile
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  pyproject.toml
  requirements/requirements.in
  requirements/requirements.txt
  uv.lock
Due: none

Bump redis so we have something to test
  redis/version.txt
Due: redis

Remove python bits. Use block scalar folded clip syntax.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
