Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update init version in Dockerfile
  init/Dockerfile
Due: init

update init version in version.txt
  init/version.txt
Due: init

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

update ap-base
  curator/Dockerfile
Due: curator

update init trivyignore cve
  init/twistcliignore
Due: init

update dogstatsd twistcliignore
  dogstatsd/twistcliignore
Due: dogstatsd

[Software Bot]update dogstatsd service with version 7.55.3 (#909)
  dogstatsd/Dockerfile
  dogstatsd/twistcliignore
  dogstatsd/version.txt
Due: dogstatsd

[Software Bot]update init service with version 3.19.4 (#910)
  init/Dockerfile
  init/twistcliignore
  init/version.txt
Due: init

[Software Bot]update nginx service with version 1.11.3 (#911)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update ap-base version
  curator/Dockerfile
Due: curator

update twistcli ignore
  curator/twistcliignore
Due: curator

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

update openresty version in Dockerfile
  openresty/Dockerfile
Due: openresty

update openresty version in version.txt
  openresty/version.txt
Due: openresty

fix version
  openresty/version.txt
Due: openresty

[Software Bot]update curator service with version 8.0.17 (#908)
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
Due: curator

update redis version in Dockerfile
  redis/Dockerfile
Due: redis

update redis version in version.txt
  redis/version.txt
Due: redis

[Software Bot]update postgresql service with version 15.9.0 (#912)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

[Software Bot]update openresty service with version 1.27.1 (#913)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

[Software Bot]update redis service with version 7.4.1 (#914)
  redis/Dockerfile
  redis/version.txt
Due: redis

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update versions
  postgres-exporter/Dockerfile
Due: postgres-exporter

update twistcli ignore
  postgres-exporter/twistcliignore
Due: postgres-exporter

[Software Bot]update postgres-exporter service with version 0.16.0 (#916)
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
Due: postgres-exporter

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

remove redis version
  redis/version.txt
Due: redis

6534 fix trivy.yaml error and unpin trivy (#895)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  bin/trivy-scan.sh
Due: none

update cve images
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
Due: elasticsearch

update kibana cve
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

update twistcli ignore
  fluentd/twistcliignore
Due: fluentd

fluentd 1.17.1, fix webrick CVE (#886)
  fluentd/include/Gemfile.lock
  fluentd/twistcliignore
  fluentd/version.txt
Due: fluentd
