Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fix pre-commit
  postgresql/trivyignore
Due: postgresql

update vendor packages (#690)
  auth-sidecar/version.txt
  nginx-es/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/twistcliignore
  pgbouncer-krb/version.txt
  postgresql/Dockerfile
  postgresql/trivyignore
  postgresql/version.txt
Due: auth-sidecar, nginx-es, pgbouncer-krb, postgresql

update registry base 3.18.6
  registry/Dockerfile
  registry/version.txt
Due: registry

update registry base 3.18.6 (#691)
  registry/Dockerfile
  registry/version.txt
Due: registry

update openresty dependencies
  openresty/version.txt
Due: openresty

openresty 1.25.3-1 (#692)
  openresty/version.txt
Due: openresty

update nginx ingress controller 1.9.5 -> 1.9.6
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update cve ignore list
  nginx/trivyignore
  nginx/twistcliignore
Due: nginx

fix pre-commit
  nginx/trivyignore
Due: nginx

fix pre-commit
  registry/Dockerfile
  registry/version.txt
Due: registry

fix registry cert update permission on openshift (#694)
  registry/Dockerfile
  registry/version.txt
Due: registry

Add azure acr context
  .circleci/continue-config.yml.j2
Due: none

Add push and validate operations for ACR
  .circleci/continue-config.yml.j2
Due: none

Update continue config from pre-commit
  .circleci/continue-config.yml
Due: none

Bump redis so we have something to test in CI
  redis/version.txt
Due: redis

Add Azure Container Registry as an image push target (#695)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  redis/version.txt
Due: redis

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version file
  prometheus/version.txt
Due: prometheus

update alertmanager version in Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager version in version file
  alertmanager/version.txt
Due: alertmanager

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version file
  auth-sidecar/version.txt
Due: auth-sidecar

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version file
  nginx-es/version.txt
Due: nginx-es

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update kube-state version in version file
  kube-state/version.txt
Due: kube-state

update configmap-reloader version in Dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

update configmap-reloader version in version file
  configmap-reloader/version.txt
Due: configmap-reloader

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version file
  grafana/version.txt
Due: grafana

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version file
  nginx/version.txt
Due: nginx

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version file
  elasticsearch/version.txt
Due: elasticsearch

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
