Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update version.txt with 1.5.0-6 to 1.5.0-6
  awsesproxy/version.txt
Due: awsesproxy

Update ap-base from 3.18.5 to 3.18.6
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt 0.24.0-5 to 0.24.0-6
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Update ap-base from 3.18.5 to 3.18.6 , and Curator 8.0.10
  curator/Dockerfile
Due: curator

Update version.txt 8.0.10
  curator/version.txt
Due: curator

Update ap-base from 3.18.5 to 3.18.6
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update ap-base from 3.18.5 to 3.18.6
  git-sync-relay/Dockerfile
Due: none

Update version.txt
  git-sync-relay/version.txt
Due: none

Update ap-base from 3.18.5 to 3.18.6
  init/Dockerfile
Due: init

Update version.txt with 3.18.6
  init/version.txt
Due: init

Update ap-base from 3.18.5 to 3.18.6
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt 0.14.0-1
  nats-exporter/version.txt
Due: nats-exporter

Update ap-base from 3.18.5 to 3.18.6
  nats-server/Dockerfile
Due: nats-server

Update version.txt 2.10.9-2
  nats-server/version.txt
Due: nats-server

Update ap-base from 3.18.5 to 3.18.6
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Update Dockerfile with 2.10.10
  nats-server/Dockerfile
Due: nats-server

Update version.txt with nats-server 2.10.10
  nats-server/version.txt
Due: nats-server

Update ap-base from 3.18.5 to 3.18.6
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update Dockerfile with ap-base from 3.18.5 to 3.18.6
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile with ap-base from 3.18.5 to 3.18.6
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile with ap-base from 3.18.5 to 3.18.6
  vector/Dockerfile
Due: vector

Update version.txt
  vector/version.txt
Due: vector

Update twistcliignore with new CVEs
  curator/twistcliignore
Due: curator

pre-commit run --all-files
  curator/twistcliignore
Due: curator

update ap-base only
  curator/Dockerfile
  curator/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
Due: curator, nats-server

update correct version nats server
  nats-server/version.txt
Due: nats-server

remove fixed CVE
  awsesproxy/twistcliignore
  blackbox-exporter/twistcliignore
  git-daemon/twistcliignore
  nats-exporter/twistcliignore
  nats-server/twistcliignore
  nats-streaming/twistcliignore
  pgbouncer-exporter/twistcliignore
  postgres-exporter/twistcliignore
  vector/twistcliignore
Due: awsesproxy, blackbox-exporter, git-daemon, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, postgres-exporter, vector

update new CVE
  nats-streaming/twistcliignore
Due: nats-streaming

Update ap base image from 3.18.5 --> 3.18.6 (#689)
  awsesproxy/Dockerfile
  awsesproxy/twistcliignore
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/twistcliignore
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/twistcliignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/twistcliignore
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/twistcliignore
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
  vector/Dockerfile
  vector/twistcliignore
  vector/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, postgres-exporter, vector

update pgbouncer exporter
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

remove openssl lib
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

update postgresql version
  pgbouncer-krb/twistcliignore
  postgresql/Dockerfile
  postgresql/version.txt
Due: pgbouncer-krb, postgresql

update libexpat cve
  auth-sidecar/version.txt
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

fix pre-commit
  pgbouncer-krb/twistcliignore
Due: pgbouncer-krb

update trivyignore for postgresql
  postgresql/trivyignore
Due: postgresql

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
