Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Update ignores
  nats-server/trivyignore
  nats-server/twistcliignore
Due: nats-server

Update ignores
  pgbouncer-exporter/twistcliignore
Due: pgbouncer-exporter

git-sync:v4.4.0
  git-sync/Dockerfile
  git-sync/trivyignore
  git-sync/twistcliignore
Due: git-sync

Use new golang for nats-exporter
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
Due: nats-exporter

pre-commit run --all-files
  bin/docker-operations.py
  bin/test.py
Due: none

[Software Bot]update curator service with version 8.0.19 (#963)
  curator/Dockerfile
  curator/version.txt
Due: curator

Fix new env var syntax
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

pre-commit autoupdate. pre-commit run --all-files
  .pre-commit-config.yaml
  bin/test.py
Due: none

git-sync: ignore CVE-2024-51744
  git-sync/twistcliignore
Due: git-sync

nats-server: ignore two CVEs
  nats-server/trivyignore
Due: nats-server

Parse bundle backend metrics in statsd-exporter
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Use double-quotes
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

nats-exporter 1.16.0 which uses golang 1.23
  nats-exporter/Dockerfile
Due: nats-exporter

blackbox-exporter: GO_VERSION=1.21
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Correct golang docker tag
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

use golang 1.22 which is what is used in v0.26.0
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

fix cve
  statsd-exporter/trivyignore
  statsd-exporter/twistcliignore
Due: statsd-exporter

resolves libxml2 with CVE ID: CVE-2025-27113
  auth-sidecar/version.txt
  nats-exporter/version.txt
  nginx-es/version.txt
  openresty/version.txt
Due: auth-sidecar, nats-exporter, nginx-es, openresty

fix version
  statsd-exporter/version.txt
Due: statsd-exporter

fix cve
  statsd-exporter/trivyignore
Due: statsd-exporter

resolves libxml2 with CVE ID: CVE-2025-27113 (#967)
  auth-sidecar/version.txt
  nats-exporter/version.txt
  nginx-es/version.txt
  openresty/version.txt
Due: auth-sidecar, nats-exporter, nginx-es, openresty

fix openshift git clone issue
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
Due: git-sync-relay

fix pre-commit
  git-sync-relay/Dockerfile
Due: git-sync-relay

fix openshift clone issue with gis sync (#968)
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
Due: git-sync-relay

Bump version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

add missing pool metrics to UME (#952)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

Add EOF newlines
  statsd-exporter/trivyignore
  statsd-exporter/twistcliignore
Due: statsd-exporter

Try registry:3.0.0-rc.3
  registry/Dockerfile
Due: registry

Parse bundle backend metrics in statsd-exporter (#966)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

Replace three old CVEs with three new CVEs 😕
  dogstatsd/twistcliignore
Due: dogstatsd

[Software Bot]update dogstatsd service with version 7.62.3 (#970)
  dogstatsd/Dockerfile
  dogstatsd/twistcliignore
  dogstatsd/version.txt
Due: dogstatsd

k8s.gcr.io/ingress-nginx/controller:v1.11.5
  nginx/Dockerfile
Due: nginx

1.11.5
  nginx/version.txt
Due: nginx

k8s.gcr.io/ingress-nginx/controller:v1.11.5 (#971)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

adding codesign
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none
