Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

⬆️ [APC Bot] Update nats-server to v2.12.7 (#1216)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

alertmanager
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

awsesproxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

blackboxexp
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

curator
  curator/Dockerfile
  curator/version.txt
Due: curator

git-daemon
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

git-sync
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

init
  init/Dockerfile
  init/version.txt
Due: init

nats-exp
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

nats
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

pgbouncer exp
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

postgresexp
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

registry
  registry/Dockerfile
  registry/version.txt
Due: registry

Update base (#1218)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

configmapreloader
  configmap-reloader/version.txt
Due: configmap-reloader

es exporter
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

ext sec
  external-secrets/version.txt
Due: none

grafana
  grafana/version.txt
Due: grafana

kube-state
  kube-state/version.txt
Due: kube-state

nginx
  nginx/version.txt
Due: nginx

node-exp
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

openresty
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

postgresql
  postgresql/version.txt
Due: postgresql

preomtehe
  prometheus/version.txt
Due: prometheus

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
