Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Remove po-* images
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  po-logical-backup/Dockerfile
  po-logical-backup/test.yaml
  po-logical-backup/version.txt
  po-pgbouncer/Dockerfile
  po-pgbouncer/test.yaml
  po-pgbouncer/trivyignore
  po-pgbouncer/version.txt
  po-spilo/Dockerfile
  po-spilo/test.yaml
  po-spilo/trivy.yaml
  po-spilo/trivyignore
  po-spilo/version.txt
Due: po-logical-backup, po-pgbouncer, po-spilo

ap-base:3.21.3-1
  alertmanager/Dockerfile
Due: alertmanager

alertmanager v0.28.0, ap-base 3.21.3-1 (#953)
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

Remove po-* images (#954)
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  po-logical-backup/Dockerfile
  po-logical-backup/test.yaml
  po-logical-backup/version.txt
  po-pgbouncer/Dockerfile
  po-pgbouncer/test.yaml
  po-pgbouncer/trivyignore
  po-pgbouncer/version.txt
  po-spilo/Dockerfile
  po-spilo/test.yaml
  po-spilo/trivy.yaml
  po-spilo/trivyignore
  po-spilo/version.txt
Due: po-logical-backup, po-pgbouncer, po-spilo

Delete pgbouncer-krb
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/README.md
  pgbouncer-krb/entrypoint.sh
  pgbouncer-krb/example.env
  pgbouncer-krb/test.yaml
  pgbouncer-krb/trivyignore
  pgbouncer-krb/twistcliignore
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update openresty version in Dockerfile
  openresty/Dockerfile
Due: openresty

update openresty version in version.txt
  openresty/version.txt
Due: openresty

[Software Bot]update nginx-es service with version 1.27.4 (#957)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update auth-sidecar service with version 1.27.4 (#956)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

update openresty version
  openresty/version.txt
Due: openresty

cleanup cve list
  pgbouncer/twistcliignore
Due: pgbouncer

fix statsd cve
  statsd-exporter/trivyignore
Due: statsd-exporter

[Software Bot]update openresty service with version 1.27.1.1 (#958)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update alpine version in Dockerfile
  alpine/Dockerfile
Due: none

update alpine version in version.txt
  alpine/version.txt
Due: none

[Software Bot]update pgbouncer service with version 1.24.0 (#947)
  pgbouncer/Dockerfile
  pgbouncer/twistcliignore
  pgbouncer/version.txt
Due: pgbouncer

[Software Bot]update alpine service with version 3.21.3 (#960)
  alpine/Dockerfile
  alpine/version.txt
Due: none

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

[Software Bot]update vector service with version 0.45.0 (#961)
  vector/Dockerfile
  vector/version.txt
Due: vector

fix cve in twistcli ignore
  curator/twistcliignore
Due: curator

[Software Bot]update curator service with version 8.0.18 (#962)
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
Due: curator

update alertmanager version in Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager version in version.txt
  alertmanager/version.txt
Due: alertmanager

git grep -l 'FROM.*ap-base' | xargs gsed -i '/FROM.*ap-base/s/:.*/:3.21.3-1/'
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
  git-daemon/Dockerfile
  git-sync-relay/Dockerfile
  git-sync/Dockerfile
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer-krb/Dockerfile
  pgbouncer/Dockerfile
  postgres-exporter/Dockerfile
  registry/Dockerfile
  vector/Dockerfile
Due: awsesproxy, blackbox-exporter, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

Update version.txt for all ap-base updates
  awsesproxy/version.txt
  blackbox-exporter/version.txt
  git-daemon/version.txt
  git-sync-relay/version.txt
  git-sync/version.txt
  init/version.txt
  nats-exporter/version.txt
  nats-server/version.txt
  nats-streaming/version.txt
  pgbouncer-exporter/version.txt
  pgbouncer-krb/version.txt
  pgbouncer/version.txt
  postgres-exporter/version.txt
  registry/version.txt
  vector/version.txt
Due: awsesproxy, blackbox-exporter, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

Try out some build version and syntax updates
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Update awsesproxy for golang 1.23
  awsesproxy/Dockerfile
Due: awsesproxy

Remove solved vuln
  pgbouncer-krb/twistcliignore
Due: pgbouncer-krb

blackbox_exporter 0.26.0, golang 1.23
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter
