Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

add chainguard creds to circleci
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

add non interactive
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

remove interat
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

add
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

removing tests for now
  vector/test.yaml
Due: vector

remove
  vector/test.yaml
Due: vector

tests
  vector/test.yaml
Due: vector

add tag
  vector/Dockerfile
  vector/test.yaml
Due: vector

add tests
  vector/test.yaml
Due: vector

correct indentation
  vector/test.yaml
Due: vector

add default user
  vector/test.yaml
Due: vector

Migrate Vector Image to Chainguard Base Images and Add chainguard auth to circleci config (#1062)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  vector/Dockerfile
  vector/sidecar_server.py
  vector/test.yaml
  vector/version.txt
Due: vector

add chainguard to es
  elasticsearch/Dockerfile
Due: elasticsearch

version update
  elasticsearch/version.txt
Due: elasticsearch

Remove existing user/group if they exist
  elasticsearch/Dockerfile
Due: elasticsearch

add chainguard to prometheus
  prometheus/Dockerfile
Due: prometheus

version update
  prometheus/version.txt
Due: prometheus

add built in config
  prometheus/Dockerfile
Due: prometheus

add version 3 for prometheus
  prometheus/Dockerfile
Due: prometheus

es version 8
  elasticsearch/Dockerfile
Due: elasticsearch

remove prometheus trivy
  prometheus/trivyignore
Due: prometheus

add dev due to test failure
  prometheus/Dockerfile
Due: prometheus

update version
  prometheus/version.txt
Due: prometheus

update prometehus
  prometheus/Dockerfile
Due: prometheus

Update elasticsearch/Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

Migrate Prometheus to Chainguard Base Image (#1064)
  prometheus/Dockerfile
  prometheus/trivyignore
  prometheus/version.txt
Due: prometheus

Migrate Elasticsearch to Chainguard Base Image (#1063)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

add lucene-backward-codecs
  elasticsearch/Dockerfile
Due: elasticsearch

add temp branch
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

add chainguard for auth-sidecar
  auth-sidecar/Dockerfile
Due: auth-sidecar

remove run command
  auth-sidecar/Dockerfile
Due: auth-sidecar

update tests
  auth-sidecar/test.yaml
Due: auth-sidecar

upgrade openresty
  openresty/Dockerfile
Due: openresty

add root user
  openresty/Dockerfile
Due: openresty

add dockerfile
  openresty/Dockerfile
Due: openresty

correct test
  openresty/test.yaml
Due: openresty

add root_user_test: False
  openresty/test.yaml
Due: openresty

add chainguard-7937
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

add multi stage build
  openresty/Dockerfile
Due: openresty

update openresty
  openresty/Dockerfile
Due: openresty

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
