Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update vector version in version.txt
  vector/version.txt
Due: vector

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

⬆️ [Software Bot] Update vector to v0.47.0 (#1013)
  vector/Dockerfile
  vector/version.txt
Due: vector

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

fix cve ignore
  grafana/trivyignore
Due: grafana

fix pre-commit
  grafana/trivyignore
Due: grafana

update configmap-reloader version in Dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

update configmap-reloader version in version.txt
  configmap-reloader/version.txt
Due: configmap-reloader

⬆️ [Software Bot] Update grafana to v10.4.19 (#1016)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/version.txt
Due: grafana

⬆️ [Software Bot] Update configmap-reloader to v0.15.0 (#1017)
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

update git-sync version in Dockerfile
  git-sync/Dockerfile
Due: git-sync

update git-sync version in version.txt
  git-sync/version.txt
Due: git-sync

⬆️ [Software Bot] Update dogstatsd to v7.65.2 (#1018)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

⬆️ [Software Bot] Update git-sync to v4.4.1 (#1019)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

remove old cve and add new cve
  git-sync/twistcliignore
Due: git-sync

fluentd
  fluentd/include/Gemfile.lock
Due: fluentd

pre-commit
  git-sync/twistcliignore
Due: git-sync

changing ap-base to ap-base:3.21.3-4
  alertmanager/Dockerfile
  awsesproxy/Dockerfile
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  git-daemon/Dockerfile
  git-sync-relay/Dockerfile
  git-sync/Dockerfile
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer-krb/Dockerfile
  pgbouncer/Dockerfile
  postgres-exporter/Dockerfile
  registry/Dockerfile
  vector/Dockerfile
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

update apbase from 3.21.3-3 to 3.21.3-4
  alertmanager/version.txt
  awsesproxy/version.txt
  blackbox-exporter/version.txt
  curator/version.txt
  git-daemon/version.txt
  git-sync-relay/version.txt
  git-sync/version.txt
  init/version.txt
  nats-exporter/version.txt
  nats-server/version.txt
  nats-streaming/version.txt
  pgbouncer-exporter/version.txt
  pgbouncer-krb/version.txt
  pgbouncer/version.txt
  postgres-exporter/version.txt
  registry/version.txt
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

adding cve ignore list
  fluentd/twistcliignore
  git-sync-relay/twistcliignore
  postgres-exporter/twistcliignore
Due: fluentd, git-sync-relay, postgres-exporter

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

update kibana CVE ignore
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

fix pre-commit
  kibana/twistcliignore
Due: kibana

fix cve
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

fix cve
  kibana/trivyignore
Due: kibana
