Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update dogstatsd to v7.52.1 which has no cves
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

[Software Bot]update curator service with version 8.0.14 (#752)
  curator/Dockerfile
  curator/version.txt
Due: curator

[Software Bot]update kube-state service with version 2.12.0 (#755)
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update kibana service with version 8.13.2 (#759)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

update CVE list
  kibana/twistcliignore
Due: kibana

update CVE list (#761)
  kibana/twistcliignore
Due: kibana

[Software Bot]update elasticsearch service with version 8.13.2 (#758)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update vector service with version 0.37.1 (#760)
  vector/Dockerfile
  vector/version.txt
Due: vector

Add twistcliignore with some CVEs to ignore
  dogstatsd/twistcliignore
Due: dogstatsd

Improve twistcli cve parser
  bin/twistcli_validator.py
Due: none

update vector cve ignore list
  vector/twistcliignore
Due: vector

update vector cve ignore list (#762)
  vector/twistcliignore
Due: vector

update dogstatsd to v7.52.1 which has no cves (#756)
  dogstatsd/Dockerfile
  dogstatsd/twistcliignore
  dogstatsd/version.txt
Due: dogstatsd

update dogstatsd cve ignore
  dogstatsd/twistcliignore
Due: dogstatsd

update dogstatsd cve ignore (#763)
  dogstatsd/twistcliignore
Due: dogstatsd

update openresty version in Dockerfile
  openresty/Dockerfile
Due: openresty

update openresty version in version.txt
  openresty/version.txt
Due: openresty

Bump dev component versions
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  requirements/requirements.txt
Due: none

Move pre-commit into its own workflow
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Rename and add info about Dynamic Configuration limitations
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Bump pgbouncer-exporter so we have a build to test
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Bump dev component versions (#766)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  pgbouncer-exporter/version.txt
  requirements/requirements.txt
Due: pgbouncer-exporter

Label more Airflow metrics
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

Export more Airflow metrics and add labels (#767)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

ubuntu:24.04
  fluentd/Dockerfile
Due: fluentd

Update fluentd gems
  fluentd/include/Gemfile.lock
Due: fluentd

fluentd 1.16.5
  fluentd/version.txt
Due: fluentd

Push images to both public and private ACR instances
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Push images to both public and private ACR instances (#769)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none
