Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

use new image
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

remove tests
  docker-compose.yaml
  pgbouncer-exporter/test.yaml
Due: pgbouncer-exporter

rebuild grafana
  grafana/version.txt
Due: grafana

kube-state
  kube-state/version.txt
Due: kube-state

prometehus
  prometheus/version.txt
Due: prometheus

registry
  registry/Dockerfile
  registry/version.txt
Due: registry

statsd-exp
  statsd-exporter/version.txt
Due: statsd-exporter

APC-1298: Package updates for CVE remediation (#1231)
  grafana/version.txt
  kube-state/version.txt
  prometheus/version.txt
  registry/Dockerfile
  registry/version.txt
  statsd-exporter/version.txt
Due: grafana, kube-state, prometheus, registry, statsd-exporter

vector update
  vector/version.txt
Due: vector

vector update
  vector/Dockerfile
  vector/version.txt
Due: vector

Update Vector to 0.55.0 (#1237)
  vector/Dockerfile
  vector/version.txt
Due: vector

remove cmd
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Testing
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  Makefile
  bin/scan-endorctl.py
  pgbouncer-exporter/version.txt
  pyproject.toml
  uv.lock
Due: pgbouncer-exporter

testing
  bin/scan-endorctl.py
Due: none

testing
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

testing
  bin/scan-endorctl.py
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Testing
  bin/scan-endorctl.py
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

rollback
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Fix pre commit
  bin/scan-endorctl.py
Due: none

APC-1351: integrate endor scanning in circle ci scanning (#1238)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  Makefile
  bin/scan-endorctl.py
  pyproject.toml
  uv.lock
Due: none

modified: bin/scan-endorctl.py
  alertmanager/version.txt
  bin/scan-endorctl.py
Due: alertmanager

openresty
  openresty/version.txt
Due: openresty

nginx
  nginx/version.txt
Due: nginx

nats-server
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

nats-exporter
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

es
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

es-exp
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

cm
  configmap-reloader/version.txt
Due: configmap-reloader

disable endor
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

PINF-663: Fix CVEs (#1250)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  configmap-reloader/version.txt
  elasticsearch-exporter/version.txt
  elasticsearch/Dockerfile
  elasticsearch/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nginx/version.txt
  openresty/version.txt
Due: configmap-reloader, elasticsearch, elasticsearch-exporter, nats-exporter, nats-server, nginx, openresty

add a new entrypoint
  pgbouncer-exporter/entrypoint.sh
Due: pgbouncer-exporter

use entrypoint
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

add go stage
  git-sync/Dockerfile
Due: git-sync

APC-1353: Add go stage in git-sync (#1251)
  git-sync/Dockerfile
Due: git-sync

adds probes entrypoint
  pgbouncer-exporter/entrypoint.sh
Due: pgbouncer-exporter

add new base
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

revert entrypoint
  pgbouncer-exporter/entrypoint.sh
Due: pgbouncer-exporter

use 0.12.0
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

0.12.0
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
