Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

revert version update
  nginx/Dockerfile
Due: nginx

update version
  nginx/Dockerfile
Due: nginx

1.14.0
  nginx/version.txt
Due: nginx

update trivyignore
  nginx/trivyignore
Due: nginx

update redis
  redis/version.txt
Due: redis

using 8.0.6 redis
  redis/Dockerfile
Due: redis

8.0.6
  redis/version.txt
Due: redis

alertmanager
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

awsesproxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

blackboxexporter
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

curator
  curator/Dockerfile
  curator/version.txt
Due: curator

git-daemon
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

git-sync
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

init
  init/Dockerfile
  init/version.txt
Due: init

nats-exporter
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

natsserver
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

pgbouncer-exporter
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

postgres-exporter
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

registry
  registry/Dockerfile
  registry/version.txt
Due: registry

add variable
  nginx/Dockerfile
Due: nginx

redeclare NGINX_VERSION
  nginx/Dockerfile
Due: nginx

PINF-111: Include sub-filters module in Nginx dockerfile (#1144)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: nginx

Update redis (#1146)
  redis/Dockerfile
  redis/version.txt
Due: redis

update nginx
  nginx/Dockerfile
Due: nginx

updatenginx
  nginx/Dockerfile
Due: nginx

add changes for functional tests
  nginx/Dockerfile
Due: nginx

upgrade go
  awsesproxy/Dockerfile
Due: awsesproxy

update go in awsproxy
  awsesproxy/Dockerfile
Due: awsesproxy

use 0.19.1 in postgres-exporter
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

updaet go
  nats-exporter/Dockerfile
Due: nats-exporter

add CVEs due to jbub
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

updaet balckbox exporter
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
Due: blackbox-exporter

patch vulnerable transistive CVE
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

remove CVE
  nats-server/trivyignore
Due: nats-server

use 2.12.4
  nats-server/Dockerfile
Due: nats-server

use blackbox exporter 0.28.0
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

0.28.0 update
  blackbox-exporter/version.txt
Due: blackbox-exporter

add qpack
  blackbox-exporter/Dockerfile
Due: blackbox-exporter
