Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update twistcliignore
  grafana/twistcliignore
Due: grafana

Update trivyignore
  grafana/trivyignore
Due: grafana

Create twistcliignore
  awsesproxy/twistcliignore
Due: awsesproxy

Update trivyignore
  kibana/trivyignore
Due: kibana

Update version.txt
  awsesproxy/version.txt
Due: awsesproxy

Update twistcliignore
  git-daemon/twistcliignore
Due: git-daemon

Create twistcliignore
  pgbouncer-exporter/twistcliignore
Due: pgbouncer-exporter

Create twistcliignore
  postgres-exporter/twistcliignore
Due: postgres-exporter

Create twistcliignore
  registry/twistcliignore
Due: registry

Create twistcliignore
  elasticsearch/twistcliignore
Due: elasticsearch

fix scan failures
  grafana/twistcliignore
  kibana/twistcliignore
Due: grafana, kibana

Update elastic packages with 8.9.2 (#639)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
Due: elasticsearch, kibana

Update grafana version 10.2.0 (#638)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update nginx ingress controller version 1.9.4
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update nginx ingress controller version 1.9.4 (#641)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

Update ap vendor packages (#640)
  awsesproxy/Dockerfile
  awsesproxy/twistcliignore
  awsesproxy/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/twistcliignore
  pgbouncer-exporter/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/twistcliignore
  registry/version.txt
Due: awsesproxy, git-daemon, pgbouncer-exporter, postgres-exporter, registry

ap-base:3.18.4
  pgbouncer/Dockerfile
Due: pgbouncer

update ap-base image 3.18.4-1
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/trivyignore
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

remove fixed CVE in twistcli ignore
  pgbouncer-exporter/twistcliignore
Due: pgbouncer-exporter

update ap-base image 3.18.4-1 in pgbouncer-exporter (#642)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/trivyignore
  pgbouncer-exporter/twistcliignore
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update base in pgbouncer service
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer service base packages (#619)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

Update Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

update twistcli ignore
  awsesproxy/twistcliignore
  blackbox-exporter/twistcliignore
  curator/twistcliignore
  git-daemon/twistcliignore
  postgres-exporter/twistcliignore
  registry/twistcliignore
Due: awsesproxy, blackbox-exporter, curator, git-daemon, postgres-exporter, registry

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
