Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

[Software Bot]update vector service with version 0.40.0 (#827)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update nginx-es service with version 1.27.0 (#828)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update postgresql service with version 16.3.0 (#829)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

fix cve ignore
  dogstatsd/twistcliignore
Due: dogstatsd

[Software Bot]update dogstatsd service with version 7.54.1 (#830)
  dogstatsd/Dockerfile
  dogstatsd/twistcliignore
  dogstatsd/version.txt
Due: dogstatsd

update fluentd 1.17 and datadog support
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

fluentd 1.17, add datadog plugin (#831)
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update cve list
  prometheus/trivyignore
  prometheus/twistcliignore
Due: prometheus

[Software Bot]update prometheus service with version 2.53.0 (#832)
  prometheus/Dockerfile
  prometheus/trivyignore
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

[Software Bot]update prometheus service with version 2.53.1 (#833)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

[Software Bot]update curator service with version 8.0.16 (#834)
  curator/Dockerfile
  curator/version.txt
Due: curator

update pgbouncer version in Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

[Software Bot]update pgbouncer service with version 1.23.1 (#835)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

manual fix for version
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 15.7.0 (#836)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

Update Dockerfile with ab-base 3.18.8
  awsesproxy/Dockerfile
Due: awsesproxy

Update version.txt
  awsesproxy/version.txt
Due: awsesproxy

Update Dockerfile ab-base 3.18.8
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile 3.18.8
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile
  git-sync-relay/Dockerfile
Due: git-sync-relay

Update version.txt
  git-sync-relay/version.txt
Due: git-sync-relay

Update Dockerfile
  init/Dockerfile
Due: init

Update version.txt
  init/version.txt
Due: init

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
