Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

resolves CVE-2023-28840 in prometheus service
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

resolves CVE-2023-28840 in prometheus service (#530)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update kube-state 2.8.2 * resolves CVE-2022-41721,CVE-2022-41723 in kube-state metrics service
  kube-state/Dockerfile
  kube-state/trivyignore
  kube-state/version.txt
Due: kube-state

update kube-state 2.8.2 (#531)
  kube-state/Dockerfile
  kube-state/trivyignore
  kube-state/version.txt
Due: kube-state

Update statsd-exporter/version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

Update mappings-gen2.yml (#528)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

fix pgbouncer base image cve
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

fix gen2 statsd mappings
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

fix pgbouncer base image cve (#532)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  statsd-exporter/include/mappings-gen2.yml
Due: pgbouncer, statsd-exporter

Bump a bunch of component versions
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .pre-commit-config.yaml
  requirements/build-requirements.txt
  requirements/test-requirements.txt
Due: none

Bump git-sync version so we can test a pipeline with the dev component changes.
  git-sync/version.txt
Due: git-sync

Unpin requirements.in
  requirements/build-requirements.in
  requirements/build-requirements.txt
Due: none

Bump a bunch of component versions (#534)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .pre-commit-config.yaml
  git-sync/version.txt
  requirements/build-requirements.in
  requirements/build-requirements.txt
  requirements/test-requirements.txt
Due: git-sync

Merge requirements files and use a venv for local dev
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .gitignore
  .pre-commit-config.yaml
  Makefile
  requirements/build-requirements.in
  requirements/build-requirements.txt
  requirements/requirements.in
  requirements/requirements.txt
  requirements/test-requirements.txt
Due: none

Bump redis so we can test a build pipeline.
  redis/version.txt
Due: redis

Merge requirements files and use a venv for local dev (#536)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .gitignore
  .pre-commit-config.yaml
  Makefile
  redis/version.txt
  requirements/build-requirements.in
  requirements/build-requirements.txt
  requirements/requirements.in
  requirements/requirements.txt
  requirements/test-requirements.txt
Due: redis

Switch to using `python-on-whales` (a docker CLI wrapper) for building
  Makefile
  bin/docker-operations.py
  requirements/requirements.in
  requirements/requirements.txt
Due: none

Ensure that the anon volume for postgres image has the right owner
  postgresql/Dockerfile
  postgresql/test.yaml
  postgresql/version.txt
Due: postgresql

update elastic packages 7.17.10
  elasticsearch/Dockerfile
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/version.txt
Due: elasticsearch, kibana

update trivyignore
  kibana/trivyignore
Due: kibana

Bump grafana version so we can test a docker build with these changes.
  grafana/version.txt
Due: grafana

update elastic packages 7.17.10 (#538)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/trivyignore
  kibana/version.txt
Due: elasticsearch, kibana

Switch to using `python-on-whales` (a docker CLI wrapper) for building (#537)
  Makefile
  bin/docker-operations.py
  grafana/version.txt
  requirements/requirements.in
  requirements/requirements.txt
Due: grafana

Ensure that the anon volume for postgres image has the right owner (#535)
  postgresql/Dockerfile
  postgresql/test.yaml
  postgresql/version.txt
Due: postgresql

update nginx ingress controller 1.7.1
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: nginx

nginx ingress controller 1.7.1 (#539)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: nginx

resolve CVE-2023-1999 in nginx packages
  auth-sidecar/version.txt
  nginx-es/version.txt
  openresty/Dockerfile
  openresty/version.txt
Due: auth-sidecar, nginx-es, openresty

resolve CVE-2023-1999 in nginx packages (#540)
  auth-sidecar/version.txt
  nginx-es/version.txt
  openresty/Dockerfile
  openresty/version.txt
Due: auth-sidecar, nginx-es, openresty

resolves CVE-2023-29491 in nginx base packages
  auth-sidecar/version.txt
  nginx-es/version.txt
  nginx/version.txt
Due: auth-sidecar, nginx, nginx-es

resolve CVE in pgbouncer-krb
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

resolve CVE in grafana and curator
  curator/version.txt
  grafana/version.txt
Due: curator, grafana

resolve CVE in vector service
  vector/version.txt
Due: vector

resolves CVE-2023-29491 in vendor packages (#541)
  auth-sidecar/version.txt
  curator/version.txt
  grafana/version.txt
  nginx-es/version.txt
  nginx/version.txt
  pgbouncer-krb/version.txt
  vector/version.txt
Due: auth-sidecar, curator, grafana, nginx, nginx-es, pgbouncer-krb, vector

update configmap reloader 0.11.0
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

update configmap reloader 0.11.0 (#542)
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

fix CVE-2023-0464 in postgresql
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

fix CVE-2023-0464 in postgresql (#543)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

Replace docker-compose with 'docker compose'. Remove docker-compose python module. Update pre-commit.
  .pre-commit-config.yaml
  requirements/requirements.in
  requirements/requirements.txt
  statsd-exporter/test/README.md
  statsd-exporter/test/test.py
Due: statsd-exporter

Fix broken disk panels in Platform Overview dashboard
  grafana/include/platform-overview.json
Due: grafana

grafana 8.5.26
  grafana/Dockerfile
  grafana/version.txt
Due: grafana
