Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Update Dockerfile
  vector/Dockerfile
Due: vector

Update Dockerfile
  git-sync/Dockerfile
Due: git-sync

Update test.yaml to use nobody as user
  git-sync/test.yaml
Due: git-sync

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update version.txt
  vector/version.txt
Due: vector

Update test.yaml
  git-sync/test.yaml
Due: git-sync

Update Dockerfile use git-sync name
  git-sync/Dockerfile
Due: git-sync

Update Dockerfile to use multistage build
  git-sync/Dockerfile
Due: git-sync

updating the precommit failures
  git-sync/trivyignore
Due: git-sync

updating the new CVE's
  git-sync/trivyignore
  git-sync/twistcliignore
Due: git-sync

upgrading dockerfile
  git-sync/Dockerfile
Due: git-sync

upgrading dockerfile
  git-sync/trivyignore
Due: git-sync

updating the precommit failures
  git-sync/trivyignore
  git-sync/twistcliignore
Due: git-sync

upgrading the gitsync version 3.6.9 to 4.2.3 (#930)
  git-sync/Dockerfile
  git-sync/test.yaml
  git-sync/trivyignore
  git-sync/twistcliignore
  git-sync/version.txt
Due: git-sync

Update trivyignore
  grafana/trivyignore
Due: grafana

fixing pre commit issues
  grafana/twistcliignore
Due: grafana

fixing the pre-commit failues
  grafana/trivyignore
Due: grafana

updating the new list of CVE's
  alertmanager/trivyignore
  alertmanager/twistcliignore
  awsesproxy/trivyignore
  awsesproxy/twistcliignore
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
  curator/twistcliignore
  git-daemon/twistcliignore
  init/twistcliignore
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-server/trivyignore
  nats-server/twistcliignore
  nats-streaming/trivyignore
  pgbouncer-krb/twistcliignore
  postgres-exporter/trivyignore
  postgres-exporter/twistcliignore
  registry/trivyignore
  registry/twistcliignore
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, pgbouncer-krb, postgres-exporter, registry

updating the new list of CVE's
  curator/twistcliignore
  git-daemon/twistcliignore
  init/twistcliignore
  nats-exporter/twistcliignore
  nats-server/twistcliignore
  pgbouncer-krb/twistcliignore
  postgres-exporter/twistcliignore
Due: curator, git-daemon, init, nats-exporter, nats-server, pgbouncer-krb, postgres-exporter

updating the new list of CVE's
  curator/twistcliignore
  git-daemon/twistcliignore
  init/twistcliignore
  nats-exporter/twistcliignore
  nats-server/twistcliignore
  pgbouncer-krb/twistcliignore
Due: curator, git-daemon, init, nats-exporter, nats-server, pgbouncer-krb

updating the new list of CVE's
  alertmanager/twistcliignore
Due: alertmanager

removing solved CVE's
  curator/twistcliignore
  git-daemon/twistcliignore
  grafana/twistcliignore
  init/twistcliignore
  nats-server/twistcliignore
  pgbouncer-krb/twistcliignore
  postgres-exporter/twistcliignore
  vector/twistcliignore
Due: curator, git-daemon, grafana, init, nats-server, pgbouncer-krb, postgres-exporter, vector

removing solved CVE's
  grafana/trivyignore
  grafana/twistcliignore
Due: grafana

Update twistcliignore
  grafana/twistcliignore
Due: grafana

[Software Bot]update grafana service with version 10.4.14 (#925)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update gitsync permission
  git-sync/Dockerfile
Due: git-sync

readd tests
  git-sync/test.yaml
Due: git-sync

fix tests
  git-sync/test.yaml
Due: git-sync

skip tests for now
  git-sync/test.yaml
Due: git-sync

update gitsync user permission and version (#932)
  git-sync/Dockerfile
  git-sync/test.yaml
Due: git-sync
