Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update statsd exporter 0.25.0 -> 0.26.0 (#668)
  statsd-exporter/Dockerfile
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

Update nats-exporter with 0.13.0
  nats-exporter/Dockerfile
Due: nats-exporter

Update nats-exporter with 0.13.0
  nats-exporter/version.txt
Due: nats-exporter

update fluentd gem packages with 1.16.3
  fluentd/version.txt
Due: fluentd

Update node-exporter with 1.7.0
  node-exporter/trivyignore
Due: node-exporter

Update twistcliignore with new cve CVE-2023-22795
  fluentd/twistcliignore
Due: fluentd

Update nats-streaming 0.25.6
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt with 0.25.5-1 --> 0.25.6
  nats-streaming/version.txt
Due: nats-streaming

update fluentd version 1.16.3
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update twistcliignore file
  fluentd/twistcliignore
Due: fluentd

Create twistcliignore with new cve list
  node-exporter/twistcliignore
Due: node-exporter

update fluentd version 1.16.3 (#675)
  fluentd/include/Gemfile.lock
  fluentd/twistcliignore
  fluentd/version.txt
Due: fluentd

update elasticsearch-exporter version 1.7.0 (#670)
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

update shachecksum version
  nats-streaming/Dockerfile
Due: nats-streaming

update twistcliignore cve ignore list
  nats-streaming/twistcliignore
Due: nats-streaming

Update twistcliignore
  node-exporter/twistcliignore
Due: node-exporter

Update Dockerfile with nats-server version 2.10.9
  nats-server/Dockerfile
Due: nats-server

Update version.txt with nats-server version 2.10.9
  nats-server/version.txt
Due: nats-server

kube-state-metrics 2.10.1
  kube-state/Dockerfile
Due: kube-state

kube-state-metrics 2.10.1
  kube-state/version.txt
Due: kube-state

kube-state-metrics 2.10.1
  kube-state/twistcliignore
Due: kube-state

update shachecksum version
  nats-server/Dockerfile
Due: nats-server

Update shachecksum version
  nats-server/Dockerfile
Due: nats-server

Update twistcliignore
  nats-server/twistcliignore
Due: nats-server

Update Dockerfile with openresty version 1.25.3.1
  openresty/Dockerfile
Due: openresty

Update version.txt with openresty version 1.25.3.1
  openresty/version.txt
Due: openresty

update openresty version to use sematic
  openresty/version.txt
Due: openresty

revert node exporter changes
  node-exporter/trivyignore
  node-exporter/twistcliignore
Due: node-exporter

update node exporter trivy ignore
  node-exporter/trivyignore
Due: node-exporter

Update openresty version 1.25.3 (#678)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

Update kube-state version 2.10.1 (#677)
  kube-state/Dockerfile
  kube-state/twistcliignore
  kube-state/version.txt
Due: kube-state

update twistcli cve list
  nats-exporter/twistcliignore
Due: nats-exporter

update nats-exporter version 0.13.0 (#672)
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
  nats-exporter/version.txt
Due: nats-exporter

Update nats-server version 2.10.9 (#676)
  nats-server/Dockerfile
  nats-server/twistcliignore
  nats-server/version.txt
Due: nats-server

update elastic image version 8.11.4 (#667)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
Due: elasticsearch, kibana
