Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update pgbouncer 1.18.0
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

fix dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

fix docker build
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer 1.19.1
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

pgbouner 1.19.1 (#607)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

update pgbouncer 1.20.1
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

pgbouncer 1.20.1 (#608)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

add twistcli validator
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/twistcli_validator.py
Due: none

add twistcli validator
  bin/twistcli_validator.py
Due: none

update circleci config
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

validate config
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update ci config
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

fix ci
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update ci
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update code
  bin/twistcli_validator.py
Due: none

Update bin/twistcli_validator.py
  bin/twistcli_validator.py
Due: none

add circle ci pipeline updates
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/twistcli_validator.py
Due: none

update twistcli validator
  bin/twistcli_validator.py
Due: none

upgrade KEDA and KEDA api-server to 2.11.2
  keda-metrics-apiserver/Dockerfile
  keda-metrics-apiserver/version.txt
  keda/Dockerfile
  keda/version.txt
Due: keda, keda-metrics-apiserver

updates to twistcli validator
  bin/twistcli_validator.py
Due: none

update pgbouncer exporter module
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

update version
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

KEDA, KEDA api-server 2.11.2 (#610)
  keda-metrics-apiserver/Dockerfile
  keda-metrics-apiserver/version.txt
  keda/Dockerfile
  keda/version.txt
Due: keda, keda-metrics-apiserver

added comment
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update pgbouncer exporter (#611)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update pgbouncer exporter version 0.15.0-2
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update pgbouncer exporter version 0.15.0-2 (#612)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update twistcli_validator
  bin/twistcli_validator.py
Due: none

Improve bin/twistcli_validator.py
  bin/twistcli_validator.py
Due: none

pre-commit run --all-files
  bin/twistcli_validator.py
Due: none

Ignore scan-results.json
  .gitignore
Due: none

add prisma scan (#605)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .gitignore
  bin/twistcli_validator.py
Due: none

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
