Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

correct symlink
  vector/Dockerfile
Due: vector

add root
  vector/Dockerfile
Due: vector

add correct python
  vector/Dockerfile
Due: vector

update version
  vector/Dockerfile
  vector/version.txt
Due: vector

update version
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

remove dev
  elasticsearch-exporter/Dockerfile
Due: elasticsearch-exporter

fix CVE-2022-48174 in Elasticsearch Exporter service (#1086)
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

Delete remaining twistlock files
  alertmanager/twistcliignore
  alpine/twistcliignore
  awsesproxy/twistcliignore
  bin/twistcli_validator.py
  blackbox-exporter/twistcliignore
  curator/twistcliignore
  dogstatsd/twistcliignore
  fluentd/twistcliignore
  git-daemon/twistcliignore
  git-sync/twistcliignore
  grafana/twistcliignore
  init/twistcliignore
  kibana/twistcliignore
  kube-state/twistcliignore
  nats-exporter/twistcliignore
  nats-server/twistcliignore
  nats-streaming/twistcliignore
  nginx/twistcliignore
  node-exporter/twistcliignore
  pgbouncer-exporter/twistcliignore
  pgbouncer-krb/twistcliignore
  pgbouncer/twistcliignore
  postgres-exporter/twistcliignore
  postgres-operator/twistcliignore
  prometheus/twistcliignore
  python/twistcliignore
  redis/twistcliignore
  registry/twistcliignore
  statsd-exporter/twistcliignore
  vector/twistcliignore
Due: alertmanager, awsesproxy, blackbox-exporter, curator, dogstatsd, fluentd, git-daemon, git-sync, grafana, init, kibana, kube-state, nats-exporter, nats-server, nats-streaming, nginx, node-exporter, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, postgres-operator, prometheus, redis, registry, statsd-exporter, vector

Delete remaining twistlock files (#1088)
  alertmanager/twistcliignore
  alpine/twistcliignore
  awsesproxy/twistcliignore
  bin/twistcli_validator.py
  blackbox-exporter/twistcliignore
  curator/twistcliignore
  dogstatsd/twistcliignore
  fluentd/twistcliignore
  git-daemon/twistcliignore
  git-sync/twistcliignore
  grafana/twistcliignore
  init/twistcliignore
  kibana/twistcliignore
  kube-state/twistcliignore
  nats-exporter/twistcliignore
  nats-server/twistcliignore
  nats-streaming/twistcliignore
  nginx/twistcliignore
  node-exporter/twistcliignore
  pgbouncer-exporter/twistcliignore
  pgbouncer-krb/twistcliignore
  pgbouncer/twistcliignore
  postgres-exporter/twistcliignore
  postgres-operator/twistcliignore
  prometheus/twistcliignore
  python/twistcliignore
  redis/twistcliignore
  registry/twistcliignore
  statsd-exporter/twistcliignore
  vector/twistcliignore
Due: alertmanager, awsesproxy, blackbox-exporter, curator, dogstatsd, fluentd, git-daemon, git-sync, grafana, init, kibana, kube-state, nats-exporter, nats-server, nats-streaming, nginx, node-exporter, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, postgres-operator, prometheus, redis, registry, statsd-exporter, vector

Fix nats-server source. Remove dockerize related stuff.
  blackbox-exporter/Dockerfile
  init/Dockerfile
  nats-server/Dockerfile
Due: blackbox-exporter, init, nats-server

Fix several builds.
  init/Dockerfile
  nats-exporter/Dockerfile
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer/Dockerfile
  registry/Dockerfile
Due: init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, registry

Try using cgr.dev/astronomer.io/prometheus-alertmanager:v0.28.1 as upstream
  alertmanager/Dockerfile
Due: alertmanager

Use postgres-exporter v0.18.1
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

Use ap-base:2025.11.3, which removes dockerize
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry

Use modern ENV key=val syntax
  dind-golang/Dockerfile
  nats-streaming/Dockerfile
  pgbouncer-krb/Dockerfile
  pgbouncer/Dockerfile
Due: dind-golang, nats-streaming, pgbouncer, pgbouncer-krb

Switch some back to 'main' so we can split this PR into multiple parts.
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  dind-golang/Dockerfile
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  registry/Dockerfile
  registry/version.txt
Due: awsesproxy, blackbox-exporter, dind-golang, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, registry

Remove things that are going into 7707-remove-dockerize-part-1
  alertmanager/Dockerfile
  alertmanager/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: alertmanager, curator, git-daemon, git-sync, init, nats-exporter, nats-server, postgres-exporter

Remove solved CVEs
  awsesproxy/trivyignore
  nats-streaming/trivyignore
Due: awsesproxy, nats-streaming

Use chainguard for registry binary
  registry/Dockerfile
Due: registry

Use chainguard for registry binary
  registry/Dockerfile
  registry/version.txt
Due: registry

Remove registry changes since they will be included in part-1
  registry/Dockerfile
  registry/version.txt
Due: registry

Ignore 6 CVEs
  awsesproxy/trivyignore
Due: awsesproxy

Ignore 7 CVEs
  nats-streaming/trivyignore
Due: nats-streaming

dind-golang:28.5.2
  dind-golang/Dockerfile
  dind-golang/trivyignore
  dind-golang/version.txt
Due: dind-golang

Ignore some CVEs
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
  dind-golang/Dockerfile
  dind-golang/trivyignore
  dind-golang/version.txt
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/version.txt
Due: awsesproxy, dind-golang, nats-streaming

Remove some projects from this PR
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
  dind-golang/Dockerfile
  dind-golang/trivyignore
  dind-golang/version.txt
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/version.txt
Due: awsesproxy, dind-golang, nats-streaming

Remove Vector CVE (#1084)
  vector/Dockerfile
  vector/version.txt
Due: vector

7707 Remove dockerize part 1 (#1089)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
  curator/Dockerfile
  curator/version.txt
  dind-golang/Dockerfile
  dind-golang/trivyignore
  dind-golang/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: alertmanager, awsesproxy, curator, dind-golang, git-daemon, git-sync, init, nats-exporter, nats-server, nats-streaming, postgres-exporter, registry

add balckbox
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

add root user
  pgbouncer-exporter/Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer, pgbouncer-exporter

add krb
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

add root
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

⬆️ [Software Bot] Update grafana to v12.2.1 (#1090)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

remove un supported
  pgbouncer/Dockerfile
Due: pgbouncer

pgbouncerexporter
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

fix packages pgbouncer-krb
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

comment http
  blackbox-exporter/test.yaml
Due: blackbox-exporter

update blackbox exporter
  blackbox-exporter/trivyignore
Due: blackbox-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
