Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update pgbouncer version in Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

[Software Bot]update kibana service with version 8.13.3 (#807)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

update cve ignore
  pgbouncer/trivyignore
  pgbouncer/twistcliignore
Due: pgbouncer

[Software Bot]update pgbouncer service with version 1.23.0 (#808)
  pgbouncer/Dockerfile
  pgbouncer/trivyignore
  pgbouncer/twistcliignore
  pgbouncer/version.txt
Due: pgbouncer

update twistcli ignore
  elasticsearch/twistcliignore
Due: elasticsearch

[Software Bot]update elasticsearch service with version 8.13.3 (#806)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

update redis cve ignore
  redis/trivyignore
Due: redis

remove twistcli ignore list
  redis/twistcliignore
Due: redis

update trivyignore
  redis/trivyignore
Due: redis

update trivyignore
  redis/twistcliignore
Due: redis

[Software Bot]update redis service with version 7.2.5 (#794)
  redis/Dockerfile
  redis/trivyignore
  redis/twistcliignore
  redis/version.txt
Due: redis

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 16.3.0 (#809)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update elasticsearch service with version 8.13.4 (#810)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

remove solved CVE
  kibana/twistcliignore
Due: kibana

[Software Bot]update kibana service with version 8.13.4 (#811)
  kibana/Dockerfile
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

add new metrics to statsd for metrics export
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Update Dockerfile with grafana version 10.4.5
  grafana/Dockerfile
Due: grafana

Update version.txt with 10.4.5
  grafana/version.txt
Due: grafana

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

Update Dockerfile
  kibana/Dockerfile
Due: kibana

Update version.txt
  kibana/version.txt
Due: kibana

Update Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

Update version.txt
  elasticsearch/version.txt
Due: elasticsearch

Update Dockerfile
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

Update version.txt
  configmap-reloader/version.txt
Due: configmap-reloader

Update Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update trivyignore
  curator/trivyignore
Due: curator

Update twistcliignore
  curator/twistcliignore
Due: curator

updating twistcliignore with new cve
  curator/twistcliignore
Due: curator
