Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update config yml
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

update fixed cve
  grafana/trivyignore
  grafana/twistcliignore
Due: grafana

update unresolved cve
  grafana/trivyignore
Due: grafana

[Software Bot]update grafana service with version 10.4.18 (#1007)
  .circleci/config.yml
  .circleci/config.yml.j2
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update redis version 7.4.3
  redis/Dockerfile
  redis/version.txt
Due: redis

update redis version 7.4.3 (#1008)
  redis/Dockerfile
  redis/version.txt
Due: redis

Bump some versions. Remove all CVEs for affected images so we can see what is still actually affected.
  alertmanager/trivyignore
  alertmanager/twistcliignore
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
  kube-state/Dockerfile
  kube-state/trivyignore
  kube-state/twistcliignore
  nats-exporter/Dockerfile
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-exporter/version.txt
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/twistcliignore
  nats-streaming/version.txt
Due: alertmanager, blackbox-exporter, kibana, kube-state, nats-exporter, nats-streaming

pre-commit resource_class: small
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Ignore current upstream nats-streaming CVEs
  nats-streaming/trivyignore
  nats-streaming/twistcliignore
Due: nats-streaming

Ignore current upstream nats-server CVEs
  nats-server/trivyignore
  nats-server/twistcliignore
Due: nats-server

Ignore current upstream kube-state CVEs
  kube-state/trivyignore
  kube-state/twistcliignore
Due: kube-state

Ignore current upstream alertmanager CVEs
  alertmanager/trivyignore
  alertmanager/twistcliignore
Due: alertmanager

Ignore current upstream blackbox-exporter CVEs
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

Ignore current upstream kibana CVEs
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

Ignore current upstream nats-server CVEs
  nats-server/trivyignore
Due: nats-server

Ignore current upstream nats-exporter CVEs
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
Due: nats-exporter

bump kube-state version
  kube-state/version.txt
Due: kube-state

bump alertmanager version
  alertmanager/version.txt
Due: alertmanager

bump nats-server version
  nats-server/version.txt
Due: nats-server

Do not bump version
  blackbox-exporter/version.txt
Due: blackbox-exporter

7237 fix cves (#1009)
  .circleci/config.yml
  .circleci/config.yml.j2
  alertmanager/trivyignore
  alertmanager/twistcliignore
  alertmanager/version.txt
  blackbox-exporter/Dockerfile
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
  kube-state/Dockerfile
  kube-state/trivyignore
  kube-state/twistcliignore
  kube-state/version.txt
  nats-exporter/Dockerfile
  nats-exporter/trivyignore
  nats-exporter/version.txt
  nats-server/twistcliignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
Due: alertmanager, blackbox-exporter, kibana, kube-state, nats-exporter, nats-server, nats-streaming

Add playwright-server config
  .circleci/config.yml
  .circleci/continue-config.yml
  playwright-server/Dockerfile
  playwright-server/server.ts
  playwright-server/test.yaml
  playwright-server/version.txt
Due: none

Wrong version
  playwright-server/Dockerfile
  playwright-server/version.txt
Due: none

Linting
  playwright-server/server.ts
Due: none

Semver
  playwright-server/version.txt
Due: none

Add docker-compose
  docker-compose.yaml
Due: none

Mo linting
  playwright-server/server.ts
Due: none

Add CVEs
  playwright-server/twistcliignore
Due: none

More linting
  playwright-server/twistcliignore
Due: none

Update Dockerfile
  playwright-server/Dockerfile
Due: none

Upgrade to 1.52
  playwright-server/Dockerfile
  playwright-server/version.txt
Due: none

Remove removed CVEs
  playwright-server/twistcliignore
Due: none

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update nginx-es service with version 1.28.0 (#1012)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update auth-sidecar service with version 1.28.0 (#1011)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

update vector version in Dockerfile
  vector/Dockerfile
Due: vector
