Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Migrate I-vY1Chik
  grafana/include/airflow-database-activity.json
Due: grafana

Migrate E5LsXoamz
  grafana/include/airflow-overview.json
Due: grafana

Migrate I6_wigTmk
  grafana/include/airflow-scheduler.json
Due: grafana

Migrate h7dUiVJmz
  grafana/include/airflow-state.json
Due: grafana

Migrate 3GVItO1ik
  grafana/include/docker-registry.json
Due: grafana

Migrate edOZWDJiz
  grafana/include/elasticsearch.json
Due: grafana

Delete unneeded dashboard
  grafana/include/kubed.json
Due: grafana

Migrate txEmY8kik1
  grafana/include/kubernetes-pods-metrics.json
Due: grafana

Migrate nginx
  grafana/include/nginx-ingress.json
Due: grafana

Migrate qfG4Q31mz
  grafana/include/platform-overview.json
Due: grafana

Migrate LbCzljqika
  grafana/include/stan-dash.json
Due: grafana

grafana 8.5.22
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

Add dashboard: Astrononer Houston Dashboard
  grafana/include/astronomer-houston.json
Due: grafana

Fix test edge case with no test_commands. Automatically determine ASTRO_IMAGE_TEST_CONFIG_PATH from ASTRO_IMAGE_NAME.
  bin/test.py
Due: none

Fix typo
  grafana/include/astronomer-houston.json
Due: grafana

Ignore 4 CVEs
  grafana/trivyignore
Due: grafana

COPY include/*.json /var/lib/grafana/dashboards/
  grafana/Dockerfile
Due: grafana

Test that all dashboards are copied
  grafana/test.yaml
Due: grafana

Fix test
  grafana/test.yaml
Due: grafana

Add, migrate, and remove grafana dashboards (#506)
  bin/test.py
  grafana/Dockerfile
  grafana/include/airflow-containers.json
  grafana/include/airflow-database-activity.json
  grafana/include/airflow-overview.json
  grafana/include/airflow-scheduler.json
  grafana/include/airflow-state.json
  grafana/include/astronomer-houston.json
  grafana/include/docker-registry.json
  grafana/include/elasticsearch.json
  grafana/include/kubed.json
  grafana/include/kubernetes-pods-metrics.json
  grafana/include/nats-dash.json
  grafana/include/nginx-ingress.json
  grafana/include/platform-overview.json
  grafana/include/prometheus.json
  grafana/include/stan-dash.json
  grafana/test.yaml
  grafana/trivyignore
  grafana/version.txt
Due: grafana

fixes issue #507 for the ap-vendor image of dogstatsd, containing lower cardinality metrics to datadog.
  dogstatsd/include/dogstatsd.yaml
  dogstatsd/version.txt
Due: dogstatsd

Fixed the pretty formatting
  dogstatsd/include/dogstatsd.yaml
Due: dogstatsd

fixed a formatting issue at the last blank line
  dogstatsd/include/dogstatsd.yaml
Due: dogstatsd

Additional mapping rule to dogstatsd to control cardinality of local_task_job metric (#509)
  dogstatsd/include/dogstatsd.yaml
  dogstatsd/version.txt
Due: dogstatsd

Implement simple liveness status on port 13579.
  .pre-commit-config.yaml
  vector/sidecar_server.py
Due: vector

Allow publishing 5469-rework-vector branch as image
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Ignore CVE-2023-0464
  vector/trivyignore
Due: vector

Use branch tag
  vector/version.txt
Due: vector

Use branch tag that is semver compatible
  vector/version.txt
Due: vector

Add pre-commit hook to validate semver
  .pre-commit-config.yaml
  bin/validate-semver.py
  vector/version.txt
Due: vector

Just use the ticket number for the patch place
  vector/version.txt
Due: vector

Make 'release' require 'validate-tags'
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Use /usr/local/bin/vector instead of ping
  vector/sidecar_server.py
  vector/version.txt
Due: vector

Make 'release' require 'validate-tags' (#510)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Simplify return and comparison
  vector/sidecar_server.py
Due: vector

Revert "Make 'release' require 'validate-tags' (#510)"
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

0.0.5469-3
  vector/version.txt
Due: vector

Delete unused terminate_server.py script
  vector/Dockerfile
  vector/terminate_server.py
Due: vector

Skip .vscode
  bin/generate_docker_compose.py
Due: none

Rework heartbeat to a file based mechanism.
  vector/sidecar_server.py
Due: vector

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
