Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fix array logic
  redis/build-redis.sh
Due: redis

update docker-entrypoint script
  redis/docker-entrypoint.sh
Due: redis

update maintainer
  redis/Dockerfile
Due: redis

fix docker redis build (#990)
  redis/Dockerfile
  redis/build-redis.sh
  redis/docker-entrypoint.sh
  redis/install_packages
  redis/version.txt
Due: redis

add trivy validator for ap-vendor
  bin/trivy_validator.py
Due: none

update trivy validator
  bin/trivy_validator.py
Due: none

update trivy script
  bin/trivy-scan.sh
Due: none

update openresty
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

fix trivy
  bin/trivy-scan.sh
  bin/trivy_validator.py
Due: none

fix cve scanner
  bin/trivy-scan.sh
Due: none

adding codesigning scripts
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/check-signature.sh
  bin/sign-image.sh
Due: none

update registy version 3
  registry/Dockerfile
Due: registry

update registry version
  registry/Dockerfile
  registry/version.txt
Due: registry

Switch to using the upstream docker/distribution version
  registry/README.md
  registry/version.txt
Due: registry

update cve files
  registry/trivyignore
  registry/twistcliignore
Due: registry

6484 use upstream registry 3.x (#943)
  registry/Dockerfile
  registry/README.md
  registry/trivyignore
  registry/twistcliignore
  registry/version.txt
Due: registry

Update bin/trivy-scan.sh
  bin/trivy-scan.sh
Due: none

Update bin/trivy_validator.py
  bin/trivy_validator.py
Due: none

add trivy validator for ap-vendor (#991)
  bin/trivy-scan.sh
  bin/trivy_validator.py
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

remove fixed cve
  vector/trivyignore
  vector/twistcliignore
Due: vector

[Software Bot]update vector service with version 0.46.0 (#992)
  vector/Dockerfile
  vector/trivyignore
  vector/twistcliignore
  vector/version.txt
Due: vector

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update pgbouncer-exporter version in Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

update pgbouncer-exporter version in version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

[Software Bot]update pgbouncer-exporter service with version 0.19.0 (#994)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

[Software Bot]update curator service with version 8.0.20 (#995)
  curator/Dockerfile
  curator/version.txt
Due: curator

[Software Bot]update curator service with version 8.0.21 (#996)
  curator/Dockerfile
  curator/version.txt
Due: curator

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

[Software Bot]update dogstatsd service with version 7.63.3 (#997)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
