Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

test comment
  alertmanager/Dockerfile
Due: alertmanager

test
  alertmanager/trivyignore
  alertmanager/twistcliignore
Due: alertmanager

precommit
  alertmanager/twistcliignore
Due: alertmanager

reverting old changes made for testing
  alertmanager/Dockerfile
  alertmanager/trivyignore
  alertmanager/twistcliignore
Due: alertmanager

changing context to cosign-keys
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

fix trivy
  prometheus/trivyignore
Due: prometheus

fix twistcli ignore
  prometheus/twistcliignore
Due: prometheus

fix pre-commit
  prometheus/trivyignore
  prometheus/twistcliignore
Due: prometheus

[Software Bot]update prometheus service with version 2.53.4 (#969)
  prometheus/Dockerfile
  prometheus/trivyignore
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

update ap-base version 3.21.3-2
  alertmanager/Dockerfile
  alertmanager/version.txt
  alpine/Dockerfile
  alpine/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

fix alpine
  alpine/Dockerfile
Due: none

fix registry
  git-sync/trivyignore
  git-sync/twistcliignore
  registry/trivyignore
  registry/twistcliignore
Due: git-sync, registry

fix pre-commit
  git-sync/twistcliignore
  registry/trivyignore
Due: git-sync, registry

fix registry CVE
  registry/twistcliignore
Due: registry

update ap-base version 3.21.3-2 (#973)
  alertmanager/Dockerfile
  alertmanager/version.txt
  alpine/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/trivyignore
  git-sync/twistcliignore
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/trivyignore
  registry/twistcliignore
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

update redis version in Dockerfile
  redis/Dockerfile
Due: redis

update redis version in version.txt
  redis/version.txt
Due: redis

[Software Bot]update redis service with version 7.4.2 (#974)
  redis/Dockerfile
  redis/version.txt
Due: redis

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

[Software Bot]update postgres-exporter service with version 0.17.0 (#975)
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

[Software Bot]update postgres-exporter service with version 0.17.1 (#976)
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

fix cve
  grafana/twistcliignore
Due: grafana

fix pre-commit
  grafana/trivyignore
  grafana/twistcliignore
Due: grafana

[Software Bot]update grafana service with version 10.4.17 (#977)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update nginx published versions
  auth-sidecar/version.txt
  nginx-es/version.txt
  openresty/version.txt
Due: auth-sidecar, nginx-es, openresty

update elasticsearch-exporter version in Dockerfile
  elasticsearch-exporter/Dockerfile
Due: elasticsearch-exporter

update elasticsearch-exporter version in version.txt
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

update nginx published versions (#978)
  auth-sidecar/version.txt
  nginx-es/version.txt
  openresty/version.txt
Due: auth-sidecar, nginx-es, openresty

[Software Bot]update elasticsearch-exporter service with version 1.9.0 (#979)
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

update git-sync version in Dockerfile
  git-sync/Dockerfile
Due: git-sync

update git-sync version in version.txt
  git-sync/version.txt
Due: git-sync

fix trivy ignore
  git-sync/trivyignore
Due: git-sync

[Software Bot]update git-sync service with version 4.2.4 (#980)
  git-sync/Dockerfile
  git-sync/trivyignore
  git-sync/version.txt
Due: git-sync

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server
