Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Update dind-alpine to 29.3.0, golang to 1.26.1
  dind-golang/Dockerfile
  dind-golang/version.txt
Due: dind-golang

Update dind-alpine to 29.3.0, Go to 1.26.1 (#1182)
  dind-golang/Dockerfile
  dind-golang/version.txt
Due: dind-golang

Update pre-commit image
  .circleci/config.yml
Due: none

Update pre-commit image (#1184)
  .circleci/config.yml
Due: none

Add missing Airflow 3 metrics
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/include/mappings.yml
  statsd-exporter/version.txt
Due: statsd-exporter

Add missing Airflow 3 metrics (#1183)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/include/mappings.yml
  statsd-exporter/version.txt
Due: statsd-exporter

Add ap-external-secrets
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  external-secrets/Dockerfile
  external-secrets/test.yaml
  external-secrets/version.txt
Due: none

Fix typo
  external-secrets/Dockerfile
Due: none

PINF-387: Add ap-external-secrets (#1186)
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  external-secrets/Dockerfile
  external-secrets/test.yaml
  external-secrets/version.txt
Due: none

update alertmanager version in Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager version in version.txt
  alertmanager/version.txt
Due: alertmanager

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update redis version in Dockerfile
  redis/Dockerfile
Due: redis

update redis version in version.txt
  redis/version.txt
Due: redis

dashboard.yaml is now provisioned from a CM due to readOnlyRootFilesystem configs in the deployment
  grafana/Dockerfile
  grafana/include/dashboard.yaml
Due: grafana

Version 12.4.1-1
  grafana/version.txt
Due: grafana

Allow branch-tag releases
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  bin/generate_circleci_config.py
  bin/sanitize-docker-tag.py
  pyproject.toml
  uv.lock
Due: none

Rearrange DAG
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Add --skip-file-tags to not tag the docker image version found in version.txt
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  bin/docker-operations.py
Due: none

use `uv run`
  .circleci/continue-config.yml.j2
Due: none

Fix typo. Regenerate circleci.yml
  .circleci/continue-config.yml
  .devcontainer/devcontainer.json
Due: none

Install claude from npm
  .devcontainer/Dockerfile
Due: none

Add bit about uv
  README.md
Due: none

Remove dashboard.yaml from grafana image (#1194)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  bin/docker-operations.py
  bin/generate_circleci_config.py
  bin/sanitize-docker-tag.py
  grafana/Dockerfile
  grafana/include/dashboard.yaml
  grafana/version.txt
  pyproject.toml
  uv.lock
Due: grafana
