Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Apply suggestion from @tatiana
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Remove kubed
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  kubed/Dockerfile
  kubed/test.yaml
  kubed/trivyignore
  kubed/version.txt
Due: kubed

Update statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Apply suggestions from code review
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Migrate Nginx-es to use Chainguard (#1106)
  nginx-es/Dockerfile
  nginx-es/test.yaml
  nginx-es/version.txt
Due: nginx-es

Add install_deps to operator and render_config metrics
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Try running in one build stage
  nginx/Dockerfile
Due: nginx

Remove kubed (#1108)
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  kubed/Dockerfile
  kubed/test.yaml
  kubed/trivyignore
  kubed/version.txt
Due: kubed

Apply suggestions from code review
  statsd-exporter/version.txt
Due: statsd-exporter

Add the pgbouncer in krb repo
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer, pgbouncer-krb

Rename docker entrypoint file
  docker-compose.yaml
  pgbouncer-krb/docker-entrypoint.sh
  pgbouncer-krb/entrypoint.sh
  pgbouncer-krb/test.yaml
Due: pgbouncer-krb

Remove whitelist
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

add chainguard
  openresty/Dockerfile
Due: openresty

revert openrsty base
  openresty/Dockerfile
Due: openresty

remove apk update
  openresty/Dockerfile
Due: openresty

remove tests
  openresty/test.yaml
Due: openresty

version update
  openresty/version.txt
Due: openresty

add dev
  nginx/Dockerfile
Due: nginx

fix dockerfile
  nginx/Dockerfile
Due: nginx

add removal of shell
  nginx/Dockerfile
Due: nginx

add reuseaddr
  git-daemon/entrypoint.sh
Due: git-daemon

version update
  git-daemon/version.txt
Due: git-daemon

CVE-2025-11082 and CVE-2025-11083 resolution
  git-daemon/Dockerfile
Due: git-daemon

rev del
  nginx/Dockerfile
Due: nginx

Update nginx/Dockerfile
  nginx/Dockerfile
Due: nginx

Update nginx/version.txt
  nginx/version.txt
Due: nginx

Fix git daemon "Address in use" error on container restart (#1112)
  git-daemon/Dockerfile
  git-daemon/entrypoint.sh
  git-daemon/version.txt
Due: git-daemon

Code review comments
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update the pgbouncer image for kerberos support (#1110)
  docker-compose.yaml
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/docker-entrypoint.sh
  pgbouncer-krb/entrypoint.sh
  pgbouncer-krb/test.yaml
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Migrate authsidecar to use Chainguard (#1098)
  auth-sidecar/Dockerfile
  auth-sidecar/test.yaml
  auth-sidecar/version.txt
Due: auth-sidecar

Migrate nginx ingress controller to Chainguard base image (#1105)
  docker-compose.yaml
  nginx/Dockerfile
  nginx/test.yaml
  nginx/trivyignore
  nginx/version.txt
Due: nginx

Upgrade OpenResty Base Image to Use Chainguard image (#1111)
  openresty/Dockerfile
  openresty/test.yaml
  openresty/version.txt
Due: openresty

add chainguard
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

update version
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
