Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version file
  kibana/version.txt
Due: kibana

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version file
  postgresql/version.txt
Due: postgresql

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version file
  vector/version.txt
Due: vector

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version file
  curator/version.txt
Due: curator

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version file
  nginx/version.txt
Due: nginx

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version file
  postgres-exporter/version.txt
Due: postgres-exporter

[Software Bot]update postgresql service with version 15.6.0 (#708)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

[Software Bot]update kube-state service with version 2.11.0 (#701)
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

update cve ignore list
  nginx/trivyignore
  nginx/twistcliignore
Due: nginx

[Software Bot]update nginx service with version 1.9.6 (#711)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/twistcliignore
  nginx/version.txt
Due: nginx

[Software Bot]update nginx-es service with version 1.25.4 (#700)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update auth-sidecar service with version 1.25.4 (#699)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update alertmanager service with version 0.27.0 (#697)
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

update cve ignore list
  prometheus/twistcliignore
Due: prometheus

[Software Bot]update prometheus service with version 2.45.4 (#696)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

update twistcliignore
  grafana/twistcliignore
Due: grafana

[Software Bot]update grafana service with version 10.2.4 (#703)
  grafana/Dockerfile
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update cve ignore list
  curator/trivyignore
  curator/twistcliignore
Due: curator

[Software Bot]update curator service with version 8.0.9 (#710)
  curator/Dockerfile
  curator/trivyignore
  curator/twistcliignore
  curator/version.txt
Due: curator

update cve ignore
  vector/trivyignore
  vector/twistcliignore
Due: vector

[Software Bot]update vector service with version 0.33.0 (#709)
  vector/Dockerfile
  vector/trivyignore
  vector/twistcliignore
  vector/version.txt
Due: vector

update cve ignore
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
Due: elasticsearch

update pre-commit
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
Due: elasticsearch

update twistcli ignore
  kibana/twistcliignore
Due: kibana

[Software Bot]update elasticsearch service with version 8.12.0 (#705)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.12.0 (#706)
  kibana/Dockerfile
  kibana/twistcliignore
  kibana/version.txt
Due: kibana
