Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

[Software Bot]update vector service with version 0.34.1 (#740)
  vector/Dockerfile
  vector/version.txt
Due: vector

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.34.2 (#741)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.35.0 (#742)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.35.1 (#743)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.36.0 (#744)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.36.1 (#745)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.37.0 (#746)
  vector/Dockerfile
  vector/version.txt
Due: vector

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 15.6.0 (#747)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update kibana service with version 8.13.1 (#749)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

update twistcli ignore
  elasticsearch/twistcliignore
Due: elasticsearch

[Software Bot]update elasticsearch service with version 8.13.1 (#748)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

Update ACR registry to use public one
  .circleci/continue-config.yml.j2
Due: none

update continue config from pre-commit hooks
  .circleci/continue-config.yml
Due: none

[Software Bot]update postgresql service with version 16.2.0 (#751)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

Correct ACR configuration (#750)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state
