Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

pre-commit
  vector/Dockerfile
Due: vector

version update
  vector/version.txt
Due: vector

Fix SQLite vulnerability CVE-2023-7104 in vector Docker image (#1053)
  vector/Dockerfile
  vector/version.txt
Due: vector

sql fix
  curator/Dockerfile
Due: curator

version update
  curator/version.txt
Due: curator

Fix SQLite vulnerability CVE-2023-7104 in curator Docker image (#1054)
  curator/Dockerfile
  curator/version.txt
Due: curator

fix: handle empty/invalid heartbeat file content gracefully
  vector/sidecar_server.py
Due: vector

removing comment
  vector/sidecar_server.py
Due: vector

updated commit as per above suggestions
  vector/sidecar_server.py
  vector/version.txt
Due: vector

pre-commit run --files vector/version.txt
  vector/version.txt
Due: vector

Fix #7612: Handle empty/invalid heartbeat file content gracefully (#1055)
  vector/sidecar_server.py
  vector/version.txt
Due: vector

update alpine version in Dockerfile
  alpine/Dockerfile
Due: none

update alpine version in version.txt
  alpine/version.txt
Due: none

⬆️ [Software Bot] Update alpine to v3.22.1 (#1056)
  alpine/Dockerfile
  alpine/version.txt
Due: none

field matrix builds, ubi10-micro first tranche
  Justfile
  README.md
  ap-base/Dockerfile
  pgbouncer-exporter/Dockerfile
  pgbouncer/Dockerfile
  pgbouncer/frob.Dockerfile
  redis/Dockerfile
  statsd-exporter/Dockerfile
  vector/Dockerfile
Due: pgbouncer, pgbouncer-exporter, redis, statsd-exporter, vector

Add tini to the alpine image
  alpine/Dockerfile
  alpine/version.txt
Due: none

Add tini to the alpine image (#1057)
  alpine/Dockerfile
  alpine/version.txt
Due: none

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

fix blackbox exporter version
  blackbox-exporter/version.txt
Due: blackbox-exporter

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

remove dockerize package
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

remove openssl package
  elasticsearch/Dockerfile
Due: elasticsearch

update trivyignore for bb exporter
  blackbox-exporter/trivyignore
Due: blackbox-exporter

⬆️ [Software Bot] Update auth-sidecar to v1.29.1 (#1058)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

fix cve
  blackbox-exporter/trivyignore
Due: blackbox-exporter

update trivyignore
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
Due: elasticsearch

fix blackbox exporter version (#1059)
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/version.txt
Due: blackbox-exporter

⬆️ [Software Bot] Update kibana to v8.18.5 (#1061)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

⬆️ [Software Bot] Update elasticsearch to v8.18.5 (#1060)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

add chainguard
  vector/Dockerfile
Due: vector

add multistage
  vector/Dockerfile
Due: vector

change in vector path
  vector/sidecar_server.py
Due: vector

add docker file
  vector/Dockerfile
Due: vector

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
