Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

⬆️ [Software Bot] Update git-daemon to v2025.12.24 (#1124)
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

⬆️ [Software Bot] Update postgres-exporter to v0.18.1 (#1125)
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

update nats-exporter version in Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

update nats-exporter version in version.txt
  nats-exporter/version.txt
Due: nats-exporter

update and remove fixed cve
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

update cve ignore
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

update registry version in Dockerfile
  registry/Dockerfile
Due: registry

update registry version in version.txt
  registry/version.txt
Due: registry

fix cve
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

⬆️ [Software Bot] Update nats-exporter to v0.17.3 (#1128)
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

fix pre-commit
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

⬆️ [Software Bot] Update pgbouncer-exporter to v0.20.0 (#1126)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/trivyignore
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update awsesproxy version in Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

update awsesproxy version in version.txt
  awsesproxy/version.txt
Due: awsesproxy

update trivyignore
  nats-server/trivyignore
Due: nats-server

⬆️ [Software Bot] Update nats-server to v2.12.1 (#1127)
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/version.txt
Due: nats-server

update trivyignore
  awsesproxy/trivyignore
Due: awsesproxy

⬆️ [Software Bot] Update awsesproxy to v1.5.0 (#1130)
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
Due: awsesproxy

update docker
  alertmanager/Dockerfile
Due: alertmanager

remove CVEs
  alertmanager/trivyignore
Due: alertmanager

update version
  alertmanager/version.txt
Due: alertmanager

update awsexproxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

awsexproxy: update trivy ignore
  awsesproxy/trivyignore
Due: awsesproxy

update base
  blackbox-exporter/Dockerfile
  curator/Dockerfile
  curator/version.txt
  nats-streaming/Dockerfile
  pgbouncer/Dockerfile
  registry/Dockerfile
Due: blackbox-exporter, curator, nats-streaming, pgbouncer, registry

remove trivyignore
  nats-streaming/trivyignore
Due: nats-streaming

remove nats
  nats-streaming/Dockerfile
Due: nats-streaming

remove nats streaming
  nats-streaming/trivyignore
Due: nats-streaming

update blackbox exporter version
  blackbox-exporter/version.txt
Due: blackbox-exporter

pgbouncer and registry version updates
  pgbouncer/version.txt
  registry/version.txt
Due: pgbouncer, registry

fix CVE-2025-61729
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
Due: blackbox-exporter

update trivyignore
  blackbox-exporter/trivyignore
Due: blackbox-exporter

⬆️ [Software Bot] Update registry to v3.0.0 (#1129)
  registry/Dockerfile
  registry/version.txt
Due: registry

update tag
  alertmanager/Dockerfile
Due: alertmanager

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
