Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Switch from packaging to semver. Merge two scripts.
  .pre-commit-config.yaml
  bin/check_version.py
  bin/docker-operations.py
  bin/trivy-scan.sh
  bin/validate-semver.py
  requirements/requirements.in
  requirements/requirements.txt
Due: none

pre-commit run --all-files
  docker-compose.yaml.j2
  postgres-exporter/Dockerfile
  postgres-operator/Dockerfile
  vector/sidecar_server.py
Due: postgres-exporter, postgres-operator, vector

v8.0.3-chainguard
  redis/version.txt
Due: redis

Revert redis changes to what is in main branch
  redis/Dockerfile
  redis/build-redis.sh
  redis/docker-entrypoint.sh
  redis/install_packages
  redis/version.txt
Due: redis

Fix and bump python
  python/Dockerfile
  python/version.txt
Due: none

Use latest path-filtering, ci-pre-commit
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

Fix argument
  .pre-commit-config.yaml
Due: none

7441 redis chainguard (#1043)
  redis/Dockerfile
  redis/build-redis.sh
  redis/version.txt
Due: redis

change name
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

remove twistcli config
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

remove twistcli config (#1050)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

⬆️ [Software Bot] Update auth-sidecar to v1.29.0 (#1045)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

⬆️ [Software Bot] Update prometheus to v3.5.0 (#1046)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

⬆️ [Software Bot] Update dogstatsd to v7.68.3 (#1047)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

⬆️ [Software Bot] Update kube-state to v2.16.0 (#1048)
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

⬆️ [Software Bot] Update nginx-es to v1.29.0 (#1049)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

⬆️ [Software Bot] Update postgresql to v17.5.0 (#1051)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

vector base update
  vector/Dockerfile
Due: vector

add RUN apk upgrade && apk add --upgrade sqlite-libs
  vector/Dockerfile
Due: vector
