Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

fix test
  dogstatsd/test.yaml
Due: dogstatsd

wrong org
  dogstatsd/Dockerfile
Due: dogstatsd

fixes
  elasticsearch-exporter/version.txt
  kube-state/version.txt
  prometheus/version.txt
Due: elasticsearch-exporter, kube-state, prometheus

endor update
  kube-state/endorignore
Due: kube-state

Add 1.1.5-beta3 fixes (#1300)
  elasticsearch-exporter/version.txt
  kube-state/endorignore
  kube-state/version.txt
  prometheus/version.txt
Due: elasticsearch-exporter, kube-state, prometheus

add ignore github.com/docker go package cve
  dogstatsd/endorignore
Due: dogstatsd

precommit
  dogstatsd/endorignore
Due: dogstatsd

Upgrade Datadogstatsd + non-root user (#1296)
  dogstatsd/Dockerfile
  dogstatsd/endorignore
  dogstatsd/test.yaml
  dogstatsd/version.txt
Due: dogstatsd

endorignore for datadogstatsd
  dogstatsd/endorignore
Due: dogstatsd

upgrade dogstatsd
  dogstatsd/Dockerfile
  dogstatsd/endorignore
  dogstatsd/version.txt
Due: dogstatsd

Update dogstatsd (#1328)
  dogstatsd/Dockerfile
  dogstatsd/endorignore
  dogstatsd/version.txt
Due: dogstatsd

Enable test and update path
  alertmanager/Dockerfile
  alertmanager/test.yaml
Due: alertmanager

Fix alertmanager
  alertmanager/Dockerfile
  alertmanager/test.yaml
  alertmanager/version.txt
Due: alertmanager

Add endorignore
  alertmanager/endorignore
Due: alertmanager

Bump base
  alertmanager/Dockerfile
  alertmanager/endorignore
Due: alertmanager

Fix alertmanager not found error (#1332)
  alertmanager/Dockerfile
  alertmanager/test.yaml
  alertmanager/version.txt
Due: alertmanager

fix blackbox exporter
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update versions
  auth-sidecar/version.txt
  elasticsearch/version.txt
  nginx-es/version.txt
  openresty/version.txt
  postgresql/version.txt
  redis/version.txt
  statsd-exporter/version.txt
  vector/version.txt
Due: auth-sidecar, elasticsearch, nginx-es, openresty, postgresql, redis, statsd-exporter, vector

Add endoreignore
  vector/endorignore
Due: vector

rollback vector change
  vector/version.txt
Due: vector

rollback openresty
  openresty/version.txt
Due: openresty

Add to endorignore
  statsd-exporter/endorignore
Due: statsd-exporter

Image updates (#1346)
  auth-sidecar/version.txt
  elasticsearch/version.txt
  nginx-es/version.txt
  postgresql/version.txt
  redis/version.txt
  statsd-exporter/endorignore
  statsd-exporter/version.txt
Due: auth-sidecar, elasticsearch, nginx-es, postgresql, redis, statsd-exporter

Update version.txt
  prometheus/version.txt
Due: prometheus

Update version.txt (#1347)
  prometheus/version.txt
Due: prometheus

Fix CVEs
  alertmanager/version.txt
  curator/version.txt
  external-secrets/Dockerfile
  external-secrets/version.txt
  node-exporter/version.txt
  vector/version.txt
Due: alertmanager, curator, node-exporter, vector

Add endoreignore
  external-secrets/endorignore
  node-exporter/endorignore
Due: node-exporter

CVE fixes (#1348)
  alertmanager/version.txt
  curator/version.txt
  external-secrets/Dockerfile
  external-secrets/endorignore
  external-secrets/version.txt
  node-exporter/endorignore
  node-exporter/version.txt
  vector/version.txt
Due: alertmanager, curator, node-exporter, vector

Add kube-rbac-proxy
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  kube-rbac-proxy/Dockerfile
  kube-rbac-proxy/metadata.yaml
  kube-rbac-proxy/test.yaml
  kube-rbac-proxy/version.txt
Due: none

remove astrocr from vendor mirror list
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Update code owner
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

PLAT-564 Enable a shared namespace for shared telemetryfrom within airflow
  statsd-exporter/endorignore
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

PLAT-564 gen2 Enable a shared namespace for shared telemetryfrom within airflow (#1373)
  statsd-exporter/endorignore
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

update eso image version 2.3.0
  external-secrets/Dockerfile
  external-secrets/version.txt
Due: none

PINF-870 - update eso image version 2.3.0 (#1374)
  external-secrets/Dockerfile
  external-secrets/version.txt
Due: none

update eso version 2.7.0
  external-secrets/Dockerfile
  external-secrets/version.txt
Due: none

update eso version 2.7.0 (#1375)
  external-secrets/Dockerfile
  external-secrets/version.txt
Due: none

beta 2.7
  external-secrets/Dockerfile
  external-secrets/version.txt
Due: none
