Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Delete nats-exporter/Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Delete nats-exporter/version.txt
  nats-exporter/version.txt
Due: nats-exporter

Delete nats-server/Dockerfile
  nats-server/Dockerfile
Due: nats-server

Delete nats-server/version.txt
  nats-server/version.txt
Due: nats-server

Delete nats-streaming/Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

Delete nats-streaming/version.txt
  nats-streaming/version.txt
Due: nats-streaming

Delete pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Delete pgbouncer-exporter/version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Delete pgbouncer-krb/Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Delete pgbouncer/Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

Delete pgbouncer/version.txt
  pgbouncer/version.txt
Due: pgbouncer

Delete postgres-exporter/version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Delete registry/Dockerfile
  registry/Dockerfile
Due: registry

Delete registry/version.txt
  registry/version.txt
Due: registry

Delete vector/Dockerfile
  vector/Dockerfile
Due: vector

adding trivy cve
  alertmanager/trivyignore
  awsesproxy/trivyignore
  blackbox-exporter/trivyignore
  curator/trivyignore
  nats-exporter/trivyignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  pgbouncer-exporter/trivyignore
  postgres-exporter/trivyignore
  registry/trivyignore
Due: alertmanager, awsesproxy, blackbox-exporter, curator, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, postgres-exporter, registry

fixing the pre commit changes
  awsesproxy/trivyignore
  blackbox-exporter/trivyignore
  curator/trivyignore
  nats-exporter/trivyignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  pgbouncer-exporter/trivyignore
  postgres-exporter/trivyignore
  registry/trivyignore
Due: awsesproxy, blackbox-exporter, curator, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, postgres-exporter, registry

fixing the pre commit failures
  alertmanager/twistcliignore
  curator/twistcliignore
Due: alertmanager, curator

Remove useless comments.
  curator/twistcliignore
Due: curator

Ignore trivy CVEs (#865)
  alertmanager/trivyignore
  alertmanager/twistcliignore
  awsesproxy/trivyignore
  blackbox-exporter/trivyignore
  curator/trivyignore
  curator/twistcliignore
  nats-exporter/trivyignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  pgbouncer-exporter/trivyignore
  postgres-exporter/trivyignore
  registry/trivyignore
Due: alertmanager, awsesproxy, blackbox-exporter, curator, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, postgres-exporter, registry

Update Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

Update version.txt
  alertmanager/version.txt
Due: alertmanager

Update Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

Update version.txt
  awsesproxy/version.txt
Due: awsesproxy

Update Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile
  git-sync-relay/Dockerfile
Due: git-sync-relay

Update version.txt
  git-sync-relay/version.txt
Due: git-sync-relay

Update Dockerfile
  init/Dockerfile
Due: init

Update version.txt
  init/version.txt
Due: init

Update Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

Update Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
