Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

Bump statsd version
  statsd-exporter/version.txt
Due: statsd-exporter

Remove black, expand ruff, bump dev component versions.
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  bin/check_version.py
  bin/docker-operations.py
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  bin/test.py
  bin/twistcli_validator.py
  bin/validate-semver.py
  pyproject.toml
  requirements/requirements.txt
  statsd-exporter/test/test.py
  vector/sidecar_server.py
Due: statsd-exporter, vector

Remove black, expand ruff, bump dev component versions. (#884)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  bin/check_version.py
  bin/docker-operations.py
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  bin/test.py
  bin/twistcli_validator.py
  bin/validate-semver.py
  pyproject.toml
  requirements/requirements.txt
  statsd-exporter/test/test.py
  vector/sidecar_server.py
Due: statsd-exporter, vector

Rebuild fluentd requirements
  fluentd/include/Gemfile.lock
Due: fluentd

fluentd 1.17.1
  fluentd/version.txt
Due: fluentd

Remove old solved CVEs
  fluentd/twistcliignore
Due: fluentd

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

update statsd-exporter version in Dockerfile
  statsd-exporter/Dockerfile
Due: statsd-exporter

update statsd-exporter version in version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update statsd-exporter service with version 0.28.0 (#889)
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

update grafana twistcliignore
  grafana/twistcliignore
Due: grafana

update vector twistcliignore
  vector/twistcliignore
Due: vector

update prometheus trivyiignore
  prometheus/trivyignore
Due: prometheus

[Software Bot]update grafana service with version 10.4.12 (#887)
  grafana/Dockerfile
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

[Software Bot]update vector service with version 0.42.0 (#888)
  vector/Dockerfile
  vector/twistcliignore
  vector/version.txt
Due: vector

[Software Bot]update prometheus service with version 2.53.2 (#890)
  prometheus/Dockerfile
  prometheus/trivyignore
  prometheus/version.txt
Due: prometheus

[Software Bot]update prometheus service with version 2.53.3 (#893)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

Avoid backtracking
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Add UME metrics (#894)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

Refactor circleci generator.
  bin/generate_circleci_config.py
Due: none

Remove empty trivy.yaml files
  alertmanager/trivy.yaml
  auth-sidecar/trivy.yaml
  awsesproxy/trivy.yaml
  blackbox-exporter/trivy.yaml
  configmap-reloader/trivy.yaml
  curator/trivy.yaml
  dind-golang/trivy.yaml
  dogstatsd/trivy.yaml
  elasticsearch-exporter/trivy.yaml
  elasticsearch/trivy.yaml
  fluentd/trivy.yaml
  git-daemon/trivy.yaml
  git-sync-relay/trivy.yaml
  git-sync/trivy.yaml
  init/trivy.yaml
  keda-metrics-apiserver/trivy.yaml
  keda/trivy.yaml
  kibana/trivy.yaml
  kube-state/trivy.yaml
  kubed/trivy.yaml
  nats-exporter/trivy.yaml
  nats-server/trivy.yaml
  nats-streaming/trivy.yaml
  nginx-es/trivy.yaml
  nginx/trivy.yaml
  node-exporter/trivy.yaml
  openresty/trivy.yaml
  pgbouncer-exporter/trivy.yaml
  pgbouncer-krb/trivy.yaml
  pgbouncer/trivy.yaml
  po-logical-backup/trivy.yaml
  po-pgbouncer/trivy.yaml
  postgres-exporter/trivy.yaml
  postgres-operator/trivy.yaml
  postgresql/trivy.yaml
  prometheus/trivy.yaml
  redis/trivy.yaml
  registry/trivy.yaml
  statsd-exporter/trivy.yaml
  vector/trivy.yaml
Due: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Refactor bin/generate_docker_compose.py
  bin/generate_docker_compose.py
Due: none

Make trivyignore and trivy.yaml optional
  bin/generate_circleci_config.py
  bin/trivy-scan.sh
Due: none

Bump redis/version.txt so we have a test build
  redis/version.txt
Due: redis

Allow @astronomer/astronomer-software to approve
  CODEOWNERS
Due: none

Allow @astronomer/astronomer-software to approve (#896)
  CODEOWNERS
Due: none

update twistcli and trivy ignore files
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

update twistcli and trivy ignore files
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
Due: elasticsearch
