Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

grafana 10.0.1
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

grafana 8.5.27 (#560)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

pgbouncer-exporter 0.14.0, ap-base 3.18.0 (#557)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/test.yaml
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

bump statsd version
  statsd-exporter/version.txt
Due: statsd-exporter

ignore new CVE
  statsd-exporter/trivyignore
Due: statsd-exporter

Grafana 9 (#561)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

Grafana 10 (#562)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

statsd 0.23.1-2 (#563)
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

upgrade prometheus to newer LTS version 2.45.0
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update trivyignore file
  prometheus/trivyignore
Due: prometheus

update nginx base packages
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

nginx 1.25.1 (#565)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

prometheus 1.25.1 (newer LTS version) (#564)
  prometheus/Dockerfile
  prometheus/trivyignore
  prometheus/version.txt
Due: prometheus

update blackbox exporter 0.23.0-> 0.24.0
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

update node exporter version 1.5.0 -> 1.6.1
  node-exporter/Dockerfile
  node-exporter/trivyignore
  node-exporter/version.txt
Due: node-exporter

remove trivyignore CVE
  blackbox-exporter/trivyignore
Due: blackbox-exporter

update blackbox exporter 0.23.0-> 0.24.0 (#566)
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/version.txt
Due: blackbox-exporter

update node exporter version 1.5.0 -> 1.6.1 (#567)
  node-exporter/Dockerfile
  node-exporter/trivyignore
  node-exporter/version.txt
Due: node-exporter

update grafana version 10.0.2
  grafana/Dockerfile
  grafana/trivyignore
Due: grafana

update tags
  grafana/version.txt
Due: grafana

update grafana version 10.0.2 (#568)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/version.txt
Due: grafana

update kibana version 8.8.1 -> 8.8.2
  kibana/Dockerfile
  kibana/trivyignore
  kibana/version.txt
Due: kibana

update es version 8.8.1 -> 8.8.2
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/version.txt
Due: elasticsearch

Update elastic minor version (#569)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/version.txt
  kibana/Dockerfile
  kibana/trivyignore
  kibana/version.txt
Due: elasticsearch, kibana

update openresty version
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update openresty version (#570)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update nginx version 1.8.1
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update nginx version 1.8.1 (#571)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update ap-init with alpine 3.18.0
  init/Dockerfile
  init/version.txt
Due: init

update ap-init with alpine 3.18.0 (#573)
  init/Dockerfile
  init/version.txt
Due: init

Update dev components
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  requirements/requirements.txt
Due: none

Bump redis so we can observe a successful build pipeline
  redis/version.txt
Due: redis

Handle hash requirement
  requirements/requirements.in
Due: none

regenerate requirements
  requirements/requirements.txt
Due: none

Fix tomli hash problem. Update stuff again.
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  requirements/requirements.in
  requirements/requirements.txt
Due: none

undo redis version since tests succeeded
  redis/version.txt
Due: redis

dev updates (#574)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  requirements/requirements.in
  requirements/requirements.txt
Due: none

pgbouncer-exporter 0.15.0
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

vector 0.32.0
  vector/Dockerfile
  vector/version.txt
Due: vector

vector 0.32.0 (#576)
  vector/Dockerfile
  vector/version.txt
Due: vector
