Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fix providers
  external-secrets/Dockerfile
Due: none

fix replicated regions
  external-secrets/Dockerfile
Due: none

vector
  vector/version.txt
Due: vector

endorignore
  vector/endorignore
Due: vector

Vector image rebuild (#1380)
  vector/endorignore
  vector/version.txt
Due: vector

Add CVEs to endorignore
  registry/endorignore
Due: registry

Update endorignore
  alertmanager/endorignore
Due: alertmanager

Update endoreignore
  pgbouncer-exporter/endorignore
Due: pgbouncer-exporter

Update versions
  configmap-reloader/version.txt
  nginx/version.txt
  vector/version.txt
Due: configmap-reloader, nginx, vector

rollback vector
  vector/version.txt
Due: vector

CVE fix for configmap and nginx (#1393)
  configmap-reloader/version.txt
  nginx/version.txt
Due: configmap-reloader, nginx

update version
  external-secrets/version.txt
Due: none

fix the version
  external-secrets/version.txt
Due: none

fix ci images
  .circleci/config.yml
Due: none

PINF-920 - custom changes to support namespace pools in eso (#1376)
  .circleci/config.yml
  external-secrets/Dockerfile
  external-secrets/version.txt
Due: none

bump nats exporter
  bin/scan-endorctl.py
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

Updated CVE list
  nats-exporter/endorignore
Due: nats-exporter

Add endorignore
  nats-exporter/endorignore
Due: nats-exporter

Rollback
  nats-exporter/Dockerfile
Due: nats-exporter

Fix CVE
  awsesproxy/Dockerfile
  awsesproxy/endorignore
  awsesproxy/version.txt
  elasticsearch-exporter/endorignore
  elasticsearch-exporter/version.txt
  grafana/endorignore
  grafana/version.txt
Due: awsesproxy, elasticsearch-exporter, grafana

Update CVE
  grafana/endorignore
Due: grafana

Fix CVE 2026 07 13 (#1422)
  awsesproxy/Dockerfile
  awsesproxy/endorignore
  awsesproxy/version.txt
  elasticsearch-exporter/endorignore
  elasticsearch-exporter/version.txt
  grafana/endorignore
  grafana/version.txt
Due: awsesproxy, elasticsearch-exporter, grafana

Update endorignore
  postgres-exporter/endorignore
Due: postgres-exporter

fix grafana dashboard
  grafana/include/airflow-containers.json
  grafana/include/airflow-database-activity.json
  grafana/include/airflow-overview.json
  grafana/include/airflow-scheduler.json
  grafana/include/airflow-state.json
  grafana/include/astronomer-houston.json
  grafana/include/docker-registry.json
  grafana/include/elasticsearch.json
  grafana/include/fluentd-2022-02.json
  grafana/include/fluentd.json
  grafana/include/kubernetes-pods-metrics.json
  grafana/include/nats-dash.json
  grafana/include/nginx-ingress.json
  grafana/include/platform-2021-11-11.json
  grafana/include/platform-overview-2022-01-26.json
  grafana/include/platform-overview.json
  grafana/include/prometheus.json
  grafana/include/stan-dash.json
Due: grafana

update version
  grafana/version.txt
Due: grafana

PINF-988 - fix grafana dashboard (#1424)
  grafana/include/airflow-containers.json
  grafana/include/airflow-database-activity.json
  grafana/include/airflow-overview.json
  grafana/include/airflow-scheduler.json
  grafana/include/airflow-state.json
  grafana/include/astronomer-houston.json
  grafana/include/docker-registry.json
  grafana/include/elasticsearch.json
  grafana/include/fluentd-2022-02.json
  grafana/include/fluentd.json
  grafana/include/kubernetes-pods-metrics.json
  grafana/include/nats-dash.json
  grafana/include/nginx-ingress.json
  grafana/include/platform-2021-11-11.json
  grafana/include/platform-overview-2022-01-26.json
  grafana/include/platform-overview.json
  grafana/include/prometheus.json
  grafana/include/stan-dash.json
  grafana/version.txt
Due: grafana

Add SLA safety-net mapping and clarify catch-all behavior
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Add histogram timer mapping for astro_event_scheduler SLA metrics
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Fix astro_event_scheduler SLA histogram buckets to milliseconds
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/test/test.py
Due: statsd-exporter

Bump statsd-exporter to 0.30.0-3
  statsd-exporter/version.txt
Due: statsd-exporter

statsd-exporter: histogram mapping for astro_event_scheduler SLA metrics (#1229)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/test/test.py
  statsd-exporter/version.txt
Due: statsd-exporter

fix endore ignore
  statsd-exporter/endorignore
Due: statsd-exporter

fix endore ignore (#1444)
  statsd-exporter/endorignore
Due: statsd-exporter

Update version
  redis/Dockerfile
  redis/version.txt
Due: redis

add error pages
  auth-sidecar/errorpages/403.html
  auth-sidecar/errorpages/404.html
  auth-sidecar/errorpages/502.html
  auth-sidecar/errorpages/503.html
Due: auth-sidecar

Fix pre commit
  .circleci/config.yml
Due: none

Bump aws-es-proxy version
  awsesproxy/Dockerfile
Due: awsesproxy

Bump go packages
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Bump click
  curator/Dockerfile
Due: curator

Fix docker build
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
