Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

[Software Bot]update kibana service with version 8.15.1 (#892)
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

[Software Bot]update elasticsearch service with version 8.15.1 (#891)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

update configmap-reloader version in Dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

update configmap-reloader version in version.txt
  configmap-reloader/version.txt
Due: configmap-reloader

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update configmap-reloader service with version 0.14.0 (#897)
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

update grafana cve ignore update
  grafana/twistcliignore
Due: grafana

[Software Bot]update elasticsearch service with version 8.15.2 (#899)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.15.2 (#900)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

[Software Bot]update grafana service with version 10.4.13 (#898)
  grafana/Dockerfile
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

[Software Bot]update elasticsearch service with version 8.15.3 (#901)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.15.3 (#902)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update elasticsearch service with version 8.15.4 (#903)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.15.4 (#904)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

[Software Bot]update auth-sidecar service with version 1.27.2 (#905)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update nginx-es service with version 1.27.2 (#906)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

update curator version in Dockerfile
  curator/Dockerfile
Due: curator

update curator version in version.txt
  curator/version.txt
Due: curator

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

[Software Bot]update kube-state service with version 2.14.0 (#907)
  kube-state/Dockerfile
  kube-state/version.txt
Due: kube-state

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
