Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

updating elastic-search version from 8.11.4 to 8.12.0
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

Update twistcliignore
  elasticsearch/twistcliignore
Due: elasticsearch

Update new cve in twistcliignore
  elasticsearch/twistcliignore
Due: elasticsearch

quay.io/astronomer/ci-pre-commit:2024-01
  .circleci/config.yml
  .circleci/config.yml.j2
Due: none

revert upstream code and repoint internal fork
  registry/Dockerfile
  registry/version.txt
Due: registry

update registry UID in dockerfile
  registry/Dockerfile
Due: registry

update dockerfile
  registry/Dockerfile
Due: registry

update cve ignore
  registry/trivyignore
  registry/twistcliignore
Due: registry

fix twistcliignore
  registry/twistcliignore
Due: registry

add CA update env
  registry/Dockerfile
Due: registry

add ownership to certs dir
  elasticsearch/Dockerfile
  registry/Dockerfile
Due: elasticsearch, registry

revert elasticsearch changes
  elasticsearch/Dockerfile
Due: elasticsearch

Unique case-insensitive sort
  bin/twistcli_validator.py
Due: none

Uniquely sort all ignore files
  .pre-commit-config.yaml
Due: none

Sort twistcliignore
  registry/twistcliignore
Due: registry

Add new vulns
  registry/twistcliignore
Due: registry

Print CVEs in a format that is good for copy/pasting
  bin/twistcli_validator.py
Due: none

Revert upstream registry repo (#682)
  registry/Dockerfile
  registry/trivyignore
  registry/twistcliignore
  registry/version.txt
Due: registry

update prometheus version 2.45.3
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update twistcli
  prometheus/twistcliignore
Due: prometheus

update prometheus version 2.45.3 (#684)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

update postgresql version 15.5.0
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update trivyignore CVE
  postgresql/trivyignore
Due: postgresql

fix pre-commit
  postgresql/trivyignore
Due: postgresql

update postgresql version 15.5.0 (#685)
  postgresql/Dockerfile
  postgresql/trivyignore
  postgresql/version.txt
Due: postgresql

add OpenLineage specific statsd mappings
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

fixed typo
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

update version
  statsd-exporter/version.txt
Due: statsd-exporter

update vector ap-base image 3.18.5
  vector/Dockerfile
  vector/version.txt
Due: vector

update twistcli ignore
  vector/twistcliignore
Due: vector

update vector ap-base image 3.18.5 (#687)
  vector/Dockerfile
  vector/twistcliignore
  vector/version.txt
Due: vector

Add OpenLineage specific statsd mappings (#686)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

fix openlineage specific statsd mappings
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

fix openlineage specific statsd mappings (#688)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

Update ap-base from 3.18.5 to 3.18.6
  awsesproxy/Dockerfile
Due: awsesproxy
