Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fix trivyignore
  kibana/trivyignore
Due: kibana

update fluentd
  fluentd/version.txt
Due: fluentd

⬆️ [Software Bot] Update kibana to v8.16.6 (#1023)
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

update twistcli ignore
  elasticsearch/twistcliignore
Due: elasticsearch

⬆️ [Software Bot] Update elasticsearch to v8.16.6 (#1022)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

fix cve
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
Due: elasticsearch

⬆️ [Software Bot] Update elasticsearch to v8.17.6 (#1024)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

⬆️ [Software Bot] Update kibana to v8.17.6 (#1025)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

⬆️ [Software Bot] Update nginx to v1.11.6 (#1026)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

⬆️ [Software Bot] Update dogstatsd to v7.66.0 (#1027)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

update openresty version in Dockerfile
  openresty/Dockerfile
Due: openresty

update openresty version in version.txt
  openresty/version.txt
Due: openresty

⬆️ [Software Bot] Update openresty to v1.27.1.2-1-alpine (#1028)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

Update git-sync, fluentd and ap-base images (#1021)
  alertmanager/Dockerfile
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  fluentd/include/Gemfile.lock
  fluentd/twistcliignore
  fluentd/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/twistcliignore
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/twistcliignore
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, fluentd, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry, vector

⬆️ [Software Bot] Update kibana to v8.18.0 (#1030)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

⬆️ [Software Bot] Update elasticsearch to v8.18.0 (#1029)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

gss-enable our standard pgbouncer image
  pgbouncer/Dockerfile
Due: pgbouncer

squash some bugs
  pgbouncer/Dockerfile
Due: pgbouncer

trim leading whitespace
  pgbouncer/Dockerfile
Due: pgbouncer

pin elasticsearch version 5.x bundle
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
Due: fluentd

update correct fluentd version 1.18.0
  fluentd/version.txt
Due: fluentd

pin elasticsearch version 5.x bundle (#1031)
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

⬆️ [Software Bot] Update kibana to v8.18.1 (#1033)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
