Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

Update Dockerfile
  vector/Dockerfile
Due: vector

Update version.txt
  vector/version.txt
Due: vector

Update Dockerfile with libssl3
  curator/Dockerfile
Due: curator

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update postgresql service with version 15.8.0 (#867)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

[Software Bot]update auth-sidecar service with version 1.27.1 (#869)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update nginx-es service with version 1.27.1 (#868)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

Update Dockerfile
  openresty/Dockerfile
Due: openresty

Update version.txt
  openresty/version.txt
Due: openresty

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

Update openresty with 1.25.3.2-0-alpine (#871)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

[Software Bot]update vector service with version 0.41.0 (#870)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.41.1 (#872)
  vector/Dockerfile
  vector/version.txt
Due: vector

update elasticsearch-exporter version in Dockerfile
  elasticsearch-exporter/Dockerfile
Due: elasticsearch-exporter

update elasticsearch-exporter version in version.txt
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

[Software Bot]update elasticsearch-exporter service with version 1.8.0 (#874)
  elasticsearch-exporter/Dockerfile
  elasticsearch-exporter/version.txt
Due: elasticsearch-exporter

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
