Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

[Software Bot]update node-exporter service with version 1.8.1 (#781)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

update init version in Dockerfile
  init/Dockerfile
Due: init

update init version in version.txt
  init/version.txt
Due: init

update twistcli ignore
  init/twistcliignore
Due: init

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update auth-sidecar version in Dockerfile
  auth-sidecar/Dockerfile
Due: auth-sidecar

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update init service with version 3.18.6 (#782)
  init/Dockerfile
  init/twistcliignore
  init/version.txt
Due: init

[Software Bot]update nginx-es service with version 1.25.5 (#783)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

[Software Bot]update auth-sidecar service with version 1.25.5 (#784)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

update configmap-reloader version in Dockerfile
  configmap-reloader/Dockerfile
Due: configmap-reloader

update configmap-reloader version in version.txt
  configmap-reloader/version.txt
Due: configmap-reloader

update trivyignore
  configmap-reloader/trivyignore
Due: configmap-reloader

[Software Bot]update configmap-reloader service with version 0.13.0 (#786)
  configmap-reloader/Dockerfile
  configmap-reloader/trivyignore
  configmap-reloader/version.txt
Due: configmap-reloader

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

update cve ignore
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

update twistcliignore list
  elasticsearch/twistcliignore
Due: elasticsearch

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 15.7.0 (#789)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 16.3.0 (#790)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update dogstatsd version in Dockerfile
  dogstatsd/Dockerfile
Due: dogstatsd

update dogstatsd version in version.txt
  dogstatsd/version.txt
Due: dogstatsd

update twistcli
  dogstatsd/twistcliignore
Due: dogstatsd

[Software Bot]update dogstatsd service with version 7.53.0 (#792)
  dogstatsd/Dockerfile
  dogstatsd/twistcliignore
  dogstatsd/version.txt
Due: dogstatsd

[Software Bot]update dogstatsd service with version 7.54.0 (#793)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

update redis version in Dockerfile
  redis/Dockerfile
Due: redis

update redis version in version.txt
  redis/version.txt
Due: redis

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
