Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

updating twistcliignore with new cve
  grafana/twistcliignore
Due: grafana

Update trivyignore
  grafana/trivyignore
Due: grafana

Update Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

Update version.txt
  elasticsearch/version.txt
Due: elasticsearch

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

remove . to _
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

- to _ for statsd exporter mappings
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

update golang version
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

revert kibana version
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

update sha check sum
  nats-server/Dockerfile
Due: nats-server

fix elastic version
  elasticsearch/version.txt
  kibana/version.txt
Due: elasticsearch, kibana

Update twistcliignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

Update twistcliignore
  nats-server/twistcliignore
Due: nats-server

Update trivyignore
  nats-server/trivyignore
Due: nats-server

Update trivyignore
  blackbox-exporter/trivyignore
Due: blackbox-exporter

updating new cves
  blackbox-exporter/trivyignore
  nats-server/trivyignore
Due: blackbox-exporter, nats-server

update version and trivyignore
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

Update apvendor packages (#813)
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
  curator/Dockerfile
  curator/trivyignore
  curator/twistcliignore
  curator/version.txt
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/twistcliignore
  nats-server/version.txt
Due: blackbox-exporter, configmap-reloader, curator, grafana, nats-server

Update requirements
  requirements/requirements.txt
Due: none

Update dev component versions (#799)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  Makefile
  requirements/requirements.txt
Due: none

Update Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

Update version.txt
  alertmanager/version.txt
Due: alertmanager

Update Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

Update version.txt
  awsesproxy/version.txt
Due: awsesproxy

Update Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile
  git-sync-relay/Dockerfile
Due: git-sync-relay

Update version.txt
  git-sync-relay/version.txt
Due: git-sync-relay

Update Dockerfile
  init/Dockerfile
Due: init

Update version.txt
  init/version.txt
Due: init

Update Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
