Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

grafana: update version
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

kube-state: update version
  kube-state/version.txt
Due: kube-state

nats-server: version update
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

nats-exporter: update crypto library
  nats-exporter/Dockerfile
Due: nats-exporter

nats-exporter: version update
  nats-exporter/version.txt
Due: nats-exporter

nats-exporter: trivyignore
  nats-exporter/trivyignore
Due: nats-exporter

Fix cves for CVEs caught in CVE Scan v1.1.0-rc1 (#1132)
  alertmanager/Dockerfile
  alertmanager/trivyignore
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, pgbouncer

nats-exporter: add go mod tidy
  nats-exporter/Dockerfile
Due: nats-exporter

Fix cves for CVEs caught in CVE Scan v1.1.0-rc1: Part2 (#1133)
  grafana/Dockerfile
  grafana/version.txt
  kube-state/version.txt
  nats-exporter/Dockerfile
  nats-exporter/trivyignore
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
Due: grafana, kube-state, nats-exporter, nats-server

add chainguard
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

update version
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

add dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

removing tests for now
  docker-compose.yaml
  pgbouncer-exporter/test.yaml
Due: pgbouncer-exporter

update tag
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

⬆️ [Software Bot] Update prometheus to v3.7.3 (#1137)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

⬆️ [Software Bot] Update prometheus to v3.8.1 (#1138)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

correct version
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update statsd
  statsd-exporter/version.txt
Due: statsd-exporter

remove old CVEs
  statsd-exporter/trivyignore
Due: statsd-exporter

Update pgbouncer-exporter/version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

add pgbouncer 1.25.1
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

update checksum
  pgbouncer/Dockerfile
Due: pgbouncer

remove pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

Update statsd (#1139)
  statsd-exporter/trivyignore
  statsd-exporter/version.txt
Due: statsd-exporter

Update nginx-es to version 1.29.4
  nginx-es/Dockerfile
Due: nginx-es

update version.txt
  nginx-es/version.txt
Due: nginx-es

PLX-126: Update nginx-es to version 1.29.4 (#1140)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

PLAT-263 standardize otel collector image
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  opentelemetry-collector/Dockerfile
  opentelemetry-collector/README.md
  opentelemetry-collector/include/config-gen2.yaml
  opentelemetry-collector/include/config.yaml
  opentelemetry-collector/metadata.yaml
  opentelemetry-collector/test.yaml
  opentelemetry-collector/trivyignore
  opentelemetry-collector/version.txt
Due: none

Add a netshoot image
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  netshoot/Dockerfile
  netshoot/metadata.yaml
  netshoot/test.yaml
  netshoot/version.txt
Due: none

add module
  nginx/Dockerfile
Due: nginx

use chainguard module
  nginx/Dockerfile
Due: nginx

version increase
  nginx/version.txt
Due: nginx

Use 1.14
  nginx/Dockerfile
Due: nginx

use dev tag for apk installation
  nginx/Dockerfile
Due: nginx
