Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update base image init service
  awsesproxy/trivyignore
  blackbox-exporter/trivyignore
  init/Dockerfile
  init/version.txt
Due: awsesproxy, blackbox-exporter, init

remove resolved CVE list from ap-init
  init/twistcliignore
Due: init

update vector service base image
  vector/Dockerfile
  vector/version.txt
Due: vector

update ap-base 3.18.4-1 in ap-vendor packages (#643)
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/twistcliignore
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/twistcliignore
  git-daemon/version.txt
  init/Dockerfile
  init/twistcliignore
  init/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/twistcliignore
  registry/version.txt
  vector/Dockerfile
  vector/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, postgres-exporter, registry, vector

Update version.txt
  nginx-es/version.txt
Due: nginx-es

Update version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

update nginx base packages in ap-vendor (#644)
  auth-sidecar/version.txt
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

fix CVE-2023-43787 in openresty service
  openresty/version.txt
Due: openresty

update fluentd gem packages
  fluentd/include/Gemfile.lock
Due: fluentd

fix CVE-2023-43787 in openresty service (#645)
  openresty/version.txt
Due: openresty

update fluentd version
  fluentd/version.txt
Due: fluentd

update openresty patch version
  openresty/version.txt
Due: openresty

update fluentd gem packages (#646)
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update ap-base version in nats services
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
Due: nats-exporter, nats-server, nats-streaming

update CVE exclusion in nats packages
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-server/trivyignore
  nats-server/twistcliignore
  nats-streaming/trivyignore
  nats-streaming/twistcliignore
Due: nats-exporter, nats-server, nats-streaming

update CVE exclusion in nats packages
  nats-exporter/trivyignore
Due: nats-exporter

update ap-base version in nats services (#648)
  nats-exporter/Dockerfile
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/twistcliignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/twistcliignore
  nats-streaming/version.txt
Due: nats-exporter, nats-server, nats-streaming

update aws-es-proxy packages
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

update awsesproxy Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

update aws-es-proxy packages (#649)
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

fix CVE-2023-5678 in pgbouncer-exporter
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

fix CVE-2023-5678 in pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

Fix CVE 2023 5678 pgbouncer and pgbouncer-exporter (#650)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer, pgbouncer-exporter

fix CVE-2023-5678 in vector base image
  vector/Dockerfile
  vector/version.txt
Due: vector

fix CVE-2023-5678 in vector base image (#651)
  vector/Dockerfile
  vector/version.txt
Due: vector

Update Dockerfile
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Update version.txt
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile
  curator/Dockerfile
Due: curator

Update version.txt
  curator/version.txt
Due: curator

Update Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter

Update Dockerfile
  nats-server/Dockerfile
Due: nats-server

Update version.txt
  nats-server/version.txt
Due: nats-server

Update Dockerfile
  nats-streaming/Dockerfile
Due: nats-streaming

Update version.txt
  nats-streaming/version.txt
Due: nats-streaming

Update ap base packages 3.18.4-2 (#652)
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
Due: blackbox-exporter, curator, nats-exporter, nats-server, nats-streaming

update vendor packages with alpine 3.18.4-2
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  init/Dockerfile
  init/version.txt
  openresty/Dockerfile
  openresty/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: awsesproxy, init, openresty, postgres-exporter

update nginx packages base sha
  auth-sidecar/version.txt
  nginx-es/version.txt
  nginx/version.txt
Due: auth-sidecar, nginx, nginx-es

update vendor packages with alpine 3.18.4-2 (#653)
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  init/Dockerfile
  init/version.txt
  openresty/Dockerfile
  openresty/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: awsesproxy, init, openresty, postgres-exporter
