Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

update cve ignore file list
  nginx/trivyignore
  nginx/twistcliignore
Due: nginx

[Software Bot]update nginx service with version 1.10.1 (#796)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/twistcliignore
  nginx/version.txt
Due: nginx

update alertmanager dockerfile
  alertmanager/Dockerfile
Due: alertmanager

add new entrypoint and other changes
  alertmanager/Dockerfile
  alertmanager/entrypoint.sh
Due: alertmanager

update version for alertmanager
  alertmanager/version.txt
Due: alertmanager

update CVE ignore
  alertmanager/twistcliignore
Due: alertmanager

Update alertmanager/entrypoint.sh
  alertmanager/entrypoint.sh
Due: alertmanager

Update alertmanager/Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager dockerfile (#798)
  alertmanager/Dockerfile
  alertmanager/entrypoint.sh
  alertmanager/twistcliignore
  alertmanager/version.txt
Due: alertmanager

Upddate dev component versions
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  requirements/requirements.txt
Due: none

Bump git-sync version so we can test a build
  git-sync/version.txt
Due: git-sync

Remove duplicate hooks. Add showIn to codespell.
  .pre-commit-config.yaml
Due: none

Fix helpfile colors
  Makefile
Due: none

Revert "Bump git-sync version so we can test a build"
  git-sync/version.txt
Due: git-sync

Update hooks
  .pre-commit-config.yaml
Due: none

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

update twistcli ignore
  prometheus/twistcliignore
Due: prometheus

fix pre-commit
  prometheus/twistcliignore
Due: prometheus

[Software Bot]update prometheus service with version 2.45.6 (#802)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

update cve ignore
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

update twistcliignore config
  elasticsearch/twistcliignore
Due: elasticsearch

[Software Bot]update kibana service with version 8.12.1 (#788)
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update elasticsearch service with version 8.12.1 (#787)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
