Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update nats-server version in version.txt
  nats-server/version.txt
Due: nats-server

update nats-server version in Dockerfile
  nats-server/Dockerfile
Due: nats-server

[Software Bot]update nats-server service with version 2.10.17 (#842)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

[Software Bot]update nats-server service with version 2.10.18 (#843)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

Modernize fluentd by removing all version pins (#839)
  fluentd/include/Gemfile
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

[Software Bot]update nginx service with version 1.10.4 (#844)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

[Software Bot]update nginx service with version 1.11.2 (#845)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

update twistcli ignore
  elasticsearch/twistcliignore
Due: elasticsearch

update cve list
  kibana/trivyignore
  kibana/twistcliignore
Due: kibana

[Software Bot]update elasticsearch service with version 8.14.0 (#848)
  elasticsearch/Dockerfile
  elasticsearch/twistcliignore
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.14.0 (#849)
  kibana/Dockerfile
  kibana/trivyignore
  kibana/twistcliignore
  kibana/version.txt
Due: kibana

[Software Bot]update elasticsearch service with version 8.14.1 (#850)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

[Software Bot]update kibana service with version 8.14.1 (#851)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

[Software Bot]update kibana service with version 8.14.2 (#853)
  kibana/Dockerfile
  kibana/version.txt
Due: kibana

[Software Bot]update elasticsearch service with version 8.14.2 (#852)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
