Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

fix version
  openresty/version.txt
Due: openresty

⬆️ [APC Bot] Update openresty to v1.29.2-dev (#1159)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

⬆️ [APC Bot] Update nginx-es to v1.29.6 (#1158)
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: nginx-es

⬆️ [APC Bot] Update nats-server to v2.12.5 (#1156)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

⬆️ [APC Bot] Update configmap-reloader to v0.15.0 (#1153)
  configmap-reloader/Dockerfile
  configmap-reloader/version.txt
Due: configmap-reloader

⬆️ [APC Bot] Update alertmanager to v0.31.1 (#1152)
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

⬆️ [APC Bot] Update grafana to v12.4.1 (#1155)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

add AS builder back
  nginx/Dockerfile
Due: nginx

⬆️ [APC Bot] Update nginx to v1.14.4 (#1157)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

⬆️ [APC Bot] Update auth-sidecar to v1.29.5 (#1151)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
Due: auth-sidecar

⬆️ [APC Bot] Update postgres-exporter to v0.19.1 (#1160)
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

⬆️ [APC Bot] Update redis to v8.6.1 (#1163)
  redis/Dockerfile
  redis/version.txt
Due: redis

update ES version
  elasticsearch/Dockerfile
Due: elasticsearch

update version
  elasticsearch/version.txt
Due: elasticsearch

postgresql
  postgresql/Dockerfile
Due: postgresql

update version
  postgresql/version.txt
Due: postgresql

use 8.19.12
  elasticsearch/Dockerfile
Due: elasticsearch

remove trivy
  elasticsearch/trivyignore
Due: elasticsearch

8.19.12
  elasticsearch/version.txt
Due: elasticsearch

⬆️ [APC Bot] Update postgresql to v18.3 (#1161)
  postgresql/version.txt
Due: postgresql

⬆️ [APC Bot] Update elasticsearch to v9.3.1 (#1154)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/version.txt
Due: elasticsearch

version correction
  openresty/version.txt
Due: openresty

Version correction for openresty (#1165)
  openresty/version.txt
Due: openresty

alertmanager
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

awsesproxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

blackbox-exporter
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

curator
  curator/Dockerfile
  curator/version.txt
Due: curator

git-daemon
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

git-sync
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

init
  init/Dockerfile
  init/version.txt
Due: init

nats-exporter
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

nats-server
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

nats-streaming
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
Due: nats-streaming

nats-streaming version
  nats-streaming/version.txt
Due: nats-streaming

pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

pgbouncer
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

postgres-exporter
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

remove CVE
  postgres-exporter/trivyignore
Due: postgres-exporter

registry
  registry/Dockerfile
  registry/trivyignore
  registry/version.txt
Due: registry

nats-streaming
  nats-streaming/Dockerfile
Due: nats-streaming

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
