Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update nginx ingress controller version 1.9.5 (#671)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

Updated prometheus version 2.45.2
  prometheus/Dockerfile
Due: prometheus

reverting to the LTS prometheus version 2.45.2
  prometheus/version.txt
Due: prometheus

Update twistcliignore
  prometheus/twistcliignore
Due: prometheus

Update ap-base with 3.18.5
  nats-streaming/Dockerfile
Due: nats-streaming

update ap-nats-streaming version 0.25.6 (#674)
  nats-streaming/Dockerfile
  nats-streaming/twistcliignore
  nats-streaming/version.txt
Due: nats-streaming

Update/prometheus/2.45.2 (#666)
  prometheus/Dockerfile
  prometheus/twistcliignore
  prometheus/version.txt
Due: prometheus

Update twistcliignore with new CVEs
  awsesproxy/twistcliignore
Due: awsesproxy

update CVE in twistcliignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

Update CVE in twistcliignore
  curator/twistcliignore
Due: curator

Update CVE in twistcliignore
  git-daemon/twistcliignore
Due: git-daemon

Create and update CVE in twistcliignore
  git-sync-relay/twistcliignore
Due: none

Update CVE in twistcliignore
  init/twistcliignore
Due: init

Update CVE in twistcliignore
  pgbouncer-exporter/twistcliignore
Due: pgbouncer-exporter

Update CVE in twistcliignore
  postgres-exporter/twistcliignore
Due: postgres-exporter

Update CVE in twistcliignore
  registry/twistcliignore
Due: registry

updating the new CVEs in twistcliignore
  awsesproxy/twistcliignore
  init/twistcliignore
  pgbouncer-exporter/twistcliignore
  postgres-exporter/twistcliignore
Due: awsesproxy, init, pgbouncer-exporter, postgres-exporter

Update ap-base 3.18.5
  nats-exporter/Dockerfile
Due: nats-exporter

Update ap-base version 3.18.5
  nats-server/Dockerfile
Due: nats-server

Update with ap-base version 3.18.5
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update ab-base version 3.18.4-2 -> 3.18.5
  pgbouncer/Dockerfile
Due: pgbouncer

Update version.txt
  pgbouncer/version.txt
Due: pgbouncer

Update version.txt with 1.17.0-10
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update version.txt
  nats-exporter/version.txt
Due: nats-exporter

Update version.txt
  nats-server/version.txt
Due: nats-server

reverting the ap-base version
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Update version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

Update Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

Create and update CVE in twistcliignore
  pgbouncer/twistcliignore
Due: pgbouncer

Update to ap-base:3.18.5 everywhere (#669)
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/twistcliignore
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/twistcliignore
  git-sync-relay/version.txt
  init/Dockerfile
  init/twistcliignore
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/twistcliignore
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/twistcliignore
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/twistcliignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/twistcliignore
  registry/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

update nats exporter 0.14.0
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

up base golang image version 1.21
  nats-exporter/Dockerfile
Due: nats-exporter

remove resolved CVE from twistcliignore
  nats-exporter/twistcliignore
Due: nats-exporter

update nats exporter 0.14.0 (#679)
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
  nats-exporter/version.txt
Due: nats-exporter

update grafana version 10.2.3 (#665)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

add 7.2.4 redis image
  redis/Dockerfile
  redis/version.txt
Due: redis

update twistcli ignore cve list
  redis/twistcliignore
Due: redis

Change to add redis 7.2.4 image to quay (#680)
  redis/Dockerfile
  redis/twistcliignore
  redis/version.txt
Due: redis

updating the kibana version 8.11.4 to 8.12.0
  kibana/Dockerfile
  kibana/version.txt
Due: kibana
