Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Print info about an absent heartbeat long before exiting.
  vector/sidecar_server.py
Due: vector

0.0.5469-4
  vector/version.txt
Due: vector

Try all print statements with flush=True
  vector/sidecar_server.py
Due: vector

0.0.5469-5
  vector/version.txt
Due: vector

Handle empty file
  vector/sidecar_server.py
Due: vector

0.0.5469-6
  vector/version.txt
Due: vector

Remove unacceptable keyword arg
  vector/sidecar_server.py
Due: vector

0.0.5469-7
  vector/version.txt
Due: vector

Remove HTTP signaling. Watch for 'finished' file as a signal from airflow that it is done.
  vector/sidecar_server.py
Due: vector

0.0.5469-8
  vector/version.txt
Due: vector

Update docstring with new design description
  vector/sidecar_server.py
Due: vector

0.0.5469-9
  vector/version.txt
Due: vector

Fix process command
  vector/sidecar_server.py
Due: vector

0.0.5469-10
  vector/version.txt
Due: vector

v0.28.2+5469.1
  vector/Dockerfile
  vector/version.txt
Due: vector

0.0.5469-281
  vector/version.txt
Due: vector

vector 0.28.2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  vector/version.txt
Due: vector

Adding git-sync-relay docker image.
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
  git-sync-relay/test.yaml
  git-sync-relay/version.txt
Due: none

Adding branch to release docker image.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Fixing syntax.
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
Due: none

Adding private repo support
  git-sync-relay/gitsync.sh
Due: none

Removing custom branch for release.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Adding apk update and apk upgrade available.
  git-sync-relay/Dockerfile
Due: none

Updating docker image to latest tag.
  git-sync-relay/Dockerfile
Due: none

Removing extra comments.
  git-sync-relay/Dockerfile
Due: none

rework vector to handle heartbeat from primary container (#511)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  .pre-commit-config.yaml
  bin/generate_docker_compose.py
  bin/validate-semver.py
  vector/Dockerfile
  vector/sidecar_server.py
  vector/terminate_server.py
  vector/trivyignore
  vector/version.txt
Due: vector

Update git-sync-relay/Dockerfile
  git-sync-relay/Dockerfile
Due: none

Update git-sync-relay/gitsync.sh
  git-sync-relay/gitsync.sh
Due: none

Fixing pre-commit
  .circleci/continue-config.yml
Due: none

Remove git-daemon
  git-sync-relay/Dockerfile
Due: none

Adding Custom Git Sync Relay Docker Image (#512)
  .circleci/config.yml
  .circleci/continue-config.yml
  docker-compose.yaml
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
  git-sync-relay/test.yaml
  git-sync-relay/version.txt
Due: none

resolves high and critical CVE in nginx and nginx-es service
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

resolves high and critical CVE in nginx and nginx-es service (#513)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

update ap-base image
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  init/Dockerfile
  init/version.txt
  registry/Dockerfile
  registry/version.txt
Due: blackbox-exporter, init, registry

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
