Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update base images
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
Due: curator, git-daemon, nats-exporter, nats-server, nats-streaming

add in ignore list
  blackbox-exporter/trivyignore
Due: blackbox-exporter

update ignore list for registry service
  registry/trivyignore
Due: registry

update ap-base image (#514)
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  registry/Dockerfile
  registry/trivyignore
  registry/version.txt
Due: blackbox-exporter, curator, git-daemon, init, nats-exporter, nats-server, nats-streaming, registry

update openresty image
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update openresty image (#515)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update prometheus image * bump 2.37.5 -> 2.37.6
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update prometheus image (#516)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update ap-base image
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
Due: awsesproxy, pgbouncer-krb

update trivyignore for awsesproxy
  awsesproxy/trivyignore
Due: awsesproxy

update ap-base image (#517)
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
Due: awsesproxy, pgbouncer-krb

update postgres exporter to 0.12.0
  postgres-exporter/Dockerfile
  postgres-exporter/trivyignore
  postgres-exporter/version.txt
Due: postgres-exporter

update postgres exporter to 0.12.0 (#518)
  postgres-exporter/Dockerfile
  postgres-exporter/trivyignore
  postgres-exporter/version.txt
Due: postgres-exporter

Updating CircleCI Orb version.
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Adding test.
  git-sync-relay/version.txt
Due: none

update ap-base in vector
  vector/Dockerfile
  vector/version.txt
Due: vector

update ap-base in vector (#519)
  vector/Dockerfile
  vector/version.txt
Due: vector

Fixing command.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Restoring changes added for test.
  git-sync-relay/version.txt
Due: none

update pgbouncer base
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

update pgbouncer base (#521)
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

git-sync 3.6.5 (#504)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

update base image for pgbouncer exporter service
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update base image for pgbouncer exporter service (#522)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Remove duplicate steps from docker job (#520)
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

release patch version 7.17.9-1 es for CVE fixes
  elasticsearch/trivyignore
  elasticsearch/version.txt
Due: elasticsearch

release patch version 7.17.9-1 es for CVE fixes (#523)
  elasticsearch/trivyignore
  elasticsearch/version.txt
Due: elasticsearch

update nginx ingress controller 1.7.0
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

removed fixed cve from trivyignore
  nginx/trivyignore
Due: nginx

update nginx ingress controller 1.7.0 (#524)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: nginx

update USER with uid for openresty service
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update USER with uid for openresty service (#525)
  openresty/Dockerfile
  openresty/version.txt
Due: openresty

update nginx packages
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

update nginx packages (#526)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

update postgresql 15.2.0 -> 15.2.0-1
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update postgresql 15.2.0 -> 15.2.0-1 (#527)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

Update mappings-gen2.yml
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Bump version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

update grafana 8.5.22 -> 8.5.24
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update grafana 8.5.22 -> 8.5.24 (#529)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
