Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

update nginx packages base sha (#654)
  auth-sidecar/version.txt
  nginx-es/version.txt
  nginx/version.txt
Due: auth-sidecar, nginx, nginx-es

Update Dockerfile with grafana version 10.2.0 --> 10.2.2
  grafana/Dockerfile
Due: grafana

Update version.txt
  grafana/version.txt
Due: grafana

Update twistcliignore with new CVE list
  grafana/twistcliignore
Due: grafana

Update trivyignore
  grafana/trivyignore
Due: grafana

Update grafana 10.2.2 (#655)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

Update Dockerfile
  kibana/Dockerfile
Due: kibana

Update version.txt
  kibana/version.txt
Due: kibana

Update Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

Update version.txt
  elasticsearch/version.txt
Due: elasticsearch

Update twistcliignore
  elasticsearch/twistcliignore
Due: elasticsearch

Update trivyignore
  elasticsearch/trivyignore
Due: elasticsearch

update airflow sub packages
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
  git-sync-relay/version.txt
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: git-daemon, statsd-exporter

add twistcliignore config in statsd exporter
  statsd-exporter/twistcliignore
Due: statsd-exporter

update airflow sub packages (#657)
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/gitsync.sh
  git-sync-relay/version.txt
  statsd-exporter/Dockerfile
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: git-daemon, statsd-exporter

sort -u
  elasticsearch/twistcliignore
  grafana/twistcliignore
Due: elasticsearch, grafana

Update elastic packages from 8.9.2 to 8.11.1 (#656)
  elasticsearch/Dockerfile
  elasticsearch/trivyignore
  elasticsearch/twistcliignore
  elasticsearch/version.txt
  grafana/twistcliignore
  kibana/Dockerfile
  kibana/version.txt
Due: elasticsearch, grafana, kibana

update redis service 6.2.13 -> 6.2.14
  redis/Dockerfile
  redis/version.txt
Due: redis

fix pre-commit
  elasticsearch/trivyignore
Due: elasticsearch

update CVE ignore
  redis/twistcliignore
Due: redis

update redis service 6.2.13 -> 6.2.14 (#658)
  elasticsearch/trivyignore
  redis/Dockerfile
  redis/twistcliignore
  redis/version.txt
Due: elasticsearch, redis

Update Dockerfile with node_exporter 1.6.1 --> 1.7.0
  node-exporter/Dockerfile
Due: node-exporter

Update version.txt
  node-exporter/version.txt
Due: node-exporter

node-exporter 1.7.0 (#659)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

Update Dockerfile nginx from 1.25.2 to 1.25.3
  auth-sidecar/Dockerfile
Due: auth-sidecar

Update version.txt with nginx 1.25.2-3 to 1.25.3
  auth-sidecar/version.txt
Due: auth-sidecar

Update Dockerfile with nginx version 1.25.2 to 1.25.3
  nginx-es/Dockerfile
Due: nginx-es

Update version.txt with nginx 1.25.2-3 to 1.25.3
  nginx-es/version.txt
Due: nginx-es

Update nginx packages (#660)
  auth-sidecar/Dockerfile
  auth-sidecar/version.txt
  nginx-es/Dockerfile
  nginx-es/version.txt
Due: auth-sidecar, nginx-es

update grafana version 10.1.5
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update grafana twistcli ignore
  grafana/twistcliignore
Due: grafana

update trivyignore for grafana
  grafana/trivyignore
Due: grafana

remove duplicate
  grafana/twistcliignore
Due: grafana

grafana 10.1.5 (#661)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

Return a set instead of a list
  bin/twistcli_validator.py
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none
