Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

fix version
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Skip CVEs
  pgbouncer-exporter/endorignore
Due: pgbouncer-exporter

Fix version of pgbouncer-exporter (#1280)
  pgbouncer-exporter/endorignore
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Fix astro_event_scheduler SLA histogram buckets to milliseconds
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/test/test.py
Due: statsd-exporter

Regenerate .circleci/config.yml (ci-pre-commit image 2026-05 → 2026-06)
  .circleci/config.yml
Due: none

Update awsproxy and elasticsearch exporter
  awsesproxy/Dockerfile
  elasticsearch-exporter/version.txt
Due: awsesproxy, elasticsearch-exporter

Add Endorignore
  elasticsearch-exporter/endorignore
Due: elasticsearch-exporter

Add endorignore
  configmap-reloader/version.txt
  registry/endorignore
Due: configmap-reloader, registry

Fix CVE
  registry/endorignore
Due: registry

Fix CVE
  configmap-reloader/endorignore
  registry/endorignore
Due: configmap-reloader, registry

Update endorignore
  alertmanager/endorignore
Due: alertmanager

Updated ignore
  postgres-exporter/endorignore
Due: postgres-exporter

Update ignore
  nats-exporter/endorignore
Due: nats-exporter

Add endorignore
  git-sync/endorignore
Due: git-sync

Update GO version
  blackbox-exporter/Dockerfile
Due: blackbox-exporter

Upgrade GO
  git-sync/Dockerfile
  git-sync/endorignore
Due: git-sync

Fix nats
  nats-exporter/Dockerfile
  nats-exporter/endorignore
  nats-exporter/version.txt
Due: nats-exporter

FIx prometheus
  prometheus/endorignore
Due: prometheus

alertmanager
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

awsesproxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

blackbox-exp
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

git-daemon
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

git-sync
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

init
  init/Dockerfile
  init/version.txt
Due: init

pgb-exp
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

curator
  curator/Dockerfile
  curator/version.txt
Due: curator

registry
  registry/Dockerfile
  registry/version.txt
Due: registry

nats-exp
  nats-exporter/Dockerfile
  nats-exporter/version.txt
Due: nats-exporter

nats-server
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

pgbouncer
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: pgbouncer

postgresexp
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

grafana
  grafana/version.txt
Due: grafana

remove tests
  alertmanager/test.yaml
Due: alertmanager

black tests
  blackbox-exporter/test.yaml
  docker-compose.yaml
Due: blackbox-exporter

Update base and grafana rebuilt (#1295)
  alertmanager/Dockerfile
  alertmanager/test.yaml
  alertmanager/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/test.yaml
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  docker-compose.yaml
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  grafana/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: alertmanager, awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, grafana, init, nats-exporter, nats-server, pgbouncer, pgbouncer-exporter, postgres-exporter, registry

upgrade dogstatsd to latest available version + make the process run as non root
  dogstatsd/Dockerfile
  dogstatsd/test.yaml
  dogstatsd/version.txt
Due: dogstatsd

endorignore
  dogstatsd/endorignore
Due: dogstatsd

use numeric userid instead of username for k8s securityContext
  dogstatsd/Dockerfile
Due: dogstatsd

use chainguard image
  dogstatsd/Dockerfile
  dogstatsd/endorignore
Due: dogstatsd

fix version
  dogstatsd/version.txt
Due: dogstatsd
