Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update nats-exporter version in Dockerfile
  nats-exporter/Dockerfile
Due: nats-exporter

update nats-exporter version in version.txt
  nats-exporter/version.txt
Due: nats-exporter

[Software Bot]update nats-server service with version 2.10.19 (#981)
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

update auth-sidecar version in version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update auth-sidecar service with version 1.27.4 (#984)
  auth-sidecar/version.txt
Due: auth-sidecar

[Software Bot]update nginx-es service with version 1.27.4 (#983)
  nginx-es/version.txt
Due: nginx-es

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

update git-sync version in Dockerfile
  git-sync/Dockerfile
Due: git-sync

update git-sync version in version.txt
  git-sync/version.txt
Due: git-sync

[Software Bot]update git-sync service with version 4.3.0 (#986)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

[Software Bot]update git-sync service with version 4.4.0 (#987)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

update node-exporter version in Dockerfile
  node-exporter/Dockerfile
Due: node-exporter

update node-exporter version in version.txt
  node-exporter/version.txt
Due: node-exporter

[Software Bot]update node-exporter service with version 1.9.1 (#988)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

fix docker redis build
  redis/Dockerfile
  redis/docker-entrypoint.sh
Due: redis

update dockerfile
  redis/Dockerfile
Due: redis

dockerfile update
  redis/Dockerfile
Due: redis

fix gid
  redis/test.yaml
Due: redis

update redis dockerfile
  redis/Dockerfile
  redis/test.yaml
Due: redis

fix dockerfile
  redis/Dockerfile
Due: redis

update redis docker
  redis/Dockerfile
  redis/version.txt
Due: redis

reduce build step
  redis/Dockerfile
Due: redis

update twistcli ignore
  postgresql/trivyignore
Due: postgresql

[Software Bot]update postgresql service with version 16.6.0 (#989)
  postgresql/Dockerfile
  postgresql/trivyignore
  postgresql/version.txt
Due: postgresql

update dockerfile with new layer
  redis/Dockerfile
Due: redis

update build scripts
  redis/Dockerfile
  redis/install_packages
Due: redis

fix docker config
  redis/Dockerfile
  redis/install_packages
Due: redis

rework dockerfile
  redis/Dockerfile
Due: redis

update build config
  redis/Dockerfile
  redis/build-redis.sh
Due: redis

fix linting
  redis/build-redis.sh
Due: redis

rework docker build
  redis/Dockerfile
  redis/build-redis.sh
Due: redis

fix scripts
  redis/Dockerfile
  redis/build-redis.sh
Due: redis

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
