Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update redis version in Dockerfile
  redis/Dockerfile
Due: redis

update redis version in version.txt
  redis/version.txt
Due: redis

update cve ignore list
  grafana/trivyignore
  grafana/twistcliignore
Due: grafana

[Software Bot]update grafana service with version 10.4.9 (#876)
  grafana/Dockerfile
  grafana/trivyignore
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update nginx version
  nginx/version.txt
Due: nginx

update twistcli ignore
  nginx/twistcliignore
Due: nginx

add tests
  nginx/test.yaml
Due: nginx

fix tests
  nginx/test.yaml
  nginx/trivyignore
Due: nginx

change ingress-nginx to not need to run with any capabilities (#861)
  nginx/Dockerfile
  nginx/test.yaml
  nginx/trivyignore
  nginx/twistcliignore
  nginx/version.txt
Due: nginx

changing cache time.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

iso8601 Year-Week trivy cache key (#878)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Add first_task_scheduling_delay and task_instance_created
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

trivy changes to include github token
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

adding github_token from context
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  git-sync/version.txt
Due: git-sync

update cve list
  redis/trivyignore
  redis/twistcliignore
Due: redis

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

[Software Bot]update grafana service with version 10.4.10 (#880)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update trivyignore
  redis/trivyignore
Due: redis

update statsd-exporter version in Dockerfile
  statsd-exporter/Dockerfile
Due: statsd-exporter

update statsd-exporter version in version.txt
  statsd-exporter/version.txt
Due: statsd-exporter

[Software Bot]update redis service with version 7.2.6 (#877)
  redis/Dockerfile
  redis/trivyignore
  redis/twistcliignore
  redis/version.txt
Due: redis

remove fixed CVE
  statsd-exporter/twistcliignore
Due: statsd-exporter

[Software Bot]update statsd-exporter service with version 0.27.2 (#881)
  statsd-exporter/Dockerfile
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

adding trivy-db contexts
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

just bumping version for testing
  git-sync/version.txt
Due: git-sync

reverting version.txt
  git-sync/version.txt
Due: git-sync

updating version for testing
  git-sync/version.txt
Due: git-sync

changes to add as trivy env variable.
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  git-sync/version.txt
Due: git-sync

Reverting version
  git-sync/version.txt
Due: git-sync

Work around trivy rate limit errors (#879)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Update pgbouncer exporter version
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update trivyignore
  pgbouncer-exporter/trivyignore
Due: pgbouncer-exporter

Switch back to using upstream pgbouncer-exporter
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Bump ap-base
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Add latest openssl
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Fix permission error
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Upgrade all packages
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Switch back to using upstream pgbouncer-exporter (#883)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
