Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update node-exporter version in version.txt
  node-exporter/version.txt
Due: node-exporter

[Software Bot]update node-exporter service with version 1.8.2 (#815)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

Add state label to Airflow task instance finish metric
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

statsd gen2: Add state label to Airflow task instance finish metric (#816)
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/twistcliignore
  statsd-exporter/version.txt
Due: statsd-exporter

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

update twistcli ignore
  nginx/twistcliignore
Due: nginx

fix pre-commit
  nginx/twistcliignore
Due: nginx

[Software Bot]update nginx service with version 1.10.2 (#817)
  nginx/Dockerfile
  nginx/twistcliignore
  nginx/version.txt
Due: nginx

[Software Bot]update nginx service with version 1.10.3 (#818)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

[Software Bot]update nginx service with version 1.11.0 (#820)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

[Software Bot]update nginx service with version 1.11.1 (#821)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

update twistcli ignore
  kube-state/twistcliignore
Due: kube-state

[Software Bot]update kube-state service with version 2.13.0 (#822)
  kube-state/Dockerfile
  kube-state/twistcliignore
  kube-state/version.txt
Due: kube-state

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

create a generic trivy file
  grafana/trivy.yaml
Due: grafana

update trivy ignore
  grafana/twistcliignore
Due: grafana

[Software Bot]update grafana service with version 10.4.6 (#823)
  grafana/Dockerfile
  grafana/trivy.yaml
  grafana/twistcliignore
  grafana/version.txt
Due: grafana

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

Pin trivy to 0.53.0
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

Pin trivy to 0.53.0 (#826)
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

[Software Bot]update vector service with version 0.39.0 (#825)
  vector/Dockerfile
  vector/version.txt
Due: vector

update nginx-es version in Dockerfile
  nginx-es/Dockerfile
Due: nginx-es

update nginx-es version in version.txt
  nginx-es/version.txt
Due: nginx-es

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
