Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update nats server and nats exporter service
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-exporter, nats-server

update nats twistcliignore config
  nats-streaming/twistcliignore
Due: nats-streaming

update twistcliignore config
  nats-exporter/twistcliignore
  nats-server/twistcliignore
Due: nats-exporter, nats-server

nats 2.10.2, nats-exporter 0.12.0 (#629)
  nats-exporter/Dockerfile
  nats-exporter/twistcliignore
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/twistcliignore
  nats-server/version.txt
Due: nats-exporter, nats-server

nats streaming server 0.25.5 (#628)
  nats-streaming/Dockerfile
  nats-streaming/twistcliignore
  nats-streaming/version.txt
Due: nats-streaming

fix CVE in vendor packages
  init/version.txt
  nginx-es/version.txt
  openresty/Dockerfile
  openresty/version.txt
Due: init, nginx-es, openresty

update CVE ignore config
  init/twistcliignore
Due: init

fix CVE in vendor packages (#630)
  init/twistcliignore
  init/version.txt
  nginx-es/version.txt
  openresty/Dockerfile
  openresty/version.txt
Due: init, nginx-es, openresty

update grafana version 10.0.9
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

grafana 10.0.9 (#631)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update grafana cve ignore list
  grafana/twistcliignore
Due: grafana

update grafana cve ignore list (#632)
  grafana/twistcliignore
Due: grafana

update authsidecar service
  auth-sidecar/version.txt
Due: auth-sidecar

update authsidecar service (#633)
  auth-sidecar/version.txt
Due: auth-sidecar

update nginx base packages
  nginx/version.txt
Due: nginx

update twistcli ignore
  nginx/twistcliignore
Due: nginx

update nginx ingress controller base packages (#634)
  nginx/twistcliignore
  nginx/version.txt
Due: nginx

update curator base packages
  curator/Dockerfile
  curator/version.txt
Due: curator

update twistcli ignore
  curator/twistcliignore
Due: curator

update curator base packages (#635)
  curator/Dockerfile
  curator/twistcliignore
  curator/version.txt
Due: curator

updating the ap-base version to 3.18.4
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
Due: blackbox-exporter

removing the extra file
  blackbox-exporter/version.txt
Due: blackbox-exporter

ignoring cves for blackbbox-exporter
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
Due: blackbox-exporter

update the ap-base 3.18.4 in blackbox exporter service (#637)
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
Due: blackbox-exporter

Update Dockerfile
  grafana/Dockerfile
Due: grafana

Update version.txt
  grafana/version.txt
Due: grafana

Update Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

Update version.txt
  elasticsearch/version.txt
Due: elasticsearch

Update Dockerfile
  kibana/Dockerfile
Due: kibana

Update version.txt
  kibana/version.txt
Due: kibana

Update Dockerfile
  awsesproxy/Dockerfile
Due: awsesproxy

Update Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

Update version.txt
  git-daemon/version.txt
Due: git-daemon

Update Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

Update version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

Update version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

Update Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

Update Dockerfile
  registry/Dockerfile
Due: registry

Update version.txt
  registry/version.txt
Due: registry

Update twistcliignore
  git-daemon/twistcliignore
Due: git-daemon

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
