Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.1.1
  path-filtering: circleci/path-filtering@0.1.4

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.10

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            git-sync-relay/.* git-sync-relay true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2024-04
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

remove test for chainguard
  pgbouncer-krb/test.yaml
Due: pgbouncer-krb

spce consistency
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

create symlink
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

custom image for testing
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
Due: none

update node-exporter version in Dockerfile
  node-exporter/Dockerfile
Due: node-exporter

update node-exporter version in version.txt
  node-exporter/version.txt
Due: node-exporter

update trivyignore
  node-exporter/trivyignore
Due: node-exporter

⬆️ [Software Bot] Update node-exporter to v1.10.0 (#1114)
  node-exporter/Dockerfile
  node-exporter/trivyignore
  node-exporter/version.txt
Due: node-exporter

Migrate PostgreSQL to Chainguard Base Image (#1104)
  docker-compose.yaml
  postgresql/Dockerfile
  postgresql/test.yaml
  postgresql/version.txt
Due: postgresql

⬆️ [Software Bot] Update node-exporter to v1.10.1 (#1115)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

⬆️ [Software Bot] Update node-exporter to v1.10.2 (#1116)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

⬆️ [Software Bot] Update vector to v0.52.0 (#1117)
  vector/Dockerfile
  vector/version.txt
Due: vector

update prometheus version in Dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus version in version.txt
  prometheus/version.txt
Due: prometheus

⬆️ [Software Bot] Update prometheus to v3.6.0 (#1118)
  prometheus/Dockerfile
  prometheus/version.txt
Due: prometheus

update alpine version in Dockerfile
  alpine/Dockerfile
Due: none

update alpine version in version.txt
  alpine/version.txt
Due: none

update init version in Dockerfile
  init/Dockerfile
Due: init

update init version in version.txt
  init/version.txt
Due: init

⬆️ [Software Bot] Update alpine to v3.23.2 (#1121)
  alpine/Dockerfile
  alpine/version.txt
Due: none

⬆️ [Software Bot] Update init to v2025.12.24 (#1122)
  init/Dockerfile
  init/version.txt
Due: init

update git-sync version in Dockerfile
  git-sync/Dockerfile
Due: git-sync

update git-sync version in version.txt
  git-sync/version.txt
Due: git-sync

update git-daemon version in Dockerfile
  git-daemon/Dockerfile
Due: git-daemon

update git-daemon version in version.txt
  git-daemon/version.txt
Due: git-daemon

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

⬆️ [Software Bot] Update git-sync to v2025.12.24 (#1123)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

update pgbouncer-exporter version in Dockerfile
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

update pgbouncer-exporter version in version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter
