Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

update pgbouncer-krb version in Dockerfile
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

update pgbouncer-krb version in version.txt
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

update trivyignore file
  pgbouncer-krb/twistcliignore
Due: pgbouncer-krb

[Software Bot]update pgbouncer-krb service with version 1.17.0 (#919)
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/twistcliignore
  pgbouncer-krb/version.txt
Due: pgbouncer-krb

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

[Software Bot]update postgresql service with version 15.10.0 (#920)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

update vector base image version
  vector/Dockerfile
Due: vector

[Software Bot]update vector service with version 0.43.0 (#921)
  vector/Dockerfile
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.43.1 (#923)
  vector/Dockerfile
  vector/version.txt
Due: vector

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update elasticsearch version in Dockerfile
  elasticsearch/Dockerfile
Due: elasticsearch

update elasticsearch version in version.txt
  elasticsearch/version.txt
Due: elasticsearch

update kibana version in Dockerfile
  kibana/Dockerfile
Due: kibana

update kibana version in version.txt
  kibana/version.txt
Due: kibana

[Software Bot]update vector service with version 0.44.0 (#924)
  vector/Dockerfile
  vector/version.txt
Due: vector

Add python and alpine images for dataplane canary DAGS
  alpine/Dockerfile
  alpine/test.yaml
  alpine/trivyignore
  alpine/twistcliignore
  alpine/version.txt
  python/Dockerfile
  python/test.yaml
  python/trivyignore
  python/twistcliignore
  python/version.txt
Due: none

Generate circle config
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

Fix version
  alpine/version.txt
Due: none

Generate docker-compose
  docker-compose.yaml
Due: none

Fix tests?
  alpine/test.yaml
  python/test.yaml
Due: none

Update docker-compose
  docker-compose.yaml
Due: none

Add back entrypoint for test
  alpine/test.yaml
  docker-compose.yaml
  python/test.yaml
Due: none

Add newline at end of files
  alpine/test.yaml
  python/test.yaml
Due: none

No tests
  alpine/Dockerfile
  alpine/test.yaml
  docker-compose.yaml
  python/Dockerfile
  python/test.yaml
Due: none

twistcliignore
  python/twistcliignore
Due: none

newline
  python/twistcliignore
Due: none

Add python and alpine images (#928)
  .circleci/config.yml
  .circleci/continue-config.yml
  alpine/Dockerfile
  alpine/test.yaml
  alpine/trivyignore
  alpine/twistcliignore
  alpine/version.txt
  docker-compose.yaml
  python/Dockerfile
  python/test.yaml
  python/trivyignore
  python/twistcliignore
  python/version.txt
Due: none

Update twistcliginore for python
  python/twistcliignore
Due: none

Sort
  python/twistcliignore
Due: none

Update twistcliginore for python (#929)
  python/twistcliignore
Due: none

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
