Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

resolve base image CVE in nginx ingress service (#494)
  nginx/Dockerfile
  nginx/trivyignore
  nginx/version.txt
Due: nginx

update elasticsearch image version 7.17.9
  elasticsearch/Dockerfile
  elasticsearch/version.txt
Due: elasticsearch

update managed patch version to pull latest base updates in grafana
  grafana/version.txt
Due: grafana

update vendor packages (#495)
  elasticsearch/Dockerfile
  elasticsearch/version.txt
  grafana/version.txt
Due: elasticsearch, grafana

postgresql 15.2.0
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

postgresql 15.2.0 (#496)
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

Fix airflow state dashboard health by excluding airflow-cleanup-pods
  grafana/include/airflow-state.json
  grafana/version.txt
Due: grafana

Only exclude from terminated
  grafana/include/airflow-state.json
Due: grafana

Revert "Only exclude from terminated"
  grafana/include/airflow-state.json
Due: grafana

grafana 8.5.21
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

Add ruff. pre-commit autoupdate. pre-commit run --all-files
  .gitignore
  .pre-commit-config.yaml
  bin/docker-operations.py
  bin/generate_docker_compose.py
  bin/test.py
  statsd-exporter/test/test.py
  vector/sidecar_server.py
  vector/terminate_server.py
Due: statsd-exporter, vector

Update versions
  statsd-exporter/version.txt
  vector/version.txt
Due: statsd-exporter, vector

pre-commit updates and code fixes (#498)
  .gitignore
  .pre-commit-config.yaml
  bin/docker-operations.py
  bin/generate_docker_compose.py
  bin/test.py
  statsd-exporter/test/test.py
  statsd-exporter/version.txt
  vector/sidecar_server.py
  vector/terminate_server.py
  vector/version.txt
Due: statsd-exporter, vector

updates statsd exporter version
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

updates statsd exporter version (#499)
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

Remove incorrect comment
  vector/sidecar_server.py
Due: vector

Use ap-base
  vector/Dockerfile
Due: vector

vector 0.26.0-4
  vector/version.txt
Due: vector

group: nobody
  vector/test.yaml
Due: vector

use ap-base as vector base image (#500)
  vector/Dockerfile
  vector/sidecar_server.py
  vector/version.txt
Due: vector

migrate busybox to alpine image
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
Due: postgres-exporter

update trivyignore
  postgres-exporter/trivyignore
Due: postgres-exporter

migrate busybox to alpine image (#502)
  postgres-exporter/Dockerfile
  postgres-exporter/trivyignore
  postgres-exporter/version.txt
Due: postgres-exporter

Update fluentd dependencies
  fluentd/include/Gemfile.lock
Due: fluentd

version 1.15.3-3
  fluentd/version.txt
Due: fluentd

Update fluentd dependencies (#503)
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

git-sync 3.6.5
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

Remove some unneeded hooks
  .pre-commit-config.yaml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Fix target: show-quay-pull-urls
  Makefile
Due: none

Pin curator to 7.0.0
  curator/Dockerfile
  curator/version.txt
Due: curator

Extend tests to allow running commands. Refactor some code.
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  bin/test.py
  curator/test.yaml
Due: curator

Fix 'endswith' bug. Add 'equals' functionality.
  bin/test.py
  curator/test.yaml
Due: curator

Fix type annotation
  bin/generate_docker_compose.py
Due: none

Improve error readability
  bin/test.py
Due: none

Fix test ids
  bin/test.py
Due: none

pin curator to 7.0.0, extend testing capabilities (#505)
  bin/generate_circleci_config.py
  bin/generate_docker_compose.py
  bin/test.py
  curator/Dockerfile
  curator/test.yaml
  curator/version.txt
Due: curator

Migrate H7LAVDJik
  grafana/include/prometheus.json
Due: grafana

Migrate eDyoRw7Gz
  grafana/include/nats-dash.json
Due: grafana

Migreate 2NM8RltWz
  grafana/include/airflow-containers.json
Due: grafana
