Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

add pkgconf-dev
  pgbouncer-krb/Dockerfile
Due: pgbouncer-krb

change GID
  pgbouncer-krb/test.yaml
Due: pgbouncer-krb

blackbox CVEs
  blackbox-exporter/trivyignore
Due: blackbox-exporter

cve
  blackbox-exporter/trivyignore
Due: blackbox-exporter

7707 Remove dockerize part 2 (#1087)
  blackbox-exporter/Dockerfile
  blackbox-exporter/test.yaml
  blackbox-exporter/trivyignore
  blackbox-exporter/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/trivyignore
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/test.yaml
  pgbouncer-krb/version.txt
  pgbouncer/Dockerfile
  pgbouncer/version.txt
Due: blackbox-exporter, pgbouncer, pgbouncer-exporter, pgbouncer-krb

update kube-state version in Dockerfile
  kube-state/Dockerfile
Due: kube-state

update kube-state version in version.txt
  kube-state/version.txt
Due: kube-state

fix trivy
  kube-state/trivyignore
Due: kube-state

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update pgbouncer version in Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

update pgbouncer-exporter version in version.txt
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update docker file
  pgbouncer-exporter/Dockerfile
Due: pgbouncer-exporter

⬆️ [Software Bot] Update kube-state to v2.17.0 (#1093)
  kube-state/Dockerfile
  kube-state/trivyignore
  kube-state/version.txt
Due: kube-state

⬆️ [Software Bot] Update pgbouncer-exporter to v0.20.0 (#1096)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

add grafana
  grafana/Dockerfile
Due: grafana

version update
  grafana/version.txt
Due: grafana

add user 472 back
  grafana/Dockerfile
Due: grafana

move 472 to last
  grafana/Dockerfile
Due: grafana

use dev container
  grafana/Dockerfile
Due: grafana

add 472 gid
  grafana/Dockerfile
Due: grafana

add simple passwd
  grafana/Dockerfile
Due: grafana

add group
  grafana/Dockerfile
Due: grafana

replace password and entry
  grafana/Dockerfile
Due: grafana

add root as well
  grafana/Dockerfile
Due: grafana

remove dev tag and add a comment for explanation
  grafana/Dockerfile
Due: grafana

add chainguard
  auth-sidecar/Dockerfile
Due: auth-sidecar

remove root
  auth-sidecar/test.yaml
Due: auth-sidecar

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
