Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

rework test
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

use full path
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

use bash
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

update docker and test
  configmap-reloader/Dockerfile
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

new entrypoint
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

use webhook url
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

add sh for testinfra
  configmap-reloader/Dockerfile
Due: configmap-reloader

add authsidecar
  auth-sidecar/Dockerfile
Due: auth-sidecar

enable test
  auth-sidecar/test.yaml
Due: auth-sidecar

comment test
  auth-sidecar/test.yaml
Due: auth-sidecar

remove test for now
  configmap-reloader/test.yaml
  docker-compose.yaml
Due: configmap-reloader

add chainguard
  kube-state/Dockerfile
Due: kube-state

update version
  kube-state/version.txt
Due: kube-state

remove CVEs
  kube-state/trivyignore
Due: kube-state

Update auth-sidecar/version.txt
  auth-sidecar/version.txt
Due: auth-sidecar

remove bash
  configmap-reloader/Dockerfile
Due: configmap-reloader

Migrate Configmap reloader image to Chainguard. (#1101)
  configmap-reloader/Dockerfile
  configmap-reloader/test.yaml
  configmap-reloader/trivyignore
  configmap-reloader/version.txt
  docker-compose.yaml
Due: configmap-reloader

use chainguard as is
  grafana/Dockerfile
Due: grafana

correct git uid
  grafana/test.yaml
Due: grafana

Add chainguard for kube state (#1103)
  kube-state/Dockerfile
  kube-state/trivyignore
  kube-state/version.txt
Due: kube-state

Migration: Grafana Docker Image from Alpine to Chainguard Distroless (#1097)
  grafana/Dockerfile
  grafana/test.yaml
  grafana/version.txt
Due: grafana

update docker
  postgresql/Dockerfile
Due: postgresql

update image
  postgresql/version.txt
Due: postgresql

fix dockerfile
  postgresql/Dockerfile
Due: postgresql

remove test
  docker-compose.yaml
  postgresql/test.yaml
Due: postgresql

add dockerfile
  nginx/Dockerfile
Due: nginx

update version
  nginx/version.txt
Due: nginx

add chainguard image
  nginx-es/Dockerfile
Due: nginx-es

update version
  nginx-es/version.txt
Due: nginx-es

update test
  nginx-es/test.yaml
Due: nginx-es

remove test for now
  docker-compose.yaml
  nginx/test.yaml
Due: nginx

remove CVEs
  nginx/trivyignore
Due: nginx

revert all previous changes
  .circleci/config.yml
  .circleci/continue-config.yml
  bin/docker-operations.py
  claude-code/Dockerfile
  claude-code/metadata.yaml
  claude-code/test.yaml
  claude-code/trivyignore
  claude-code/version.txt
  docker-compose.yaml
Due: none

Removing Claude-code (#1107)
  .circleci/config.yml
  .circleci/continue-config.yml
  bin/docker-operations.py
  claude-code/Dockerfile
  claude-code/metadata.yaml
  claude-code/test.yaml
  claude-code/trivyignore
  claude-code/version.txt
  docker-compose.yaml
Due: none

remove tests
  nginx-es/test.yaml
Due: nginx-es

Apply suggestion from @tatiana
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Update sha
  pgbouncer/Dockerfile
Due: pgbouncer

fixes commit
  pgbouncer/Dockerfile
Due: pgbouncer

Apply suggestions from code review
  statsd-exporter/include/mappings-gen2.yml
Due: statsd-exporter

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
