Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

remove fixed cve
  curator/trivyignore
  dogstatsd/trivyignore
  dogstatsd/twistcliignore
  pgbouncer-exporter/trivyignore
Due: curator, dogstatsd, pgbouncer-exporter

[Software Bot]update dogstatsd service with version 7.64.3 (#998)
  dogstatsd/Dockerfile
  dogstatsd/version.txt
Due: dogstatsd

update postgresql version in Dockerfile
  postgresql/Dockerfile
Due: postgresql

update postgresql version in version.txt
  postgresql/version.txt
Due: postgresql

remove fixed cve
  dogstatsd/trivyignore
  dogstatsd/twistcliignore
  pgbouncer-exporter/trivyignore
Due: dogstatsd, pgbouncer-exporter

remove fixed cve from cve ignore files (#999)
  curator/trivyignore
  dogstatsd/trivyignore
  dogstatsd/twistcliignore
  pgbouncer-exporter/trivyignore
Due: curator, dogstatsd, pgbouncer-exporter

update postgresql
  postgresql/Dockerfile
Due: postgresql

update trivyignore
  postgresql/trivyignore
Due: postgresql

fix pre commit
  postgresql/trivyignore
Due: postgresql

[Software Bot] postgresql version 17.4.0 (#1000)
  postgresql/Dockerfile
  postgresql/trivyignore
  postgresql/version.txt
Due: postgresql

update pgbouncer version in Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

update trivy scan
  bin/trivy-scan.sh
Due: none

update trivy validator
  bin/trivy-scan.sh
Due: none

remove resolved cves
  pgbouncer/trivyignore
Due: pgbouncer

update cvd ignore
  pgbouncer/twistcliignore
Due: pgbouncer

cleanup trivyignore
  pgbouncer/trivyignore
Due: pgbouncer

update trivyignore
  pgbouncer/trivyignore
Due: pgbouncer

update dockerfile and ignore
  pgbouncer/Dockerfile
  pgbouncer/trivyignore
Due: pgbouncer

[Software Bot]update pgbouncer service with version 1.24.1 (#1001)
  bin/trivy-scan.sh
  pgbouncer/Dockerfile
  pgbouncer/trivyignore
  pgbouncer/twistcliignore
  pgbouncer/version.txt
Due: pgbouncer

update vector version in Dockerfile
  vector/Dockerfile
Due: vector

update vector version in version.txt
  vector/version.txt
Due: vector

[Software Bot]update vector service with version 0.46.1 (#1002)
  vector/Dockerfile
  vector/version.txt
Due: vector

update postgres-exporter version in Dockerfile
  postgres-exporter/Dockerfile
Due: postgres-exporter

update postgres-exporter version in version.txt
  postgres-exporter/version.txt
Due: postgres-exporter

update alertmanager version in Dockerfile
  alertmanager/Dockerfile
Due: alertmanager

update alertmanager version in version.txt
  alertmanager/version.txt
Due: alertmanager

update alertmanager
  alertmanager/trivyignore
  alertmanager/twistcliignore
Due: alertmanager

[Software Bot]update alertmanager service with version 0.28.1 (#1005)
  alertmanager/Dockerfile
  alertmanager/trivyignore
  alertmanager/twistcliignore
  alertmanager/version.txt
Due: alertmanager

updating ap-base 3.21.3-2 to 3.21.3-3
  alpine/version.txt
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry

updating new cve's from trivy
  alpine/version.txt
  blackbox-exporter/trivyignore
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  postgres-exporter/trivyignore
Due: blackbox-exporter, nats-exporter, nats-server, nats-streaming, postgres-exporter

updating the pre-commit fixes
  blackbox-exporter/trivyignore
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  postgres-exporter/trivyignore
Due: blackbox-exporter, nats-exporter, nats-server, nats-streaming, postgres-exporter

updating the pre-commit fixes
  blackbox-exporter/twistcliignore
  nats-exporter/trivyignore
  nats-server/trivyignore
  nats-streaming/trivyignore
  nats-streaming/twistcliignore
Due: blackbox-exporter, nats-exporter, nats-server, nats-streaming

updating the pre-commit fixes
  nats-streaming/trivyignore
Due: nats-streaming

updating ap-base from 3.21.3-2 to 3.21.3-3 (#1006)
  awsesproxy/Dockerfile
  awsesproxy/version.txt
  blackbox-exporter/Dockerfile
  blackbox-exporter/trivyignore
  blackbox-exporter/twistcliignore
  blackbox-exporter/version.txt
  curator/Dockerfile
  curator/version.txt
  git-daemon/Dockerfile
  git-daemon/version.txt
  git-sync-relay/Dockerfile
  git-sync-relay/version.txt
  git-sync/Dockerfile
  git-sync/version.txt
  init/Dockerfile
  init/version.txt
  nats-exporter/Dockerfile
  nats-exporter/trivyignore
  nats-exporter/twistcliignore
  nats-exporter/version.txt
  nats-server/Dockerfile
  nats-server/trivyignore
  nats-server/version.txt
  nats-streaming/Dockerfile
  nats-streaming/trivyignore
  nats-streaming/twistcliignore
  nats-streaming/version.txt
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
  pgbouncer-krb/Dockerfile
  pgbouncer-krb/version.txt
  postgres-exporter/Dockerfile
  postgres-exporter/trivyignore
  postgres-exporter/version.txt
  registry/Dockerfile
  registry/version.txt
Due: awsesproxy, blackbox-exporter, curator, git-daemon, git-sync, git-sync-relay, init, nats-exporter, nats-server, nats-streaming, pgbouncer-exporter, pgbouncer-krb, postgres-exporter, registry

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
