Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Try to reduce registry CVEs
  registry/Dockerfile
Due: registry

Copy from upstream registry 2.8.3
  registry/Dockerfile
Due: registry

registry 3.20.5-1
  registry/version.txt
Due: registry

Update twistlockignore with current CVEs
  registry/twistcliignore
Due: registry

Update trivyignore with current CVEs
  registry/trivyignore
Due: registry

Update trivyignore
  registry/trivyignore
Due: registry

Update twistcliignore
  registry/twistcliignore
Due: registry

removig comments from tests
  kube-rbac-proxy/test.yaml
Due: none

add cmd to docker
  kube-rbac-proxy/Dockerfile
  kube-rbac-proxy/test.yaml
Due: none

add entrypoint
  kube-rbac-proxy/Dockerfile
Due: none

add dockerfile
  docker-compose.yaml
  kube-rbac-proxy/Dockerfile
  kube-rbac-proxy/entrypoint.sh
  kube-rbac-proxy/test.yaml
Due: none

make entrypoint executable
  kube-rbac-proxy/entrypoint.sh
Due: none

adding dockerfile
  kube-rbac-proxy/Dockerfile
Due: none

Add a bunch of license data
  alertmanager/metadata.yaml
  auth-sidecar/metadata.yaml
  awsesproxy/metadata.yaml
  blackbox-exporter/metadata.yaml
  configmap-reloader/metadata.yaml
  curator/metadata.yaml
  dogstatsd/metadata.yaml
  elasticsearch-exporter/metadata.yaml
  elasticsearch/metadata.yaml
  fluentd/metadata.yaml
  grafana/metadata.yaml
  keda-metrics-apiserver/metadata.yaml
  keda/metadata.yaml
  kibana/metadata.yaml
  kube-state/metadata.yaml
  nats-exporter/metadata.yaml
  nats-server/metadata.yaml
  nats-streaming/metadata.yaml
  nginx-es/metadata.yaml
  nginx/metadata.yaml
  node-exporter/metadata.yaml
  openresty/metadata.yaml
  pgbouncer-exporter/metadata.yaml
  pgbouncer/metadata.yaml
  postgres-exporter/metadata.yaml
  postgres-operator/metadata.yaml
  postgresql/metadata.yaml
  prometheus/metadata.yaml
  python/metadata.yaml
  redis/metadata.yaml
  registry/metadata.yaml
  statsd-exporter/metadata.yaml
  vector/metadata.yaml
Due: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, grafana, keda, keda-metrics-apiserver, kibana, kube-state, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

add git clone and multistage in dockerfile
  kube-rbac-proxy/Dockerfile
Due: none

Add a bunch of license data (#944)
  alertmanager/metadata.yaml
  auth-sidecar/metadata.yaml
  awsesproxy/metadata.yaml
  blackbox-exporter/metadata.yaml
  configmap-reloader/metadata.yaml
  curator/metadata.yaml
  dogstatsd/metadata.yaml
  elasticsearch-exporter/metadata.yaml
  elasticsearch/metadata.yaml
  fluentd/metadata.yaml
  grafana/metadata.yaml
  keda-metrics-apiserver/metadata.yaml
  keda/metadata.yaml
  kibana/metadata.yaml
  kube-state/metadata.yaml
  nats-exporter/metadata.yaml
  nats-server/metadata.yaml
  nats-streaming/metadata.yaml
  nginx-es/metadata.yaml
  nginx/metadata.yaml
  node-exporter/metadata.yaml
  openresty/metadata.yaml
  pgbouncer-exporter/metadata.yaml
  pgbouncer/metadata.yaml
  postgres-exporter/metadata.yaml
  postgres-operator/metadata.yaml
  postgresql/metadata.yaml
  prometheus/metadata.yaml
  python/metadata.yaml
  redis/metadata.yaml
  registry/metadata.yaml
  statsd-exporter/metadata.yaml
  vector/metadata.yaml
Due: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, grafana, keda, keda-metrics-apiserver, kibana, kube-state, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

Update kube-rbac-proxy/Dockerfile
  kube-rbac-proxy/Dockerfile
Due: none

update grafana version in Dockerfile
  grafana/Dockerfile
Due: grafana

update grafana version in version.txt
  grafana/version.txt
Due: grafana

update node-exporter version in Dockerfile
  node-exporter/Dockerfile
Due: node-exporter

update node-exporter version in version.txt
  node-exporter/version.txt
Due: node-exporter

[Software Bot]update grafana service with version 10.4.16 (#945)
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

[Software Bot]update node-exporter service with version 1.9.0 (#946)
  node-exporter/Dockerfile
  node-exporter/version.txt
Due: node-exporter

update pgbouncer version in Dockerfile
  pgbouncer/Dockerfile
Due: pgbouncer

update pgbouncer version in version.txt
  pgbouncer/version.txt
Due: pgbouncer

update nginx version in Dockerfile
  nginx/Dockerfile
Due: nginx

update nginx version in version.txt
  nginx/version.txt
Due: nginx

[Software Bot]update nginx service with version 1.11.4 (#949)
  nginx/Dockerfile
  nginx/version.txt
Due: nginx

add missing pool metrics to UME
  statsd-exporter/include/mappings-gen2.yml
  statsd-exporter/version.txt
Due: statsd-exporter

add signal handlers to sidecar_server.py script
  vector/sidecar_server.py
Due: vector

precommi fix
  vector/sidecar_server.py
Due: vector

Update vector/sidecar_server.py
  vector/sidecar_server.py
Due: vector

adding trivyignore and twistcli
  vector/trivyignore
  vector/twistcliignore
Due: vector

pre-commit
  vector/trivyignore
  vector/twistcliignore
Due: vector

add signal handlers to sidecar_server.py script (#951)
  vector/sidecar_server.py
  vector/trivyignore
  vector/twistcliignore
Due: vector

alertmanager v0.28.0, ap-base 3.21.2
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
