Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, git-sync-relay, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

upgrade version nginx-es
  nginx-es/version.txt
Due: nginx-es

Update Nginx and Nginx-es for CVE remediation (#1071)
  nginx-es/version.txt
  nginx/Dockerfile
  nginx/version.txt
Due: nginx, nginx-es

update authsidecar version
  auth-sidecar/version.txt
Due: auth-sidecar

Update AuthSidecar image (#1072)
  auth-sidecar/version.txt
Due: auth-sidecar

add ca certificate
  prometheus/Dockerfile
Due: prometheus

version updaet
  prometheus/version.txt
Due: prometheus

add entrypoint
  prometheus/entrypoint.sh
Due: prometheus

add dockerfile
  prometheus/Dockerfile
Due: prometheus

update prometheus
  prometheus/entrypoint.sh
Due: prometheus

remove stage
  curator/Dockerfile
Due: curator

remove extra space
  prometheus/Dockerfile
Due: prometheus

add temp root
  curator/Dockerfile
Due: curator

ADD CA certificate in prometheus (#1073)
  prometheus/Dockerfile
  prometheus/entrypoint.sh
  prometheus/version.txt
Due: prometheus

update openssl
  curator/Dockerfile
Due: curator

correct test
  bin/test.py
Due: none

Add chainguard base image for Curator to resolve CVE-2025-3277 (#1068)
  bin/test.py
  curator/Dockerfile
  curator/version.txt
Due: curator

update alertmanager trivy
  alertmanager/trivyignore
Due: alertmanager

update
  alertmanager/test.yaml
Due: alertmanager

statsd
  statsd-exporter/Dockerfile
  statsd-exporter/version.txt
Due: statsd-exporter

update base
  git-daemon/Dockerfile
  git-daemon/version.txt
Due: git-daemon

update version
  alertmanager/version.txt
Due: alertmanager

update base
  alertmanager/Dockerfile
Due: alertmanager

version update
  nats-server/version.txt
Due: nats-server

aws proxy
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

use 405
  alertmanager/test.yaml
Due: alertmanager

natsserver
  nats-server/Dockerfile
Due: nats-server

update test to use python
  bin/test.py
Due: none

awsesproxy version
  awsesproxy/version.txt
Due: awsesproxy

using curl
  bin/test.py
Due: none

add checksum
  nats-server/Dockerfile
Due: nats-server

use 'uv venv' if available.
  Makefile
Due: none

update alertmanager and test
  alertmanager/Dockerfile
  bin/test.py
Due: alertmanager

Satisfy pre-commit
  bin/test.py
Due: none

nast 2.11.10
  nats-server/Dockerfile
  nats-server/version.txt
Due: nats-server

Fix port open test
  alertmanager/test.yaml
  bin/test.py
Due: alertmanager

update test
  alertmanager/test.yaml
Due: alertmanager

out test back
  alertmanager/test.yaml
  bin/test.py
Due: alertmanager

Bump version of openresty to force a rebuild
  openresty/version.txt
Due: openresty

Update ruff, use modern hook keyword
  .pre-commit-config.yaml
Due: none

add http test
  bin/test.py
Due: none

Path conditions:
  alertmanager: any of: alertmanager/.*
  auth-sidecar: any of: auth-sidecar/.*
  awsesproxy: any of: awsesproxy/.*
  blackbox-exporter: any of: blackbox-exporter/.*
  configmap-reloader: any of: configmap-reloader/.*
  curator: any of: curator/.*
  dind-golang: any of: dind-golang/.*
  dogstatsd: any of: dogstatsd/.*
  elasticsearch: any of: elasticsearch/.*
  elasticsearch-exporter: any of: elasticsearch-exporter/.*
  fluentd: any of: fluentd/.*
  git-daemon: any of: git-daemon/.*
  git-sync: any of: git-sync/.*
  git-sync-relay: any of: git-sync-relay/.*
  grafana: any of: grafana/.*
  init: any of: init/.*
  keda: any of: keda/.*
  keda-metrics-apiserver: any of: keda-metrics-apiserver/.*
  kibana: any of: kibana/.*
  kube-state: any of: kube-state/.*
  kubed: any of: kubed/.*
  nats-exporter: any of: nats-exporter/.*
  nats-server: any of: nats-server/.*
  nats-streaming: any of: nats-streaming/.*
  nginx: any of: nginx/.*
  nginx-es: any of: nginx-es/.*
  node-exporter: any of: node-exporter/.*
  openresty: any of: openresty/.*
  pgbouncer: any of: pgbouncer/.*
  pgbouncer-exporter: any of: pgbouncer-exporter/.*
  pgbouncer-krb: any of: pgbouncer-krb/.*
  po-logical-backup: any of: po-logical-backup/.*
  po-pgbouncer: any of: po-pgbouncer/.*
  po-spilo: any of: po-spilo/.*
  postgres-exporter: any of: postgres-exporter/.*
  postgres-operator: any of: postgres-operator/.*
  postgresql: any of: postgresql/.*
  prometheus: any of: prometheus/.*
  redis: any of: redis/.*
  registry: any of: registry/.*
  statsd-exporter: any of: statsd-exporter/.*
  vector: any of: vector/.*
