Repository astronomer/ap-vendor: changes, and which CircleCI parameters are due for each by the changed paths.
All: alertmanager, auth-sidecar, awsesproxy, blackbox-exporter, configmap-reloader, curator, dind-golang, dogstatsd, elasticsearch, elasticsearch-exporter, fluentd, git-daemon, git-sync, grafana, init, keda, keda-metrics-apiserver, kibana, kube-state, kubed, nats-exporter, nats-server, nats-streaming, nginx, nginx-es, node-exporter, openresty, pgbouncer, pgbouncer-exporter, pgbouncer-krb, po-logical-backup, po-pgbouncer, po-spilo, postgres-exporter, postgres-operator, postgresql, prometheus, redis, registry, statsd-exporter, vector

.circleci/config.yml:

# Warning: automatically generated file
# Please edit .circleci/config.yml.j2, then run bin/generate_circleci_config.py

---
version: 2.1

setup: true

orbs:
  python: circleci/python@2.0.3
  path-filtering: circleci/path-filtering@0.1.3

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.9

parameters:
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
  generate-config:
    jobs:
      - run_pre_commit
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            alertmanager/.* alertmanager true
            auth-sidecar/.* auth-sidecar true
            awsesproxy/.* awsesproxy true
            blackbox-exporter/.* blackbox-exporter true
            configmap-reloader/.* configmap-reloader true
            curator/.* curator true
            dind-golang/.* dind-golang true
            dogstatsd/.* dogstatsd true
            elasticsearch/.* elasticsearch true
            elasticsearch-exporter/.* elasticsearch-exporter true
            fluentd/.* fluentd true
            git-daemon/.* git-daemon true
            git-sync/.* git-sync true
            grafana/.* grafana true
            init/.* init true
            keda/.* keda true
            keda-metrics-apiserver/.* keda-metrics-apiserver true
            kibana/.* kibana true
            kube-state/.* kube-state true
            kubed/.* kubed true
            nats-exporter/.* nats-exporter true
            nats-server/.* nats-server true
            nats-streaming/.* nats-streaming true
            nginx/.* nginx true
            nginx-es/.* nginx-es true
            node-exporter/.* node-exporter true
            openresty/.* openresty true
            pgbouncer/.* pgbouncer true
            pgbouncer-exporter/.* pgbouncer-exporter true
            pgbouncer-krb/.* pgbouncer-krb true
            po-logical-backup/.* po-logical-backup true
            po-pgbouncer/.* po-pgbouncer true
            po-spilo/.* po-spilo true
            postgres-exporter/.* postgres-exporter true
            postgres-operator/.* postgres-operator true
            postgresql/.* postgresql true
            prometheus/.* prometheus true
            redis/.* redis true
            registry/.* registry true
            statsd-exporter/.* statsd-exporter true
            vector/.* vector true

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2022-01
    steps:
      - checkout
      - run:
          name: Create pre-commit-cache-key.txt
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure

pgbouncer-exporter 0.15.0 (#575)
  pgbouncer-exporter/Dockerfile
  pgbouncer-exporter/version.txt
Due: pgbouncer-exporter

update git sync 3.6.9
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

update git sync 3.6.9 (#577)
  git-sync/Dockerfile
  git-sync/version.txt
Due: git-sync

Delete all datasources from grafana dashboards. This may be too heavy handed.
  grafana/include/airflow-containers.json
  grafana/include/airflow-database-activity.json
  grafana/include/airflow-overview.json
  grafana/include/airflow-scheduler.json
  grafana/include/airflow-state.json
  grafana/include/astronomer-houston.json
  grafana/include/docker-registry.json
  grafana/include/elasticsearch.json
  grafana/include/fluentd-2022-02.json
  grafana/include/fluentd.json
  grafana/include/kubernetes-pods-metrics.json
  grafana/include/nats-dash.json
  grafana/include/nginx-ingress.json
  grafana/include/platform-overview-2022-01-26.json
  grafana/include/platform-overview.json
  grafana/include/prometheus.json
  grafana/include/stan-dash.json
Due: grafana

Bump grafana version
  grafana/Dockerfile
  grafana/version.txt
Due: grafana

update trivyignore
  grafana/trivyignore
Due: grafana

Delete dashboard "id" keys
  grafana/include/astronomer-houston.json
  grafana/include/fluentd-2022-02.json
  grafana/include/platform-overview-2022-01-26.json
Due: grafana

Add pre-commit hook with grep for problematic data source
  .pre-commit-config.yaml
Due: none

Delete all datasources from grafana dashboards. (#578)
  .pre-commit-config.yaml
  grafana/Dockerfile
  grafana/include/airflow-containers.json
  grafana/include/airflow-database-activity.json
  grafana/include/airflow-overview.json
  grafana/include/airflow-scheduler.json
  grafana/include/airflow-state.json
  grafana/include/astronomer-houston.json
  grafana/include/docker-registry.json
  grafana/include/elasticsearch.json
  grafana/include/fluentd-2022-02.json
  grafana/include/fluentd.json
  grafana/include/kubernetes-pods-metrics.json
  grafana/include/nats-dash.json
  grafana/include/nginx-ingress.json
  grafana/include/platform-overview-2022-01-26.json
  grafana/include/platform-overview.json
  grafana/include/prometheus.json
  grafana/include/stan-dash.json
  grafana/trivyignore
  grafana/version.txt
Due: grafana

update ap-base 3.18.3 and curator verion 8.0.0
  curator/Dockerfile
Due: curator

update curator version 8.0.8
  curator/version.txt
Due: curator

update curator version 8.0.0 (#580)
  curator/Dockerfile
  curator/version.txt
Due: curator

fluentd 1.16.2 and other version bumps
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update alertmanager version 0.26.0
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

update alertmanager version 0.26.0 (#582)
  alertmanager/Dockerfile
  alertmanager/version.txt
Due: alertmanager

update fluentd version 1.16.2
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update fluentd version 1.16.2 (#583)
  fluentd/include/Gemfile.lock
  fluentd/version.txt
Due: fluentd

update awsesproxy 1.3 -> 1.5
  awsesproxy/Dockerfile
  awsesproxy/version.txt
Due: awsesproxy

update trivyignore
  awsesproxy/trivyignore
Due: awsesproxy

update awsesproxy 1.3 -> 1.5 (#584)
  awsesproxy/Dockerfile
  awsesproxy/trivyignore
  awsesproxy/version.txt
Due: awsesproxy

update awsesproxy tag to match sematicversion
  awsesproxy/version.txt
Due: awsesproxy

update awsesproxy tag to match sematicversion (#585)
  awsesproxy/version.txt
Due: awsesproxy

update postgresql 11.18.0 base image
  postgresql/Dockerfile
  postgresql/version.txt
Due: postgresql

update trivyignore
  .circleci/continue-config.yml
  .circleci/continue-config.yml.j2
  postgresql/trivyignore
Due: postgresql

update docker registry version 2.8.2
  registry/Dockerfile
  registry/version.txt
Due: registry

update registry docker file
  registry/Dockerfile
Due: registry

update docker registry version 2.8.2 (#586)
  registry/Dockerfile
  registry/version.txt
Due: registry

update registry version 2.8.2 with alpine 3.18.3
  registry/Dockerfile
  registry/parser.go
Due: registry

update dockerfile
  registry/Dockerfile
Due: registry

update base image to 3.18.3
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  init/Dockerfile
  init/version.txt
Due: blackbox-exporter, init

update base image to 3.18.3 (#588)
  blackbox-exporter/Dockerfile
  blackbox-exporter/version.txt
  init/Dockerfile
  init/version.txt
Due: blackbox-exporter, init

update curator patch version
  curator/version.txt
Due: curator

curator 8.0.8-1 (#589)
  curator/version.txt
Due: curator

update registry version 2.8.2 with alpine 3.18.3 (#587)
  registry/Dockerfile
  registry/parser.go
Due: registry

simplify registry build
  registry/Dockerfile
  registry/version.txt
Due: registry

remove unused config
  registry/Dockerfile
Due: registry

simplify registry build and support gcs backend (#590)
  registry/Dockerfile
  registry/version.txt
Due: registry

Add curl to api-init
  init/Dockerfile
Due: init

ap-init 3.18.3-1
  init/version.txt
Due: init
